Repository BinaryStudioAcademy/bsa-2022-autoline: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:tests:js, yarn lint:backend:js, yarn lint:frontend:css, yarn lint:frontend:js

fix viewed car commponents, moved them to the same folder
  frontend/src/components/viewed-cars/components/short-car-card/short-car-card.tsx
  frontend/src/components/viewed-cars/components/short-car-card/styles.module.scss
  frontend/src/components/viewed-cars/components/viewed-cars-grid/style.module.scss
  frontend/src/components/viewed-cars/components/viewed-cars-grid/viewed-cars-grid.tsx
  frontend/src/components/viewed-cars/styles.module.scss
  frontend/src/components/viewed-cars/viewed-cars.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

Fixed useEffect dependencies
  frontend/src/components/edit-profile/edit-profile.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Fixed order of the props
  frontend/src/components/edit-profile/dialog-delete-account/dialog-delete-account.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Added edit page frontend
  frontend/src/components/edit-profile/dialog-delete-account/dialog-delete-account.tsx
  frontend/src/components/edit-profile/edit-profile.tsx
  frontend/src/components/edit-profile/form-input-text/form-input-text.tsx
  frontend/src/components/edit-profile/form-input-text/styles.module.scss
  frontend/src/components/edit-profile/select-years-range/select-years-range.tsx
  frontend/src/components/edit-profile/styles.module.scss
  frontend/src/components/header/private-elements/private-elements.tsx
  frontend/src/hooks/app-form/app-form.hook.ts
  frontend/src/store/queries/api-routes.ts
  frontend/src/store/queries/user/update-user.ts
  frontend/yarn.lock
  shared/src/common/enums/api/api-path.enum.ts
  shared/src/common/types/types.ts
  shared/src/common/types/user/index.ts
  shared/src/common/types/user/update-user.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:frontend:css, yarn lint:frontend:js

Latest fixes
  frontend/src/components/edit-profile/edit-profile.tsx
  frontend/src/components/edit-profile/select-years-range/select-year-range.tsx
  frontend/src/components/edit-profile/styles.module.scss
  frontend/src/components/header/private-elements/private-elements.tsx
  frontend/src/store/queries/user/update-user.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

Added Edit Page
  frontend/src/assets/images/edit-profile/cross.svg
  frontend/src/assets/images/edit-profile/default-avatar.png
  frontend/src/assets/images/edit-profile/pencil.svg
  frontend/src/assets/images/edit-profile/trash.svg
  frontend/src/common/types/button/button.ts
  frontend/src/components/common/button-fill/button-fill.tsx
  frontend/src/components/edit-profile/edit-profile.tsx
  frontend/src/components/edit-profile/form-input-text/form-input-text.tsx
  frontend/src/components/edit-profile/form-input-text/styles.module.scss
  frontend/src/components/edit-profile/select-years-range/select-years-range.tsx
  frontend/src/components/edit-profile/select-years-range/styles.module.scss
  frontend/src/components/edit-profile/sign-in/sign-in.tsx
  frontend/src/components/edit-profile/sign-in/styles.module.scss
  frontend/src/components/edit-profile/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

Some fixes
  frontend/src/components/edit-profile/edit-profile.tsx
  frontend/src/components/edit-profile/select-field-form/select-field-form.tsx
  frontend/src/components/edit-profile/select-field-form/select-field-form.type.ts
  frontend/src/components/edit-profile/select-field-form/styles.module.scss
  frontend/src/components/edit-profile/select-years-range/select-year-range.tsx
  frontend/src/store/queries/user/update-user.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

corrections according to review
  frontend/src/common/types/top-cars-mock/top-cars.ts
  frontend/src/common/types/types.ts
  frontend/src/components/landing-page/landing-page.tsx
  frontend/src/components/landing-page/mock-new-cars.ts
  frontend/src/components/landing-page/mock-top-cars.ts
  frontend/src/components/top-car-card/top-car-card.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

conflict resolving
  frontend/src/components/top-car-card/top-car-card.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

update return type
  backend/src/services/cars/cars-local-search.service.ts
  shared/src/common/types/cars/search-result.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:backend:js

fix connecting InputFiel to verification-failed page
  frontend/src/components/mail-verification/verification-failed/mail-verification-failed.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

added like functionality
  backend/src/controllers/complectations/complectations.controller.ts
  backend/src/routes/complectations/complectations.router.ts
  backend/src/services/complectations/complectations.service.ts
  frontend/src/components/details-car-panel/details-car-panel.tsx
  frontend/src/components/details-car-panel/styles.module.scss
  frontend/src/store/queries/details-panel.ts
  frontend/src/store/queries/index.ts
  frontend/src/store/queries/preferences/wishlist/index.ts
  shared/src/common/types/complectations/complectations.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:backend:js, yarn lint:frontend:css, yarn lint:frontend:js

added type EmailRequestData
  frontend/src/common/types/mail-verification/email-verification.ts
  frontend/src/common/types/types.ts
  frontend/src/components/mail-verification/verification-failed/mail-verification-failed.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

changed get new cars logic
  backend/api-autoria/cars/fetched-data/fetched-data.ts
  backend/prisma/migrations/20220826134510_added_created_at_to_model_table/migration.sql
  backend/prisma/schema.prisma
  backend/src/controllers/new-cars/new-cars.ts
  backend/src/helpers/new-cars/new-cars-helper.ts.ts
  backend/src/routes/new-cars/new-cars.router.ts
  backend/src/services/new-cars/new-cars.service.ts
  frontend/src/components/landing-page/landing-page.tsx
  frontend/src/components/landing-page/mock-new-cars.ts
  frontend/src/components/landing-page/mock-top-cars.ts
  frontend/src/components/top-car-card/top-car-card.tsx
  frontend/src/store/queries/new-cars.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js, yarn lint:frontend:js

conflict resolving, added button instead img
  frontend/src/components/compare-toast/styles.module.scss
  frontend/src/components/landing-page/landing-page.tsx
  frontend/src/components/mail-verification/verification-failed/mail-verification-failed.tsx
  frontend/src/components/new-car-card/new-car-card.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

conflict resolving
  backend/api-autoria/cars/fetched-data/fetched-data.ts
  package.json
  yarn.lock
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

conflict resolving
  yarn.lock
Due: yarn lint:editorconfig && yarn lint:fs

fix landing page styles for big screens
  frontend/src/assets/css/form.scss
  frontend/src/assets/css/mixins.scss
  frontend/src/assets/css/variables.scss
  frontend/src/components/cars-categories/slider-nav-button/styles.module.scss
  frontend/src/components/cars-categories/styles.module.scss
  frontend/src/components/landing-page/components/header/header.tsx
  frontend/src/components/landing-page/components/header/styles.module.scss
  frontend/src/components/landing-page/landing-page.tsx
  frontend/src/components/landing-page/styles.module.scss
  frontend/src/components/new-car-card/styles.module.scss
  frontend/src/components/top-car-card/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

change slogan on landing page
  frontend/src/components/landing-page/landing-page.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

add model and complectation details types
  shared/src/common/types/cars/cars.ts
  shared/src/common/types/cars/complectation.ts
  shared/src/common/types/cars/model.ts
  shared/src/common/types/types.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js

add models and complectations details endpoints
  backend/src/controllers/cars/cars.controller.ts
  backend/src/routes/cars/cars.router.ts
  backend/src/services/cars/cars.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

added two cars to seed
  backend/api-autoria/cars/cars-data.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

added message component when the list is empty
  frontend/src/components/viewed-cars/styles.module.scss
  frontend/src/components/viewed-cars/viewed-cars.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

fix complectations query
  backend/src/services/cars/cars.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

refactoring: fix typo, delete comments
  backend/src/controllers/cars/cars.controller.ts
  shared/src/common/types/cars/model.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:backend:js

delete redundant fields
  backend/src/services/cars/cars.service.ts
  shared/src/common/types/cars/model.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:backend:js

update migrations
  backend/prisma/migrations/20220825083258_prices_range_table/migration.sql
  backend/prisma/schema.prisma
Due: yarn lint:editorconfig && yarn lint:fs

New types & enums
  frontend/src/common/enums/cars/filter-names.enum.ts
  frontend/src/common/types/car-filter/autocomplete.type.ts
  frontend/src/common/types/car-filter/brand-details.type.ts
  frontend/src/common/types/car-filter/brand.type.ts
  frontend/src/common/types/car-filter/checkbox-list-data.type.ts
  frontend/src/common/types/car-filter/range-filters.type.ts
  frontend/src/common/types/car-filter/range-value.type.ts
  frontend/src/common/types/cars/checkbox-list-data.type.ts
  frontend/src/common/types/cars/filters.type.ts
  frontend/src/common/types/cars/range-item.type.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Changes in helpers
  frontend/src/helpers/car-filter/range-filters-to-object.ts
  frontend/src/helpers/filters-to-query.ts
  frontend/src/helpers/get-value-by-id.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Changed simple-auto-filter.tsx
  frontend/src/components/simple-auto-filter/simple-auto-filter.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Changed advanced-auto-filter.tsx and common component brand-details.tsx
  frontend/src/components/advanced-auto-filter/advanced-auto-filter.tsx
  frontend/src/components/advanced-auto-filter/brand-details/brand-details.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Changed common components
  frontend/src/components/cars-categories/cars-categories.tsx
  frontend/src/components/common/autocomplete-input/autocomplete-input.tsx
  frontend/src/components/common/checkbox-list/checkbox-list.tsx
  frontend/src/components/common/range-selector/range-selector.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Changed filter slice structure, added actions
  frontend/src/store/car-filter/slice.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Created component applied-filters-bar.tsx
  frontend/package.json
  frontend/src/components/applied-filters-bar/applied-filters-bar.tsx
  frontend/src/components/applied-filters-bar/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

Fixed range selector local state after deleting values in global state
  frontend/src/components/common/range-selector/range-selector.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

change oauth buttons' title
  frontend/src/components/sign/components/sign-with-oauth/sign-with-oauth.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

fix lint errors
  frontend/src/common/types/mail-verification/email-verification.ts
  frontend/src/components/mail-verification/verification-failed/mail-verification-failed.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Changed 'Search' button logic in the simple form
  frontend/package.json
  frontend/src/components/simple-auto-filter/simple-auto-filter.tsx
  frontend/src/store/queries/cars/index.ts
  frontend/src/store/queries/index.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Path conditions:
  prettier --write: any of: *.{ts,tsx,html,json,md}
  yarn lint:editorconfig && yarn lint:fs: any of: *
  yarn lint:shared:js: any of: shared/**/*.ts
  yarn lint:tests:js: any of: tests/**/*.ts
  yarn lint:backend:js: any of: backend/**/*.ts
  yarn lint:frontend:css: any of: frontend/**/*.scss
  yarn lint:frontend:js: any of: frontend/**/*.{ts,tsx}
