Repository BinaryStudioAcademy/bsa-2022-autoline: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:tests:js, yarn lint:backend:js, yarn lint:frontend:css, yarn lint:frontend:js

Use SCSS nesting for the `bgImage::hover`
  frontend/src/assets/css/wrapper.scss
Due: yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css

Renamed `Failed` -> `MailVerificationFailed`
  frontend/src/components/mail-verification/verification-failed/MailVerificationFailed.tsx
  frontend/src/navigation/routing/routing.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Renamed `Success` -> `MailVerificationSuccess`
  frontend/src/components/mail-verification/verification-success/MailVerificationSuccess.tsx
  frontend/src/navigation/routing/routing.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Add wishlist counter to header
  backend/src/services/preferences/wishlist.service.ts
  frontend/src/components/header/header.tsx
  frontend/src/components/header/reminders/reminders.tsx
  shared/src/common/types/preferences/wishlist-response-dto.type.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:backend:js, yarn lint:frontend:js

Renamed verification files in kebab-case
  frontend/src/components/mail-verification/verification-failed/mail-verification-failed.tsx
  frontend/src/components/mail-verification/verification-success/mail-verification-success.tsx
  frontend/src/navigation/routing/routing.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

renamed component and file modal
  frontend/src/components/modal-compare/compare-modal.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Renamed `CompareModal` -> `CompareToast`
  frontend/src/components/compare-toast/compare-toast.tsx
  frontend/src/components/compare-toast/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

Removed commented line
  frontend/src/components/landing-page/components/header/header.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Removed commented line
  frontend/src/components/landing-page/components/header/styles.module.scss
Due: yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css

renamed component and file
  frontend/src/components/compare-toast/styles.module.scss
  frontend/src/components/compare-toast/toast.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

added users API on backend
  backend/src/controllers/users/users.controller.ts
  backend/src/routes/user/user.router.ts
  backend/src/services/users/users.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Refactoring
  frontend/src/components/header/header.tsx
  frontend/src/components/wishlist/wishlist.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Minor code style changes + visual changes
  frontend/src/components/new-car-card/styles.module.scss
  frontend/src/components/wishlist/wishlist.tsx
  frontend/src/helpers/utils/format-price.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

Fix car card styles
  frontend/src/components/new-car-card/styles.module.scss
Due: yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css

Added edit page frontend
  frontend/src/common/types/select-field/select-field.ts
  frontend/src/components/common/select-field/select-field.tsx
  frontend/src/components/edit-profile/dialog-delete-account/dialog-delete-account.tsx
  frontend/src/components/edit-profile/edit-profile.tsx
  frontend/src/components/edit-profile/form-input-text/form-input-text.tsx
  frontend/src/components/edit-profile/form-input-text/styles.module.scss
  frontend/src/components/edit-profile/select-years-range/select-years-range.tsx
  frontend/src/components/edit-profile/styles.module.scss
  frontend/src/components/header/private-elements/private-elements.tsx
  frontend/src/components/sign/components/sign-in-form/sign-in-form.tsx
  frontend/src/hooks/app-form/app-form.hook.ts
  frontend/src/store/queries/api_routes.ts
  frontend/src/store/queries/user/update-user.ts
  frontend/yarn.lock
  shared/src/common/enums/api/api-path.enum.ts
  shared/src/common/types/types.ts
  shared/src/common/types/user/index.ts
  shared/src/common/types/user/update-user.ts
  shared/yarn.lock
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:frontend:css, yarn lint:frontend:js

Add car list item
  frontend/src/components/car-list-item/car-list-item.tsx
  frontend/src/components/car-list-item/slider-nav-button/slider-nav-button.tsx
  frontend/src/components/car-list-item/slider-nav-button/styles.module.scss
  frontend/src/components/car-list-item/styles.module.scss
  frontend/src/components/car-list-item/swiper-params.ts
  frontend/src/components/landing-page/components/header/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

added comments about middleware
  backend/src/controllers/users/users.controller.ts
  backend/src/routes/user/user.router.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

rename reviewed controller/service/types/routes on viewed
  backend/src/controllers/viewed-cars/viewed-cars.controller.ts
  backend/src/routes/reviewed-cars/reviewed.router.ts
  backend/src/routes/routes.ts
  backend/src/routes/viewed-cars/viewed.router.ts
  backend/src/server.ts
  backend/src/services/viewed-cars/viewed-cars.service.ts
  shared/src/common/types/types.ts
  shared/src/common/types/viewed-cars/viewed-cars-post-dto.type.ts
  shared/src/common/types/viewed-cars/viewed-cars.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:backend:js

added import to file enums
  frontend/src/common/enums/enums.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

fix viewed-cars controller
  backend/src/services/viewed-cars/viewed-cars.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

created details panel frontend
  backend/src/controllers/model/model.controller.ts
  backend/src/routes/model/model.router.ts
  backend/src/routes/routes.ts
  backend/src/server.ts
  backend/src/services/model/model.service.ts
  frontend/src/components/details-car-panel/details-car-panel.tsx
  frontend/src/components/details-car-panel/mock-cars-data.ts
  frontend/src/components/details-car-panel/styles.module.scss
  frontend/src/navigation/routing/routing.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js, yarn lint:frontend:css, yarn lint:frontend:js

Add Compolete Set component
  frontend/src/common/enums/car/options.enum.ts
  frontend/src/common/enums/enums.ts
  frontend/src/common/types/complete-set/complete-set.ts
  frontend/src/common/types/types.ts
  frontend/src/components/common/icons/icons.tsx
  frontend/src/components/common/icons/options/options-icon.tsx
  frontend/src/components/complete-set-table/complete-set-table.tsx
  frontend/src/components/complete-set-table/mock-cars.ts
  frontend/src/components/complete-set-table/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

Minor changes
  frontend/src/common/enums/car/options.enum.ts
  frontend/src/components/complete-set-table/complete-set-table.tsx
  frontend/src/components/complete-set-table/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

Move count logic to frontend
  backend/src/services/preferences/wishlist.service.ts
  frontend/src/components/header/header.tsx
  shared/src/common/types/preferences/wishlist-response-dto.type.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:backend:js, yarn lint:frontend:js

backend for new cars - done
  backend/api-autoria/cars/fetched-data/fetched-data.ts
  backend/api-autoria/fetch-cars-data.ts
  backend/prisma/seed.ts
  backend/src/common/enums/app/route-path.enum.ts
  backend/src/common/types/new-cars/new-cars.ts
  backend/src/common/types/types.ts
  backend/src/controllers/new-cars/new-cars.ts
  backend/src/helpers/new-cars/new-cars-helper.ts
  backend/src/routes/new-cars/new-cars.router.ts
  backend/src/routes/routes.ts
  backend/src/server.ts
  backend/src/services/new-cars/new-cars.service.ts
  backend/src/services/password-validation/password-validation.service.ts
  frontend/src/common/enums/enums.ts
  frontend/src/components/common/input-field/input-field.tsx
  frontend/src/components/mail-verification/verification-failed/mail-verification-failed.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js, yarn lint:frontend:js

added tags in RTKQ for invalidating cache data, frontend fixes
  frontend/src/components/administration/administration.tsx
  frontend/src/store/queries/index.ts
  frontend/src/store/queries/users/index.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

added middleware for updating users by admin
  backend/src/controllers/users/users.controller.ts
  backend/src/routes/user/user.router.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Removed redundant `log` call
  backend/src/controllers/users/users.controller.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

created two reducers for set access token to the store and future log out logic
  frontend/src/store/auth/slice.ts
  frontend/src/store/root-reducer.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

added the redirect logic and access token storage logic
  frontend/src/components/sign/components/sign-in-form/sign-in-form.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Changed common styles, created types,enums
  frontend/package.json
  frontend/src/assets/css/form.scss
  frontend/src/assets/images/checkbox/checked.svg
  frontend/src/assets/images/checkbox/rectangle.svg
  frontend/src/common/enums/cars/filters-names.enum.ts
  frontend/src/common/enums/cars/ranges.ts
  frontend/src/common/types/cars/autocomplete.type.ts
  frontend/src/common/types/cars/brand-details.type.ts
  frontend/src/common/types/cars/brand.type.ts
  frontend/src/common/types/cars/checkbox-list-data.type.ts
  frontend/src/common/types/cars/filters.type.ts
  frontend/src/common/types/cars/range-item.type.ts
  frontend/yarn.lock
  shared/src/common/types/cars/brand.ts
  shared/src/common/types/cars/model.ts
  shared/src/common/types/cars/options.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:frontend:css, yarn lint:frontend:js

Created car-filter slice & queries for RTK Query
  frontend/src/hooks/hooks.ts
  frontend/src/hooks/store/store.hooks.ts
  frontend/src/store/car-filter/slice.ts
  frontend/src/store/queries/cars/index.ts
  frontend/src/store/root-reducer.ts
  frontend/src/store/store.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Created simple-filter & some common components
  frontend/src/components/common/autocomplete-input/autocomplete-input.tsx
  frontend/src/components/common/range-selector/range-selector.tsx
  frontend/src/components/common/range-selector/styles.module.scss
  frontend/src/components/simple-auto-filter/simple-auto-filter.tsx
  frontend/src/components/simple-auto-filter/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

Created endpoints for RTK Query
  backend/package.json
  backend/src/controllers/cars/cars.controller.ts
  backend/src/routes/cars/cars.router.ts
  backend/src/services/cars/cars.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Created advanced-filter & some common components + helpers
  frontend/src/components/advanced-auto-filter/advanced-auto-filter.tsx
  frontend/src/components/advanced-auto-filter/brand-details/brand-details.tsx
  frontend/src/components/advanced-auto-filter/styles.module.scss
  frontend/src/components/common/checkbox-list/checkbox-list.tsx
  frontend/src/components/common/checkbox-list/styles.module.scss
  frontend/src/components/common/icons/checkbox/custom-checkbox.tsx
  frontend/src/helpers/filters-to-query.ts
  frontend/src/helpers/get-value-by-id.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

Added range-selector component + icons
  frontend/src/components/common/icons/icons.tsx
  frontend/src/components/common/range-selector/range-selector.tsx
  frontend/src/store/queries/index.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

add style vars
  frontend/src/assets/css/typography.scss
  frontend/src/assets/css/variables.scss
  frontend/src/components/common/title/styles.module.scss
Due: yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css

fix style name 'toggle'
  frontend/src/assets/css/typography.scss
Due: yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css

fix font sizes h3, h4
  frontend/src/assets/css/typography.scss
Due: yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css

Path conditions:
  prettier --write: any of: *.{ts,tsx,html,json,md}
  yarn lint:editorconfig && yarn lint:fs: any of: *
  yarn lint:shared:js: any of: shared/**/*.ts
  yarn lint:tests:js: any of: tests/**/*.ts
  yarn lint:backend:js: any of: backend/**/*.ts
  yarn lint:frontend:css: any of: frontend/**/*.scss
  yarn lint:frontend:js: any of: frontend/**/*.{ts,tsx}
