Repository BinaryStudioAcademy/bsa-2022-autoline: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:tests:js, yarn lint:backend:js, yarn lint:frontend:css, yarn lint:frontend:js

.lintstagedrc.yml:

'*.{ts,tsx,html,json,md}': prettier --write
'*': yarn lint:editorconfig && yarn lint:fs
'shared/**/*.ts': yarn lint:shared:js
'tests/**/*.ts': yarn lint:tests:js
'backend/**/*.ts': yarn lint:backend:js
'frontend/**/*.scss': yarn lint:frontend:css
'frontend/**/*.{ts,tsx}': yarn lint:frontend:js

Remove DeleteWishlistInput from Details Car panel
  frontend/src/components/details-car-panel/details-car-panel.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

add oauth connect component
  frontend/src/components/edit-profile/sign-in/oauth/connect-oauth.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

add storage logic
  frontend/src/components/edit-profile/sign-in/oauth/connect-oauth.tsx
  frontend/src/components/edit-profile/sign-in/sign-in.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

removed <Model> column from filtered list
  backend/yarn.lock
  frontend/src/components/complete-set-table/complete-set-table.tsx
  yarn.lock
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

update buttons
  frontend/src/components/edit-profile/sign-in/oauth/connect-oauth.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Fixed validation schema
  shared/src/common/validation-schemas/update-user.validation-schema.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js

Fixed naming
  frontend/src/components/edit-profile/select-year-range/select-year-range.tsx
  frontend/src/components/edit-profile/select-year-range/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

Added backend functionality
  backend/src/controllers/update-user/update-user.controller.ts
  backend/src/routes/update-user/update-user.router.ts
  backend/src/services/update-user/update-user.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Added Edit Page
  frontend/src/components/edit-profile/form-input-text/form-input-text.tsx
  frontend/src/components/edit-profile/form-input-text/styles.module.scss
  frontend/src/components/edit-profile/select-years-range/select-years-range.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

Added birth_year in type of user
  shared/src/common/types/user/user.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js

Change naming from updateUserService to userService
  backend/src/controllers/update-user/update-user.controller.ts
  backend/src/services/user/user.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Added query for user information
  frontend/src/store/queries/user/update-user.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Some fixes
  frontend/src/components/edit-profile/select-years-range/select-years-range.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Added throw exception if user not exist
  backend/src/common/enums/exception/exception-message.enum.ts
  backend/src/services/user/user.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Changed name from DefaultElements to UnauthorisedElements
  frontend/src/components/header/unauthorised-elements/unauthorised-elements.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Connecting headers into one
  package.json
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs

Added fetch information about user
  frontend/src/components/edit-profile/edit-profile.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Connecting headers into one
  frontend/src/components/header/default-elements/default-elements.tsx
  frontend/src/components/header/logo/logo.module.scss
  frontend/src/components/header/logo/logo.tsx
  frontend/src/components/header/navigate/navigate.module.scss
  frontend/src/components/header/navigate/navigate.tsx
  frontend/src/components/header/private-elements/private-elements.module.scss
  frontend/src/components/header/public-elements/public-elements.module.scss
  frontend/src/components/header/public-elements/public-elements.tsx
  frontend/src/components/header/styles.module.scss
  frontend/src/components/landing-page/components/components.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

Added edit page frontend
  frontend/src/components/edit-profile/form-input-text/form-input-text.tsx
  frontend/src/components/edit-profile/form-input-text/styles.module.scss
  frontend/src/components/edit-profile/select-years-range/select-years-range.tsx
  frontend/src/components/header/private-elements/private-elements.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

Changed name from DrawerComp to DrawerComponent
  frontend/src/components/landing-page/components/drawer/drawer.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Added Edit Page
  frontend/src/components/edit-profile/form-input-text/form-input-text.tsx
  frontend/src/components/edit-profile/form-input-text/styles.module.scss
  frontend/src/components/edit-profile/select-years-range/select-years-range.tsx
  frontend/src/components/edit-profile/select-years-range/styles.module.scss
  frontend/src/components/edit-profile/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

Added edit page frontend
  frontend/src/components/edit-profile/form-input-text/form-input-text.tsx
  frontend/src/components/edit-profile/form-input-text/styles.module.scss
  frontend/src/components/edit-profile/select-years-range/select-years-range.tsx
  frontend/src/components/edit-profile/styles.module.scss
  frontend/yarn.lock
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

Some fixes
  frontend/src/components/edit-profile/select-years-range/select-year-range.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Latest fixes
  frontend/src/components/edit-profile/select-years-range/select-year-range.tsx
  frontend/src/components/edit-profile/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

fix search results
  frontend/src/components/advanced-auto-filter/advanced-auto-filter.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Fixed naming
  frontend/src/components/edit-profile/select-years-range/select-year-range.tsx
  frontend/src/components/edit-profile/select-years-range/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

Connecting headers into one
  frontend/src/components/header/default-elements/default-elements.tsx
  frontend/src/components/header/header.module.scss
  frontend/src/components/header/header.tsx
  frontend/src/components/landing-page/components/header/header.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

Fixed nullable field warnings
  frontend/src/components/edit-profile/edit-profile.tsx
  shared/src/common/validation-schemas/update-user.validation-schema.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:frontend:js

Added useSelector
  frontend/src/components/header/header.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Fixed header adaptive
  frontend/src/assets/css/form.scss
  frontend/src/components/header/private-elements/private-elements.module.scss
Due: yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css

Changed name from DefaultElements to UnauthorisedElements
  frontend/src/components/header/default-elements/default-elements.tsx
  frontend/src/components/header/header.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Removed unused
  frontend/src/components/header/header.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Fixed header menu for authorised user
  frontend/src/components/header/drawer/drawer.tsx
  frontend/src/components/header/header.tsx
  frontend/src/components/header/private-elements/private-elements.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Changed name from DrawerComp to DrawerComponent
  frontend/src/components/header/header.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Added temporary solution until logout is implemented
  frontend/src/components/edit-profile/edit-profile.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Fixed submit form with empty some fields
  backend/src/dtos/user/update-user.dto.ts
  frontend/src/components/edit-profile/edit-profile.tsx
  frontend/src/store/queries/user/update-user.ts
  shared/src/common/validation-schemas/update-user.validation-schema.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:backend:js, yarn lint:frontend:js

Fixed order of menu item and replaced Used/New car with Search
  frontend/src/components/header/drawer-item/drawer-item.tsx
  frontend/src/components/header/drawer/drawer.tsx
  frontend/src/components/header/drawer/styles.module.scss
  frontend/src/components/header/header.tsx
  frontend/src/components/header/reminders/reminders.module.scss
  frontend/src/components/header/reminders/reminders.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

Added part of adaptive for edit profile
  frontend/src/components/edit-profile/edit-profile.tsx
  frontend/src/components/edit-profile/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

Compare and fixed header adaptive for unauthorised user
  frontend/src/components/edit-profile/edit-profile.tsx
  frontend/src/components/header/drawer/drawer.tsx
  frontend/src/components/header/header.tsx
  frontend/src/components/header/private-elements/private-elements.tsx
  frontend/src/components/header/unauthorised-elements/unauthorised-elements.tsx
  frontend/yarn.lock
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Added adaptive for Edit Page
  frontend/src/components/edit-profile/styles.module.scss
Due: yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css
