Repository BinaryStudioAcademy/bsa-2022-autoline: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:tests:js, yarn lint:backend:js, yarn lint:frontend:css, yarn lint:frontend:js

conflict resolution
  backend/src/common/enums/app/env.enum.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

conflict resolution
  backend/package.json
  backend/src/routes/routes.ts
  backend/src/server.ts
  backend/src/services/mail_verification/user_security.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Changed fetcher,seeder + created and translated options-types
  .env.example/backend.env
  backend/api-autoria/cars/brands-with-models.ts
  backend/api-autoria/cars/fetched-data/fetched-data.ts
  backend/api-autoria/cars/options-types.ts
  backend/api-autoria/fetch-cars-data.ts
  backend/package.json
  backend/prisma/seed.ts
  backend/src/common/enums/app/env.enum.ts
  backend/src/dtos/cars/autoria-plain-data.dto.ts
  backend/src/dtos/cars/brand.dto.ts
  backend/tsconfig.json
  frontend/src/components/cars-categories/mock-brands.ts
  frontend/yarn.lock
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js, yarn lint:frontend:js

Created enum for options-types
  backend/api-autoria/cars/option-type.enum.ts
  backend/api-autoria/cars/options-types.ts
  backend/prisma/seed.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Simplified fetcher
  backend/api-autoria/option-type.enum.ts
  backend/prisma/seed.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

added authApi
  frontend/src/store/queries/auth.ts
  frontend/src/store/store.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Changed table Model year_end to nullable
  backend/api-autoria/cars/brands-with-models.ts
  backend/api-autoria/cars/fetched-data/fetched-data.ts
  backend/api-autoria/fetch-cars-data.ts
  backend/prisma/migrations/20220813114336_model_table_year_end_as_nullable/migration.sql
  backend/prisma/schema.prisma
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

fix/mock-brands on frontend
  frontend/src/components/cars-categories/mock-brands.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

renamed routes, pathes. new migration, corrected f-n sendMail, user service
  README.md
  backend/prisma/migrations/20220810085748_user_security/migration.sql
  backend/prisma/migrations/20220813185555_user_security/migration.sql
  backend/prisma/schema.prisma
  backend/src/common/enums/app/env.enum.ts
  backend/src/common/enums/app/route-path.enum.ts
  backend/src/controllers/mail_varification/send_link.ts
  backend/src/controllers/mail_varification/send_mail_again.ts
  backend/src/controllers/mail_varification/verification.ts
  backend/src/routes/activate-mail/activate.router.ts
  backend/src/routes/activation-link/activationLink.router.ts
  backend/src/routes/againMailActivate/againActivate.router.ts
  backend/src/routes/routes.ts
  backend/src/server.ts
  backend/src/services/auth/auth.service.ts
  backend/src/services/mail_verification/send_mail/constants.ts
  backend/src/services/mail_verification/send_mail/sendLink.ts
  backend/src/services/mail_verification/user_data.service/user.ts
  backend/src/services/mail_verification/user_data.service/user_security.ts
  frontend/src/common/enums/app/app-route.enum.ts
  frontend/src/common/enums/app/app.ts
  frontend/src/common/enums/app/links.enum.ts
  frontend/src/navigation/routing/routing.tsx
  yarn.lock
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js, yarn lint:frontend:js

deleted package-lock.json
  package-lock.json
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs

deleted local sign up route
  backend/src/routes/auth/auth.router.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

added tamplate for mail sending service
  backend/package.json
  backend/src/controllers/mail_varification/send_link.ts
  backend/src/controllers/mail_varification/verification.ts
  backend/src/services/mail_verification/send_activation_link/constants.ts
  backend/src/services/mail_verification/send_activation_link/sendLink.ts
  backend/src/services/mail_verification/send_activation_link/templates/email.hbs
  backend/src/services/mail_verification/send_mail/sendLink.ts
  backend/yarn.lock
  package.json
  yarn.lock
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

activateLinkRouter changed from get to post
  backend/src/routes/activation-link/activationLink.router.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

added query to sign in
  frontend/src/common/enums/api/api-path.enum.ts
  frontend/src/common/enums/api/api.ts
  frontend/src/common/enums/api/auth-api-path.enum.ts
  frontend/src/common/enums/enums.ts
  frontend/src/common/types/input-field/input-field.tsx
  frontend/src/components/common/input-field/input-field.tsx
  frontend/src/components/sign/components/sign-in-form/sign-in-form.tsx
  frontend/src/store/queries/auth.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Added options, prices_range to seeder & carsData
  backend/api-autoria/cars/brands-with-models.ts
  backend/api-autoria/cars/cars-data.ts
  backend/prisma/seed.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Change users_wishlist to users_wishlists
  backend/prisma/schema.prisma
Due: yarn lint:editorconfig && yarn lint:fs

addad some information to env example
  .env.example/backend.env
Due: yarn lint:editorconfig && yarn lint:fs

Replace snake case with camel case
  backend/src/common/types/prisma/prisma.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Refactor Wishlist to have single endpoint
  backend/src/controllers/preferences/wishlist.controller.ts
  backend/src/routes/preferences/wishlist.router.ts
  backend/src/services/preferences/wishlist.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

added base type for component and car data
  frontend/src/common/types/card/card.ts
  frontend/src/common/types/component/component.ts
  frontend/src/common/types/types.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

created short car card component
  frontend/src/components/short-car-card/short-car-card.tsx
  frontend/src/components/short-car-card/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

create reviewed cars block
  frontend/src/components/reviewed-cars/reviewed-cars.tsx
  frontend/src/components/reviewed-cars/styles.module.scss
  frontend/yarn.lock
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

added validation for sign in
  shared/package.json
  shared/src/validation-schemas/sign-in/sign-in.validation-schema.ts
  shared/src/validation-schemas/sign-up/sign-up.validation-schema.ts
  shared/src/validation-schemas/validation-schemas.ts
  shared/yarn.lock
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js

Added prices_range to seeder, changed schema.prisma (prices_range)
  backend/api-autoria/cars/cars-data.ts
  backend/prisma/migrations/20220815112016_prices_range_table_model_complectation_as_nullable/migration.sql
  backend/prisma/migrations/migration_lock.toml
  backend/prisma/schema.prisma
  backend/prisma/seed.ts
  backend/src/dtos/cars/autoria-plain-data.dto.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Added space before export of the AutoriaPlainDataDto class
  backend/src/dtos/cars/autoria-plain-data.dto.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Change Wishlist Input from interface to type
  backend/src/common/types/prisma/prisma.ts
  backend/src/common/types/types.ts
  backend/src/server.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

add cars search endpoint
  backend/src/routes/cars/cars.router.ts
  backend/src/routes/routes.ts
  backend/src/server.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

add cars search request params type
  shared/src/common/types/cars/cars-search-params.ts
  shared/src/common/types/types.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js

failed verification page
  frontend/src/common/enums/app/app-route.enum.ts
  frontend/src/components/mail-verification/verification-failed/failed.tsx
  frontend/src/components/mail-verification/verification-failed/styles.module.scss
  frontend/src/navigation/routing/routing.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

add cars search controller
  backend/src/controllers/cars/cars.controller.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

add cars search service
  backend/src/services/cars/carsSearch.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Split Create and Delete wishlist logic
  backend/src/controllers/preferences/wishlist.controller.ts
  backend/src/routes/preferences/wishlist.router.ts
  backend/src/services/preferences/wishlist.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

update cars search params list
  shared/src/common/types/cars/cars-search-params.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js

redux toolkit fetch request for getting verification link
  frontend/src/common/types/input-field/input-field.tsx
  frontend/src/components/common/input-field/input-field.tsx
  frontend/src/components/mail-verification/verification-failed/failed.tsx
  frontend/src/services/email-service.ts
  frontend/src/store/store.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Fix error messages and status
  backend/src/controllers/preferences/wishlist.controller.ts
  backend/src/services/preferences/wishlist.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

added app form hook
  frontend/package.json
  frontend/src/common/types/form/form-control-errors.type.ts
  frontend/src/common/types/form/form-control-path.type.ts
  frontend/src/common/types/form/form-control-values.type.ts
  frontend/src/common/types/form/form-control.type.ts
  frontend/src/common/types/form/form.ts
  frontend/src/common/types/types.tsx
  frontend/src/common/types/validation/validation.ts
  frontend/src/helpers/helpers.ts
  frontend/src/helpers/validation/get-form-validation-resolver.ts
  frontend/src/helpers/validation/validation.ts
  frontend/src/hooks/app-form/app-form.hook.ts
  frontend/yarn.lock
  shared/src/common/types/types.ts
  shared/src/common/types/validation/validation-schema.type.ts
  shared/src/common/types/validation/validation.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:frontend:js

created users viewed cars model
  backend/prisma/schema.prisma
Due: yarn lint:editorconfig && yarn lint:fs

added users viewed cars migration
  backend/prisma/migrations/20220815175307_users_viewed_cars/migration.sql
Due: yarn lint:editorconfig && yarn lint:fs

Fix use css var
  frontend/src/assets/css/variables.scss
  frontend/src/components/header/header.module.scss
  frontend/src/components/header/navigate/navigate.module.scss
  frontend/src/components/header/private-elements/private-elements.module.scss
  frontend/src/components/header/public-elements/public-elements.module.scss
  frontend/src/components/header/reminders/reminders.module.scss
Due: yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css

Fixed interface names and used mui lib
  frontend/src/common/theme/theme.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Path conditions:
  prettier --write: any of: *.{ts,tsx,html,json,md}
  yarn lint:editorconfig && yarn lint:fs: any of: *
  yarn lint:shared:js: any of: shared/**/*.ts
  yarn lint:tests:js: any of: tests/**/*.ts
  yarn lint:backend:js: any of: backend/**/*.ts
  yarn lint:frontend:css: any of: frontend/**/*.scss
  yarn lint:frontend:js: any of: frontend/**/*.{ts,tsx}
