Repository BinaryStudioAcademy/bsa-2022-autoline: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:tests:js, yarn lint:backend:js, yarn lint:frontend:css, yarn lint:frontend:js

.lintstagedrc.yml:

'*.{ts,tsx,html,json,md}': prettier --write
'*': yarn lint:editorconfig && yarn lint:fs
'shared/**/*.ts': yarn lint:shared:js
'tests/**/*.ts': yarn lint:tests:js
'backend/**/*.ts': yarn lint:backend:js
'frontend/**/*.scss': yarn lint:frontend:css
'frontend/**/*.{ts,tsx}': yarn lint:frontend:js

fixed viewed cars
  backend/src/helpers/viewed-cars/viewed-cars.ts
  backend/src/services/viewed-cars/viewed-cars.service.ts
  frontend/src/components/viewed-cars/components/short-car-card/short-car-card.tsx
  shared/src/common/types/viewed-cars/viewed-cars-post-dto.type.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:backend:js, yarn lint:frontend:js

fixed id
  shared/src/common/types/viewed-cars/viewed-cars-post-dto.type.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js

Bug_75: On the search page, the transition to the detailed page by complectation works only for Mazda 6
  frontend/src/components/complete-set-table/complete-set-table-collapsed.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

added corrected CarPreview type
  backend/src/services/preferences/wishlist.service.ts
  frontend/src/components/new-car-card/new-car-card.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js, yarn lint:frontend:js

corrected CarPreview type in shared folder
  shared/src/common/types/cars/model.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js

deleted notused code
  backend/src/services/preferences/wishlist.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

changed users-viewed-cars model, created migration
  backend/prisma/migrations/20220911164915_fix_user_viewed_cars/migration.sql
  backend/prisma/schema.prisma
Due: yarn lint:editorconfig && yarn lint:fs

removed model id field in viewed cars types
  shared/src/common/types/viewed-cars/viewed-cars-post-dto.type.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js

changed viewed car service, removed the need for model id
  backend/src/services/viewed-cars/viewed-cars.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

changed viewed-cars controller, remove the model id field in query
  backend/src/controllers/viewed-cars/viewed-cars.controller.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

deleted model id field to request to add a car to the history of viewed cars
  frontend/src/components/details-page/details-page.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

fix likes left white after login
  frontend/src/components/header/header.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

fix header tabs incorrect behaviour
  frontend/src/components/header/header.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Moved the notification down
  frontend/src/components/common/notification/styles.module.scss
Due: yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css

fix access to search and details page for unauth users
  frontend/src/navigation/routing/routing.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

add redirect to sign in on comparison click for unauth users
  frontend/src/contexts/compare-context.tsx
  frontend/src/store/queries/comparisons/index.ts
  frontend/src/store/queries/preferences/middlewares.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Simplified conditions
  frontend/src/helpers/object-to-query.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Removed unnecessary spread operator
  backend/src/services/cars/cars-local-search.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

added UAH price
  frontend/src/components/car-list-item/car-list-item.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

fix bug 83
  frontend/src/components/car-list-item/car-list-item.tsx
  frontend/src/components/car-list-item/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

created new types for complectation request
  shared/src/common/types/complectations/complectations.ts
  shared/src/common/types/types.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js

created helper function for transform dto data
  backend/src/helpers/cars/cars.ts
  backend/src/helpers/cars/complectation.helper.ts
  backend/src/helpers/helpers.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

created complectation short info service
  backend/src/services/complectations/complectations.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

create complectation short info controller
  backend/src/controllers/complectations/complectations.controller.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

added new route for getting complectation short info
  backend/src/routes/complectations/complectations.router.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Make scroll smooth
  frontend/src/components/user-info-panel/user-info-panel.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Make forgot password routes public
  frontend/src/navigation/routing/routing.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Reset filters in simple form rendering
  frontend/src/components/simple-auto-filter/simple-auto-filter.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

remove hover
  frontend/src/components/complete-set-table/styles.module.scss
Due: yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css

mobile layout for detailed page
  frontend/src/components/characteristics-list/characteristics-group/styles.module.scss
  frontend/src/components/characteristics-list/characteristics-list.tsx
  frontend/src/components/characteristics-list/styles.module.scss
  frontend/src/components/details-car-panel/styles.module.scss
  frontend/src/components/details-page/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

delete hover on header pills
  frontend/src/components/details-car-panel/styles.module.scss
Due: yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css

fixed size
  frontend/src/components/comparison-options-table/options-subtable.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Changed logic how to search results when selecting two brands with model
  backend/src/services/cars/cars-local-search.service.ts
  frontend/src/store/selectors/car-filter-selectors.ts
  shared/src/common/types/cars/cars-search-params.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:backend:js, yarn lint:frontend:js

add live updates for comparisons
  frontend/src/components/comp-top-table-bar/comp-top-table-bar.tsx
  frontend/src/components/comp-top-table-bar/components/comparison.tsx
  frontend/src/contexts/compare-context.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

corrected label for start year
  frontend/src/components/edit-profile/edit-profile.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Refactored header by replacing Tab with NavLink
  frontend/src/components/header/header.tsx
  frontend/src/components/header/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

Align page content to the left
  frontend/src/components/comparison-page/styles.module.scss
Due: yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css

Refactored header by replacing Tab with NavLink
  frontend/src/components/header/header.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

hide empty options tables
  frontend/src/components/comparison-page/comparison-page.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

add live update for general table
  frontend/src/components/general-comparison-table/general-comparison-table.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js
