Repository BinaryStudioAcademy/bsa-2022-autoline: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:tests:js, yarn lint:backend:js, yarn lint:frontend:css, yarn lint:frontend:js

.lintstagedrc.yml:

'*.{ts,tsx,html,json,md}': prettier --write
'*': yarn lint:editorconfig && yarn lint:fs
'shared/**/*.ts': yarn lint:shared:js
'tests/**/*.ts': yarn lint:tests:js
'backend/**/*.ts': yarn lint:backend:js
'frontend/**/*.scss': yarn lint:frontend:css
'frontend/**/*.{ts,tsx}': yarn lint:frontend:js

add 'autoria cars details' to prisma schema
  backend/prisma/migrations/20220916090124_add_autoria_cars_details/migration.sql
  backend/prisma/schema.prisma
Due: yarn lint:editorconfig && yarn lint:fs

fix table clearing
  frontend/src/components/comp-top-table-bar/comp-top-table-bar.tsx
  frontend/src/components/comp-top-table-bar/components/comparison.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

fixes
  frontend/src/components/notifications/notifications.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

added format ptrice
  frontend/src/components/car-list-item/car-list-item.tsx
  frontend/src/components/comp-top-table-bar/components/complectation.tsx
  frontend/src/components/details-car-panel/details-car-panel.tsx
  frontend/src/components/top-car-card/top-car-card.tsx
  frontend/src/helpers/utils/convert-price.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

renamed to Top Autoline + renamed components
  frontend/src/components/landing-page/landing-page.tsx
  frontend/src/components/search-page/search-page.tsx
  frontend/src/components/top-cars-autoria/top-cars-autoline.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

added styles for mobile version
  frontend/src/components/comparison-popup/styles.module.scss
Due: yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css

add scrollbar to top table
  frontend/src/components/comp-top-table-bar/comp-top-table-bar.tsx
  frontend/src/components/comp-top-table-bar/components/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

fix type
  frontend/src/components/details-car-panel/details-car-panel.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

add updating AutoRia details for cars
  backend/src/common/types/cars/autoria-request-params.ts
  backend/src/server.ts
  backend/src/services/cars/cars-autoria-details.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

change text and price color for no ads
  frontend/src/components/comp-top-table-bar/components/complectation.tsx
  frontend/src/components/comp-top-table-bar/components/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

Added prices to general infornation table
  frontend/src/assets/css/variables.scss
  frontend/src/components/general-comparison-table/general-comparison-table.tsx
  frontend/src/components/general-comparison-table/styles.module.scss
  frontend/src/helpers/car-prices.ts
  frontend/src/helpers/helpers.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

add hashlink to <where to buy> section
  frontend/src/components/comp-top-table-bar/components/complectation.tsx
  frontend/src/components/details-page/details-page.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

changed photo for about us page
  frontend/src/assets/images/team/serhii-tarasuik.jpg
Due: yarn lint:editorconfig && yarn lint:fs

add router, controller and service for 'autoria viewed cars'
  backend/src/controllers/autoria-viewed-cars/autoria-viewed-cars.controller.ts
  backend/src/routes/autoria-viewed-cars/autoria-viewed-cars.router.ts
  backend/src/routes/routes.ts
  backend/src/server.ts
  backend/src/services/autoria-viewed-cars/autoria-viewed-cars.service.ts
  backend/src/services/cars/cars-autoria-details.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

fixes + implemented undo delete on comparison page
  backend/src/controllers/comparisons/comparisons.controller.ts
  backend/src/services/comparisons/comparisons.service.ts
  backend/src/services/preferences/wishlist.service.ts
  frontend/src/components/comp-top-table-bar/comp-top-table-bar.tsx
  frontend/src/components/comp-top-table-bar/components/comparison.tsx
  frontend/src/components/comp-top-table-bar/components/complectation.tsx
  frontend/src/contexts/compare-context.tsx
  frontend/src/contexts/wishlist-context.tsx
  frontend/src/store/queries/comparisons/index.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js, yarn lint:frontend:js

changed styles
  frontend/src/assets/css/styles.scss
  frontend/src/components/common/notification/notification.tsx
  frontend/src/components/common/notification/styles.module.scss
  frontend/src/contexts/compare-context.tsx
  frontend/src/contexts/wishlist-context.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

fixed message text
  frontend/src/contexts/compare-context.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

prices fields shows always
  frontend/src/components/general-comparison-table/general-comparison-table.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

added router, controller and service for 'top autoline'
  backend/src/controllers/top-autoline/top-autoline.controller.ts
  backend/src/routes/routes.ts
  backend/src/routes/top-autoline/top-autoline.router.ts
  backend/src/server.ts
  backend/src/services/top-autoline/top-autoline.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

added query and spinner on the personal page
  frontend/src/components/personal-page/personal-page.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

fix top-autoline service
  backend/src/services/top-autoline/top-autoline.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

added id to car data in 'top autoline' list
  backend/src/services/top-autoline/top-autoline.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

fields-layout-fix
  frontend/src/assets/css/form.scss
  frontend/src/components/common/input-field/styles.module.scss
  frontend/src/components/common/select-field/styles.module.scss
  frontend/src/components/edit-profile/select-field-form/styles.module.scss
Due: yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css

move interface to shared, add id to result
  backend/src/services/top-autoline/top-autoline.service.ts
  shared/src/common/types/top-autoline/top-autoline.ts
  shared/src/common/types/types.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:backend:js

add RTK Query
  frontend/src/store/queries/api-routes.ts
  frontend/src/store/queries/top-autoline/index.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

change top car card to use real data
  frontend/src/components/top-car-card/styles.module.scss
  frontend/src/components/top-car-card/top-car-card.tsx
  frontend/src/components/top-cars-autoria/top-cars-autoline.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

delete mock data
  frontend/src/common/types/top-cars-mock/top-cars.ts
  frontend/src/common/types/types.ts
  frontend/src/components/landing-page/mock-top-cars.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

added request to /viewed-autoria
  frontend/src/common/enums/api/top-autoline-path.ts
  frontend/src/common/enums/enums.ts
  frontend/src/common/types/reviewed-cars/reviewed-cars.ts
  frontend/src/common/types/types.ts
  frontend/src/components/details-page/details-page.tsx
  frontend/src/components/where-to-buy/where-buy-item/where-buy-item.tsx
  frontend/src/components/where-to-buy/where-to-buy.tsx
  frontend/src/store/queries/reviewed-cars.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

fix ordering
  backend/src/services/top-autoline/top-autoline.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Styles fix
  frontend/src/components/where-to-buy/styles.module.scss
  frontend/src/components/where-to-buy/where-to-buy.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

Styles fix
  frontend/src/components/where-to-buy/styles.module.scss
Due: yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css

added locations
  backend/src/services/cars/cars.service.ts
  frontend/src/common/types/cars/filters.type.ts
  frontend/src/store/car-filter/slice.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js, yarn lint:frontend:js

added footer
  frontend/src/components/about-page/about-page.tsx
  frontend/src/components/footer/footer.tsx
  frontend/src/components/footer/styles.module.scss
  frontend/src/components/landing-page/landing-page.tsx
  frontend/src/components/personal-page/personal-page.tsx
  frontend/src/components/search-page/search-page.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

Added compare button to complectation card
  frontend/src/components/new-car-card/new-car-card.tsx
  frontend/src/components/new-car-card/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

Changed years ordering in edit profile
  frontend/src/components/edit-profile/select-year-range/select-year-range.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Modified title of the comparison table
  frontend/src/common/types/title/title.ts
  frontend/src/components/comparison-page/comparison-page.tsx
  frontend/src/components/comparison-page/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

hiding clear button when table is empty
  frontend/src/components/comp-top-table-bar/comp-top-table-bar.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

change filtering by price
  backend/src/services/cars/cars-local-search.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Disable redux devtools in production
  frontend/src/common/enums/app/env.enum.ts
  frontend/src/store/store.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

limit top autoline by 8
  backend/src/services/top-autoline/top-autoline.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js
