Repository BinaryStudioAcademy/bsa-2022-autoline: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:tests:js, yarn lint:backend:js, yarn lint:frontend:css, yarn lint:frontend:js

.lintstagedrc.yml:

'*.{ts,tsx,html,json,md}': prettier --write
'*': yarn lint:editorconfig && yarn lint:fs
'shared/**/*.ts': yarn lint:shared:js
'tests/**/*.ts': yarn lint:tests:js
'backend/**/*.ts': yarn lint:backend:js
'frontend/**/*.scss': yarn lint:frontend:css
'frontend/**/*.{ts,tsx}': yarn lint:frontend:js

fix review remarks
  frontend/src/components/characteristics-list/characteristics-group/styles.module.scss
  frontend/src/components/characteristics-list/styles.module.scss
Due: yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css

added ability to change Full name
  frontend/src/common/types/input-field/input-field.ts
  frontend/src/components/administration/users/dialog-edit-user.tsx
  frontend/src/components/administration/users/users-list.tsx
  frontend/src/components/common/input-field/input-field.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

added ability to change e-mail
  frontend/src/components/administration/users/dialog-edit-user.tsx
  frontend/src/components/administration/users/users-list.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

added ability to change phone and location
  frontend/src/components/administration/users/dialog-edit-user.tsx
  frontend/src/components/administration/users/users-list.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Add search page
  frontend/src/common/enums/app/app-route.enum.ts
  frontend/src/components/search-page/search-page.tsx
  frontend/src/navigation/routing/routing.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Minor styles fixes
  frontend/src/components/advanced-auto-filter/styles.module.scss
  frontend/src/components/car-list-item/styles.module.scss
Due: yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css

added ability to change sex
  frontend/src/components/administration/users/dialog-edit-user.tsx
  frontend/src/components/administration/users/users-list.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

fix deployment
  .docker/autoline/nginx/nginx.conf
Due: yarn lint:editorconfig && yarn lint:fs

Building fixes
  frontend/src/components/sign/components/sign-up-form/sign-up-form.tsx
  frontend/src/components/simple-auto-filter/simple-auto-filter.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Fixed order of the props
  frontend/src/components/edit-profile/dialog-delete-account/dialog-delete-account.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Fixed useEffect dependencies
  frontend/src/components/edit-profile/edit-profile.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Building fixes
  frontend/src/components/sign/components/sign-up-form/sign-up-form.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Add search button in simple filter form (#80)
  frontend/src/components/simple-auto-filter/simple-auto-filter.tsx
  frontend/src/components/simple-auto-filter/styles.module.scss
  frontend/src/store/queries/api-routes.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

fixed styels
  backend/prisma/seed.ts
  frontend/src/components/details-car-panel/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js, yarn lint:frontend:css

change forgot password button's margin-bottom
  frontend/src/components/sign/components/sign-in-form/styles.module.scss
Due: yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css

fixed margin in message
  frontend/src/components/sign/components/sign-in-form/sign-in-form.tsx
  frontend/src/components/sign/components/sign-in-form/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

api url
  .docker/autoline/nginx/nginx.conf
  .github/workflows/deploy-stage.yml
  frontend/src/common/enums/app/env.enum.ts
  frontend/src/components/sign/components/sign-up-form/sign-up-form.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

fix due to pr
  backend/src/controllers/auth/auth.controller.ts
  backend/src/middlewares/auth/strategies/facebook.strategy.ts
  backend/src/middlewares/auth/strategies/google.strategy.ts
  backend/src/routes/auth/auth.router.ts
  frontend/src/components/sign/components/sign-in-form/sign-in-form.tsx
  frontend/src/components/sign/components/sign-up-form/sign-up-form.tsx
  frontend/src/components/sign/components/sign-with-facebook/sign-with-facebook.tsx
  frontend/src/components/sign/components/sign-with-oauth/sign-with-oauth.tsx
  frontend/src/helpers/helpers.ts
  frontend/src/helpers/sign/open-facebook.ts
  frontend/src/helpers/sign/open-google.ts
  frontend/src/helpers/sign/open-oauth.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js, yarn lint:frontend:js

api url
  .github/workflows/deploy-stage.yml
Due: yarn lint:editorconfig && yarn lint:fs

add cars search in db endpoint
  backend/src/controllers/cars/cars.controller.ts
  backend/src/routes/cars/cars.router.ts
  backend/src/services/cars/cars-local-search.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

update CarsSearchParams
  shared/src/common/types/cars/cars-search-params.ts
  shared/src/common/types/cars/cars.ts
  shared/src/common/types/types.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js

add search result type
  backend/src/common/types/cars/search-result.ts
  backend/src/common/types/types.ts
  backend/src/services/cars/cars-local-search.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

update search query
  backend/src/services/cars/cars-local-search.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

fix (api url from backend)
  .github/workflows/deploy-stage.yml
  frontend/src/common/enums/app/env.enum.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

added pagination
  frontend/src/components/viewed-cars/viewed-cars.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Changed & simplified advanced-auto-filter.tsx
  frontend/src/components/advanced-auto-filter/advanced-auto-filter.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Changed & simplified simple-auto-filter.tsx
  frontend/src/components/simple-auto-filter/simple-auto-filter.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Changed & simplified cars-filter slice & brand-details comp.
  frontend/src/components/advanced-auto-filter/brand-details/brand-details.tsx
  frontend/src/store/car-filter/slice.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

move search result type to shared
  backend/src/common/types/cars/search-result.ts
  backend/src/common/types/types.ts
  shared/src/common/types/cars/cars.ts
  shared/src/common/types/cars/search-result.ts
  shared/src/common/types/types.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:backend:js

update prisma request to return only ID
  backend/src/services/cars/cars-local-search.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

fixed template for email verification, corrected svg import
  backend/src/services/mail-verification/send-activation-link/templates/email.hbs
Due: yarn lint:editorconfig && yarn lint:fs

corrected template for email verification
  backend/src/services/mail-verification/send-activation-link/templates/email.hbs
Due: yarn lint:editorconfig && yarn lint:fs

Delete node modules from main package.json
  .github/workflows/ci.yml
  package.json
  yarn.lock
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs

fix user_viewed_cars prisma model
  backend/prisma/migrations/20220826135000_fix_user_viewed_car_fields/migration.sql
  backend/prisma/schema.prisma
Due: yarn lint:editorconfig && yarn lint:fs

fix (docker local)
  .docker/autoline/docker-compose.local.yml
Due: yarn lint:editorconfig && yarn lint:fs

moved common types in the shared folder
  backend/src/common/types/prisma/prisma.ts
  backend/src/common/types/types.ts
  frontend/src/common/types/history-of-viewed-cars/history-of-viewed-cars.ts
  frontend/src/common/types/types.ts
  shared/src/common/types/types.ts
  shared/src/common/types/viewed-cars/viewed-cars-post-dto.type.ts
  shared/src/common/types/viewed-cars/viewed-cars.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:backend:js, yarn lint:frontend:js

added addViewedCar mutation query
  frontend/src/store/queries/history-viewed-cars/index.ts
  frontend/src/store/queries/index.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

fixed viewed car service/controller and formatData function
  backend/src/controllers/viewed-cars/viewed-cars.controller.ts
  backend/src/helpers/helpers.ts
  backend/src/helpers/viewed-cars/viewed-cars.ts
  backend/src/services/viewed-cars/viewed-cars.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

fix (docker local)
  .docker/autoline/docker-compose.yml
Due: yarn lint:editorconfig && yarn lint:fs

delete redundant ids
  backend/src/services/cars/cars-local-search.service.ts
  shared/src/common/types/cars/search-result.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:backend:js
