Repository BinaryStudioAcademy/bsa-2022-autoline: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:tests:js, yarn lint:backend:js, yarn lint:frontend:css, yarn lint:frontend:js

Add missing fields
  backend/src/controllers/preferences/wishlist.controller.ts
  backend/src/services/preferences/wishlist.service.ts
  shared/src/common/types/preferences/wishlist-response-dto.type.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:backend:js

Add Wishlist component
  frontend/src/components/wishlist/wishlist.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

add validation rules
  frontend/src/components/sign/components/sign-up-form/sign-up-form.tsx
  shared/src/validation-schemas/sign-up/sign-up.validation-schema.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:frontend:js

added accordeon to cpllapse element
  frontend/src/components/collapse_component/collapse.tsx
  frontend/src/components/collapse_component/styles.module.scss
  frontend/src/navigation/routing/routing.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

Fixed name of the `user_data`
  backend/src/controllers/mail-varification/send-link.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

create landing page without media support
  frontend/src/assets/images/landing-page/audi.png
  frontend/src/assets/images/landing-page/bmw.png
  frontend/src/assets/images/landing-page/chery.png
  frontend/src/assets/images/landing-page/kia.png
  frontend/src/assets/images/landing-page/mazda.png
  frontend/src/assets/images/landing-page/picture.png
  frontend/src/assets/images/landing-page/porsche.png
  frontend/src/assets/images/landing-page/subaru.png
  frontend/src/assets/images/landing-page/volkswagen.png
  frontend/src/components/landing-page/components/header/header.tsx
  frontend/src/components/landing-page/components/header/styles.module.scss
  frontend/src/components/landing-page/landing-page.tsx
  frontend/src/components/landing-page/styles.scss
  frontend/src/components/new-car-card/new-car-card.tsx
  frontend/src/components/new-car-card/styles.module.scss
  frontend/src/components/top-car-card/styles.module.scss
  frontend/src/navigation/routing/routing.tsx
  frontend/src/store/queries/forgot-password.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

fixed bugs
  frontend/src/components/administration/administration.tsx
  frontend/src/navigation/routing/routing.tsx
  frontend/src/store/queries/users/index.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Fixed undefined `createTheme` exception
  frontend/src/common/theme/theme.tsx
  frontend/src/components/administration/administration.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Add deployment
  .docker/autoline/backend.Dockerfile
  .docker/autoline/docker-compose.stage.yml
  .docker/autoline/docker-compose.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.dev.yml
Due: yarn lint:editorconfig && yarn lint:fs

Add deployment
  .github/workflows/ci.yml
Due: yarn lint:editorconfig && yarn lint:fs

Change steps
  .github/workflows/deploy.dev.yml
Due: yarn lint:editorconfig && yarn lint:fs

Fix slack notification
  .github/workflows/deploy.dev.yml
Due: yarn lint:editorconfig && yarn lint:fs

Fix backend
  .docker/autoline/_docker-compose.dev.yml
  .docker/autoline/backend.Dockerfile
  .docker/autoline/docker-compose.prod.yml
  .docker/autoline/docker-compose.services.yml
Due: yarn lint:editorconfig && yarn lint:fs

Fix backend
  .docker/autoline/backend.Dockerfile
Due: yarn lint:editorconfig && yarn lint:fs

Fix slack notifications
  .github/workflows/deploy.dev.yml
Due: yarn lint:editorconfig && yarn lint:fs

Frontend deployment
  .docker/autoline/frontend.Dockerfile
Due: yarn lint:editorconfig && yarn lint:fs

Frontend + Backend deployment
  .docker/autoline/backend.Dockerfile
Due: yarn lint:editorconfig && yarn lint:fs

Fix start:backend
  package.json
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs

Fix frontend structure
  frontend/.env.example
  frontend/src/configs/config.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Add docker to ci branch
  .github/workflows/ci.yml
Due: yarn lint:editorconfig && yarn lint:fs

Add docker to ci branch
  .github/workflows/deploy.dev.yml
Due: yarn lint:editorconfig && yarn lint:fs

backend
  .docker/autoline/backend.Dockerfile
Due: yarn lint:editorconfig && yarn lint:fs

validation optimization and fix delete user
  backend/prisma/migrations/20220819084714_update_user_security_foreign_key/migration.sql
  backend/prisma/schema.prisma
  backend/src/middlewares/update-user/update-user.middleware.ts
  backend/src/validation-schemas/validation-schemas.ts
  shared/package.json
  shared/src/common/validation-schemas/index.ts
  shared/src/common/validation-schemas/update-user.validation-schema.ts
  shared/yarn.lock
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:backend:js

frontend
  .docker/autoline/frontend.Dockerfile
  .github/workflows/deploy.dev.yml
Due: yarn lint:editorconfig && yarn lint:fs

fix path to swiper-params in cars-categories.tsx
  frontend/src/components/cars-categories/cars-categories.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

solving typing error
  frontend/src/components/mail-verification/verification-failed/failed.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

disable copy build
  .docker/autoline/frontend.Dockerfile
Due: yarn lint:editorconfig && yarn lint:fs

fix lock
  frontend/yarn.lock
Due: yarn lint:editorconfig && yarn lint:fs

predemo commit
  frontend/src/components/cars-categories/cars-categories.tsx
  frontend/src/components/landing-page/components/header/header.tsx
  frontend/src/components/landing-page/components/header/styles.module.scss
  frontend/src/components/landing-page/landing-page.tsx
  frontend/src/components/landing-page/styles.scss
  frontend/src/components/new-car-card/styles.module.scss
  frontend/src/components/top-car-card/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

added authApi
  frontend/src/store/queries/auth.ts
  frontend/src/store/store.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

added validation for sign in
  shared/package.json
  shared/src/validation-schemas/sign-in/sign-in.validation-schema.ts
  shared/src/validation-schemas/sign-up/sign-up.validation-schema.ts
  shared/src/validation-schemas/validation-schemas.ts
  shared/yarn.lock
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js

added useAppForm in sign in form
  frontend/package.json
  frontend/src/common/types/auth/auth.ts
  frontend/src/common/types/input-field/input-field.tsx
  frontend/src/common/types/types.tsx
  frontend/src/components/common/input-field/input-field.tsx
  frontend/src/components/sign/components/sign-in-form/common.ts
  frontend/src/components/sign/components/sign-in-form/sign-in-form.tsx
  frontend/src/helpers/validation/get-form-validation-resolver.ts
  frontend/src/hooks/app-form/app-form.hook.ts
  frontend/src/hooks/hooks.ts
  frontend/src/store/queries/auth.ts
  frontend/src/validation-schemas/sign-in/sign-in.validation-schema.ts
  frontend/src/validation-schemas/validation-schemas.ts
  frontend/yarn.lock
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

added app form hook
  frontend/package.json
  frontend/src/common/types/form/form-control-errors.type.ts
  frontend/src/common/types/form/form-control-path.type.ts
  frontend/src/common/types/form/form-control-values.type.ts
  frontend/src/common/types/form/form-control.type.ts
  frontend/src/common/types/form/form.ts
  frontend/src/common/types/types.tsx
  frontend/src/common/types/validation/validation.ts
  frontend/src/helpers/helpers.ts
  frontend/src/helpers/validation/get-form-validation-resolver.ts
  frontend/src/helpers/validation/validation.ts
  frontend/src/hooks/app-form/app-form.hook.ts
  frontend/yarn.lock
  shared/src/common/types/types.ts
  shared/src/common/types/validation/validation-schema.type.ts
  shared/src/common/types/validation/validation.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:frontend:js

added common api in store
  frontend/src/components/common/input-field/input-field.tsx
  frontend/src/store/queries/auth.ts
  frontend/src/store/queries/index.ts
  frontend/src/store/store.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

added query to sign in
  frontend/src/common/enums/api/api-path.enum.ts
  frontend/src/common/enums/api/api.ts
  frontend/src/common/enums/api/auth-api-path.enum.ts
  frontend/src/common/enums/enums.ts
  frontend/src/common/types/input-field/input-field.tsx
  frontend/src/components/common/input-field/input-field.tsx
  frontend/src/components/sign/components/sign-in-form/sign-in-form.tsx
  frontend/src/store/queries/auth.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Created data fetcher from AutoRIA API
  backend/prisma/seeds/fetch-cars-cata.ts
  backend/prisma/seeds/fetched-data/cars-data.ts
  backend/src/dtos/cars/brand.dto.ts
  backend/src/dtos/cars/plain-data.dto.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Changed fetcher,seeder + created and translated options-types
  .env.example/backend.env
  backend/api-autoria/cars/brands-with-models.ts
  backend/prisma/seed.ts
  backend/prisma/seeds/fetch-cars-cata.ts
  backend/prisma/seeds/fetched-data/cars-data.ts
  backend/src/dtos/cars/brand.dto.ts
  backend/src/dtos/cars/plain-data.dto.ts
  frontend/src/components/cars-categories/mock-brands.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js, yarn lint:frontend:js

create http service, storage service
  frontend/src/common/enums/app/app-route.enum.ts
  frontend/src/common/enums/app/app.ts
  frontend/src/common/enums/app/storage-key.enum.ts
  frontend/src/common/enums/enums.ts
  frontend/src/common/enums/file/content-type.enum.ts
  frontend/src/common/enums/file/file.ts
  frontend/src/common/enums/http/http-header.enum.ts
  frontend/src/common/enums/http/http.ts
  frontend/src/exceptions/exceptions.ts
  frontend/src/helpers/http/get-stringified-query/get-stringified-query.helper.ts
  frontend/src/helpers/http/http.ts
  frontend/src/services/auth/auth.service.ts
  frontend/src/services/http/http.service.ts
  frontend/src/services/services.ts
  frontend/src/services/storage/storage.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Path conditions:
  prettier --write: any of: *.{ts,tsx,html,json,md}
  yarn lint:editorconfig && yarn lint:fs: any of: *
  yarn lint:shared:js: any of: shared/**/*.ts
  yarn lint:tests:js: any of: tests/**/*.ts
  yarn lint:backend:js: any of: backend/**/*.ts
  yarn lint:frontend:css: any of: frontend/**/*.scss
  yarn lint:frontend:js: any of: frontend/**/*.{ts,tsx}
