Repository BinaryStudioAcademy/bsa-2022-autoline: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:tests:js, yarn lint:backend:js, yarn lint:frontend:css, yarn lint:frontend:js

.lintstagedrc.yml:

'*.{ts,tsx,html,json,md}': prettier --write
'*': yarn lint:editorconfig && yarn lint:fs
'shared/**/*.ts': yarn lint:shared:js
'tests/**/*.ts': yarn lint:tests:js
'backend/**/*.ts': yarn lint:backend:js
'frontend/**/*.scss': yarn lint:frontend:css
'frontend/**/*.{ts,tsx}': yarn lint:frontend:js

added middleware
  backend/src/controllers/preferences/wishlist.controller.ts
  backend/src/routes/preferences/wishlist.router.ts
  backend/src/services/preferences/wishlist.service.ts
  frontend/src/common/types/like-button/like-button.ts
  frontend/src/components/car-list-item/car-list-item.tsx
  frontend/src/store/middlewares/middlewares.ts
  frontend/src/store/queries/preferences/wishlist/index.ts
  frontend/src/store/store.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js, yarn lint:frontend:js

Fixed requested changes
  backend/src/controllers/update-user/update-user.controller.ts
  backend/src/middlewares/photo/photo.middleware.ts
  frontend/src/components/edit-profile/edit-profile.tsx
  shared/src/common/enums/enums.ts
  shared/src/common/enums/validation/file-validation-rule.enum.ts
  shared/src/common/enums/validation/validation.ts
  shared/src/common/validation-schemas/index.ts
  shared/src/common/validation-schemas/user-photo.validation-schema.ts
  shared/src/index.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:backend:js, yarn lint:frontend:js

Fixed redundant signup user fields
  frontend/src/components/sign/components/sign-up-form/sign-up-form.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Fixed that Account doesn't lead anywhere
  frontend/src/components/header/header.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Add backend route for Comparisons general info
  backend/src/controllers/comparisons/comparisons.controller.ts
  backend/src/routes/comparisons/comparisons.router.ts
  backend/src/services/comparisons/comparisons.service.ts
  shared/src/common/types/cars/cars.ts
  shared/src/common/types/cars/comparison.ts
  shared/src/common/types/types.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:backend:js

Add RTK queries for Comparisons general info
  frontend/src/store/queries/api-routes.ts
  frontend/src/store/queries/comparison/index.ts
  frontend/src/store/queries/index.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Add General comparison table component
  frontend/src/components/general-comparison-table/general-comparison-table.tsx
  frontend/src/components/general-comparison-table/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

read more button
  backend/src/controllers/where-buy/where-buy.ts
  frontend/src/common/enums/app/app.ts
  frontend/src/common/enums/app/auto-ria-link.ts
  frontend/src/common/types/types.ts
  frontend/src/common/types/where-to-buy/where-to-buy.ts
  frontend/src/components/where-to-buy/styles.module.scss
  frontend/src/components/where-to-buy/where-buy.tsx
  frontend/src/components/where-to-buy/where-buy/styles.module.scss
  frontend/src/components/where-to-buy/where-buy/where-buy-item.tsx
  frontend/src/store/queries/where-buy.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js, yarn lint:frontend:css, yarn lint:frontend:js

some fixes
  frontend/src/common/types/like-button/like-button.ts
  frontend/src/common/types/types.ts
  frontend/src/components/common/like-button/like-button.tsx
  frontend/src/store/queries/preferences/middlewares.ts
  frontend/src/store/store.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

fixed service carsSearchAutoria()
  backend/src/controllers/cars/cars.controller.ts
  backend/src/services/cars/cars-search.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

added selecting car ids from AutoRia for one complectationId
  backend/src/common/types/cars/autoria-request-params.ts
  backend/src/helpers/cars/api-autoria.helper.ts
  backend/src/services/cars/cars-search.service.ts
  backend/src/services/cars/cars-update.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

added getting the min and max price for complectationId
  backend/src/common/types/cars/autoria-request-params.ts
  backend/src/common/types/types.ts
  backend/src/helpers/cars/api-autoria.helper.ts
  backend/src/services/cars/cars-update.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

fix compare toastr opening instead of hiding
  frontend/src/components/compare-toast/compare-toast.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

deleted coment
  frontend/src/components/where-to-buy/styles.module.scss
  frontend/src/components/where-to-buy/where-buy/styles.module.scss
  frontend/src/components/where-to-buy/where-buy/where-buy-item.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

Code style fixes
  backend/src/services/comparisons/comparisons.service.ts
  frontend/src/components/general-comparison-table/general-comparison-table.tsx
  frontend/src/components/general-comparison-table/styles.module.scss
  frontend/src/store/queries/comparison/index.ts
  frontend/src/store/queries/comparisons/index.ts
  shared/src/common/types/cars/comparison.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:backend:js, yarn lint:frontend:css, yarn lint:frontend:js

finished update prices from AutoRia for all complectations in our db
  backend/src/services/cars/cars-update.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

New selectors, changed slice, query, helper
  frontend/src/helpers/car-filters/get-range-symbol.ts
  frontend/src/store/car-filter/slice.ts
  frontend/src/store/queries/cars/index.ts
  frontend/src/store/selectors/car-filter-selectors.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Changed advanced, simple filters, range-selector & brand-details
  frontend/src/components/advanced-auto-filter/advanced-auto-filter.tsx
  frontend/src/components/advanced-auto-filter/brand-details/brand-details.tsx
  frontend/src/components/common/range-selector/range-selector.tsx
  frontend/src/components/simple-auto-filter/simple-auto-filter.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

conflict resolving
  backend/src/common/types/cars/autoria-request-params.ts
  backend/src/common/types/cars/autoria-response.ts
  backend/src/common/types/types.ts
  backend/src/controllers/where-buy/where-buy.ts
  backend/src/helpers/cars/api-autoria.helper.ts
  backend/src/services/cars/cars-search.service.ts
  backend/src/services/where-buy/cars-properties.ts
  frontend/src/common/enums/api/where-buy.path.ts
  frontend/src/common/enums/app/app.ts
  frontend/src/common/enums/app/auto-ria-link.ts
  frontend/src/common/types/types.ts
  frontend/src/common/types/where-to-buy/where-to-buy.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js, yarn lint:frontend:js

delete test protected route
  backend/src/routes/routes.ts
  backend/src/routes/test-protected-route/protected.router.ts
  backend/src/server.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

add AuthRequest type and update role middleware
  backend/src/common/types/controller/controller.ts
  backend/src/common/types/types.ts
  backend/src/middlewares/roles-based-protection/role.middleware.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

fix tokenPayload usage in all controllers
  backend/src/controllers/comparisons/comparisons.controller.ts
  backend/src/controllers/complectations/complectations.controller.ts
  backend/src/controllers/new-cars/new-cars.ts
  backend/src/controllers/preferences/wishlist.controller.ts
  backend/src/controllers/update-user/update-user.controller.ts
  backend/src/controllers/viewed-cars/viewed-cars.controller.ts
  backend/src/dtos/user/update-user.dto.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

add AuthTypedRequest types
  backend/src/common/types/controller/controller.ts
  backend/src/common/types/types.ts
  backend/src/controllers/comparisons/comparisons.controller.ts
  backend/src/controllers/complectations/complectations.controller.ts
  backend/src/controllers/new-cars/new-cars.ts
  backend/src/controllers/preferences/wishlist.controller.ts
  backend/src/controllers/update-user/update-user.controller.ts
  backend/src/controllers/viewed-cars/viewed-cars.controller.ts
  backend/src/dtos/user/update-user.dto.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

globally add tokenPayload to plain request
  backend/src/common/types/controller/controller.ts
  backend/src/common/types/types.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

change request type in all controllers
  backend/src/controllers/comparisons/comparisons.controller.ts
  backend/src/controllers/complectations/complectations.controller.ts
  backend/src/controllers/new-cars/new-cars.ts
  backend/src/controllers/preferences/wishlist.controller.ts
  backend/src/controllers/update-user/update-user.controller.ts
  backend/src/controllers/viewed-cars/viewed-cars.controller.ts
  backend/src/dtos/user/update-user.dto.ts
  backend/src/middlewares/roles-based-protection/role.middleware.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

fix tokenPayload in recently merged PRs
  backend/src/controllers/update-user/update-user.controller.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

change requests in controllers to typed
  backend/src/common/types/controller/controller.ts
  backend/src/common/types/types.ts
  backend/src/controllers/comparisons/comparisons.controller.ts
  backend/src/controllers/complectations/complectations.controller.ts
  backend/src/controllers/new-cars/new-cars.ts
  backend/src/controllers/preferences/wishlist.controller.ts
  backend/src/controllers/update-user/update-user.controller.ts
  backend/src/controllers/users/users.controller.ts
  backend/src/controllers/viewed-cars/viewed-cars.controller.ts
  backend/src/middlewares/update-user/update-user.middleware.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

deleted aditional code
  backend/src/common/types/cars/autoria-request-params.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

added comment for lint
  frontend/src/components/where-to-buy/where-buy/styles.module.scss
Due: yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css

conflict resolving
  frontend/src/components/where-buy/styles.module.scss
  frontend/src/components/where-buy/where-buy-component/styles.module.scss
  frontend/src/components/where-buy/where-buy-component/where-buy-component.tsx
  frontend/src/components/where-buy/where-buy.tsx
  frontend/src/components/where-to-buy/where-buy.tsx
  frontend/src/components/where-to-buy/where-buy/where-buy-item.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

conflict resolving
  frontend/src/navigation/routing/routing.tsx
  frontend/src/store/queries/where-buy.ts
  frontend/src/store/where-buy/slice.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

moved types to common folder
  backend/src/common/types/types.ts
  backend/src/common/types/where-to-buy/where-to-buy.params.ts
  backend/src/controllers/where-to-buy/where-to-buy.ts
  backend/src/helpers/cars/api-autoria.helper.ts
  backend/src/routes/where-buy/where-buy.router.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

refactoring backend side
  backend/src/common/types/types.ts
  backend/src/common/types/where-to-buy/where-to-buy.params.ts
  backend/src/controllers/cars/cars.controller.ts
  backend/src/controllers/where-to-buy/where-to-buy.ts
  backend/src/helpers/cars/api-autoria.helper.ts
  backend/src/routes/routes.ts
  backend/src/routes/where-buy/where-buy.router.ts
  backend/src/services/cars/cars-search.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

added migration
  backend/package.json
  backend/prisma/migrations/20220907125608_users_searches_cars/migration.sql
  backend/prisma/schema.prisma
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs

added cron task
  backend/package.json
  backend/src/server.ts
  backend/yarn.lock
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

changes names of files
  frontend/src/components/where-to-buy/styles.module.scss
  frontend/src/components/where-to-buy/where-buy-item/styles.module.scss
  frontend/src/components/where-to-buy/where-buy-item/where-buy-item.tsx
  frontend/src/components/where-to-buy/where-buy.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

added logger
  backend/.gitignore
  backend/package.json
  backend/src/helpers/logger/logger.ts
  backend/src/server.ts
  backend/yarn.lock
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

added prefix https
  backend/src/services/mail-verification/send-activation-link/templates/email-template.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Applied filters bar component + types change
  frontend/src/common/types/cars/filters.type.ts
  frontend/src/components/applied-filters-bar/applied-filters-bar.tsx
  frontend/src/components/applied-filters-bar/styles.module.scss
  frontend/src/helpers/car-filters/range-filters-to-object.ts
  frontend/src/store/car-filter/slice.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

added complectationId to slice
  frontend/src/components/where-to-buy/where-buy-item/styles.module.scss
  frontend/src/components/where-to-buy/where-buy-item/where-buy-item.tsx
  frontend/src/components/where-to-buy/where-to-buy.tsx
  frontend/src/navigation/routing/routing.tsx
  frontend/src/store/queries/where-buy.ts
  frontend/src/store/where-buy/slice.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js
