Repository BinaryStudioAcademy/bsa-2022-autoline: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:tests:js, yarn lint:backend:js, yarn lint:frontend:css, yarn lint:frontend:js

.lintstagedrc.yml:

'*.{ts,tsx,html,json,md}': prettier --write
'*': yarn lint:editorconfig && yarn lint:fs
'shared/**/*.ts': yarn lint:shared:js
'tests/**/*.ts': yarn lint:tests:js
'backend/**/*.ts': yarn lint:backend:js
'frontend/**/*.scss': yarn lint:frontend:css
'frontend/**/*.{ts,tsx}': yarn lint:frontend:js

Change data list name, Unique options
  frontend/src/common/types/cars/checkbox-list-data.type.ts
  frontend/src/components/advanced-auto-filter/advanced-auto-filter.tsx
  frontend/src/components/advanced-auto-filter/brand-details/brand-details.tsx
  frontend/src/components/common/checkbox-list/checkbox-list.tsx
  frontend/src/components/common/multiselect-input/multiselect-input.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Fixed email validation
  shared/src/common/validation-schemas/update-user.validation-schema.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js

Fuel & Color multiselect
  frontend/src/components/advanced-auto-filter/advanced-auto-filter.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Fixed simple filter form
  frontend/src/components/simple-auto-filter/simple-auto-filter.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Fixed full name validation
  shared/src/common/validation-schemas/update-user.validation-schema.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js

added check like route
  backend/src/controllers/preferences/wishlist.controller.ts
  backend/src/routes/preferences/wishlist.router.ts
  backend/src/services/preferences/wishlist.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

RTKQ for where to buy
  backend/src/controllers/where-buy/where-buy.ts
  backend/src/helpers/cars/api-autoria.helper.ts
  backend/src/services/cars/cars-search.service.ts
  frontend/src/common/enums/api/where-buy.path.ts
  frontend/src/common/enums/enums.ts
  frontend/src/common/types/where-to-buy/where-to-buy.ts
  frontend/src/components/where-to-buy/where-buy.tsx
  frontend/src/components/where-to-buy/where-buy/styles.module.scss
  frontend/src/components/where-to-buy/where-buy/where-buy-component.tsx
  frontend/src/store/queries/where-buy.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js, yarn lint:frontend:css, yarn lint:frontend:js

Fixed change password validation
  shared/src/common/validation-schemas/update-user.validation-schema.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js

Changed messages from backend
  backend/src/middlewares/update-user/update-user.middleware.ts
  backend/src/services/user/user.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Fixed display of response message
  frontend/src/components/edit-profile/edit-profile.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Changed name of the menu from setting to settings
  frontend/src/components/header/header.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

added editUserMiddleware
  backend/src/controllers/users/users.controller.ts
  backend/src/middlewares/middlewares.ts
  backend/src/middlewares/users/edit-user.middleware.ts
  backend/src/routes/user/user.router.ts
  shared/src/index.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:backend:js

added rtk to car list
  backend/src/services/preferences/wishlist.service.ts
  frontend/src/components/car-list-item/car-list-item.tsx
  frontend/src/components/car-list-item/styles.module.scss
  frontend/src/store/queries/preferences/wishlist/index.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js, yarn lint:frontend:css, yarn lint:frontend:js

add comparison status endpoint
  backend/src/controllers/comparisons/comparisons.controller.ts
  backend/src/routes/comparisons/comparisons.router.ts
  backend/src/services/comparisons/comparisons.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Remove MUI Collapse
  frontend/src/components/complete-set-table/complete-set-table-collapsed.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Remove line height for table rows
  frontend/src/components/complete-set-table/styles.module.scss
Due: yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css

Code style fixes
  backend/src/controllers/preferences/wishlist.controller.ts
  backend/src/routes/preferences/wishlist.router.ts
  backend/src/services/preferences/wishlist.service.ts
  frontend/src/components/common/notification/notification.tsx
  frontend/src/components/new-car-card/new-car-card.tsx
  frontend/src/contexts/wishlist-context.tsx
  frontend/src/store/queries/preferences/wishlist/index.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js, yarn lint:frontend:js

removed links to enum, front sort by price
  backend/src/common/enums/app/app.ts
  backend/src/common/enums/app/ria-urls.enum.ts
  backend/src/controllers/where-buy/where-buy.ts
  backend/src/helpers/cars/api-autoria.helper.ts
  frontend/src/components/where-to-buy/where-buy.tsx
  frontend/src/components/where-to-buy/where-buy/where-buy-component.tsx
  frontend/src/store/queries/where-buy.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js, yarn lint:frontend:js

refactoring
  frontend/src/common/types/types.ts
  frontend/src/common/types/where-to-buy/where-to-buy.ts
  frontend/src/components/where-to-buy/styles.module.scss
  frontend/src/components/where-to-buy/where-buy.tsx
  frontend/src/components/where-to-buy/where-buy/styles.module.scss
  frontend/src/components/where-to-buy/where-buy/where-buy-item.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

fixed view of error from server on edit user form
  backend/src/middlewares/users/edit-user.middleware.ts
  frontend/src/components/administration/users/dialog-edit-user.tsx
  frontend/src/components/administration/users/users-list.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js, yarn lint:frontend:js

Memoized multiselect-input.tsx
  frontend/package.json
  frontend/src/components/common/multiselect-input/multiselect-input.tsx
  frontend/yarn.lock
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

added ability to save empty optional fields on edit user form by admin
  shared/src/validation-schemas/edit-user/edit-user.validation-schema.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js

Some changes
  frontend/src/components/advanced-auto-filter/advanced-auto-filter.tsx
  frontend/src/components/advanced-auto-filter/brand-details/brand-details.tsx
  frontend/src/components/common/autocomplete-input/autocomplete-input.tsx
  frontend/src/components/common/checkbox-list/checkbox-list.tsx
  frontend/src/components/simple-auto-filter/simple-auto-filter.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

fix bug logout should lead to the main page
  frontend/src/components/edit-profile/edit-profile.tsx
  frontend/src/components/header/header.tsx
  frontend/src/store/auth/middlewares.ts
  frontend/src/store/auth/slice.ts
  frontend/src/store/queries/index.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

bug_41: Fix display of 4th car card in 'New Cars' section (mobile layout)
  frontend/src/components/landing-page/styles.module.scss
Due: yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css

Types
  frontend/src/common/enums/car/car-filters-names.enum.ts
  frontend/src/common/types/cars/range-filters.type.ts
  frontend/src/common/types/cars/range-item.type.ts
  frontend/src/helpers/car-filters/range-filters-to-object.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Slice change
  frontend/src/store/car-filter/slice.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Changes in simple/advanced filters
  frontend/src/components/advanced-auto-filter/advanced-auto-filter.tsx
  frontend/src/components/simple-auto-filter/simple-auto-filter.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

add comparisons counter to header
  frontend/src/components/header/header.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

update comparisons queries
  frontend/src/store/queries/comparisons/index.ts
  frontend/src/store/queries/index.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

delete compare button from new car card
  frontend/src/components/new-car-card/new-car-card.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

added images for not found page
  frontend/src/assets/images/not-found-page/crashed-car.svg
  frontend/src/assets/images/not-found-page/left-circles.svg
  frontend/src/assets/images/not-found-page/right-circles.svg
Due: yarn lint:editorconfig && yarn lint:fs

created not found page
  frontend/src/components/not-found-page/not-found-page.tsx
  frontend/src/components/not-found-page/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

added not found page to the not found route
  frontend/src/navigation/routing/routing.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

remove add button
  frontend/src/components/simple-auto-filter/simple-auto-filter.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

added class to not found image
  frontend/src/components/not-found-page/not-found-page.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

added styles for mobile version
  frontend/src/components/not-found-page/styles.module.scss
Due: yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css

Changed fuels names
  backend/api-autoria/cars/fetched-data/fuel-types.json
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs

Fixed uploading user avatar in edit profile
  frontend/src/components/edit-profile/edit-profile.tsx
  frontend/src/components/edit-profile/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

pagination
  frontend/src/components/where-to-buy/where-buy.tsx
  frontend/src/components/where-to-buy/where-buy/styles.module.scss
  frontend/src/components/where-to-buy/where-buy/where-buy-item.tsx
  frontend/src/store/queries/where-buy.ts
  frontend/src/store/root-reducer.ts
  frontend/src/store/store.ts
  frontend/src/store/where-buy/slice.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js
