Repository BinaryStudioAcademy/bsa-2022-autoline: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:tests:js, yarn lint:backend:js, yarn lint:frontend:css, yarn lint:frontend:js

Fixed requested changes
  backend/src/controllers/update-user/update-user.controller.ts
  backend/src/helpers/helpers.ts
  backend/src/middlewares/update-user/update-user.middleware.ts
  backend/src/services/aws/aws.service.ts
  backend/src/services/photo/photo.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Changed argument for resizePhoto
  backend/src/controllers/update-user/update-user.controller.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Fixed validation messages
  shared/src/common/validation-schemas/update-user.validation-schema.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js

Fixed edit page height
  frontend/src/components/edit-profile/styles.module.scss
Due: yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css

Added user photo deletion from AWS S3 when deleting a user
  backend/src/controllers/update-user/update-user.controller.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Fixed size of change photo and delete profile
  frontend/src/components/edit-profile/edit-profile.tsx
  frontend/src/components/edit-profile/select-field-form/styles.module.scss
  frontend/src/components/edit-profile/styles.module.scss
  shared/src/common/validation-schemas/update-user.validation-schema.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:frontend:css, yarn lint:frontend:js

Fixed adaptive in header and edit page
  frontend/src/assets/css/form.scss
  frontend/src/components/common/input-field/styles.module.scss
  frontend/src/components/edit-profile/sign-in/styles.module.scss
  frontend/src/components/edit-profile/styles.module.scss
  frontend/src/components/header/private-elements/private-elements.tsx
  frontend/src/components/header/reminders/reminders.module.scss
  frontend/src/components/header/reminders/reminders.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

Corrected email validation by new rules
  shared/src/common/validation-schemas/update-user.validation-schema.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js

Fixed conflicts
  backend/src/controllers/update-user/update-user.controller.ts
  backend/yarn.lock
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Fixed location validation
  shared/src/common/validation-schemas/update-user.validation-schema.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js

Add key property for team members
  frontend/src/components/about-page/about-page.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Fixed email domain validation
  shared/src/common/validation-schemas/update-user.validation-schema.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js

Added aws credentials to env example
  .env.example/backend.env
Due: yarn lint:editorconfig && yarn lint:fs

Added functionality on backend for deleting and resizing on upload user photo
  backend/package.json
  backend/src/common/enums/aws/aws.ts
  backend/src/common/enums/aws/s3-folders.ts
  backend/src/common/enums/image/image.ts
  backend/src/common/enums/image/profile-image-size.ts
  backend/src/controllers/update-user/update-user.controller.ts
  backend/src/helpers/helpers.ts
  backend/src/helpers/users/delete-user-photo/delete-user-photo.ts
  backend/src/helpers/users/users.ts
  backend/src/routes/update-user/update-user.router.ts
  backend/src/services/aws/aws.service.ts
  backend/src/services/user/user.service.ts
  backend/yarn.lock
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Added functionality on frontend for deleting user photo
  frontend/src/components/edit-profile/edit-profile.tsx
  frontend/src/components/edit-profile/styles.module.scss
  frontend/src/store/queries/user/update-user.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

Fixed creepy loading user photo
  frontend/src/components/edit-profile/edit-profile.tsx
  frontend/src/components/header/private-elements/private-elements.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

add comparisons-top-table-bar functionality
  backend/src/controllers/comparisons/comparisons.controller.ts
  backend/src/routes/comparisons/comparisons.router.ts
  backend/src/services/comparisons/comparisons.service.ts
  frontend/package.json
  frontend/src/common/enums/app/app-route.enum.ts
  frontend/src/components/common/icons/trash-can/trash-can.tsx
  frontend/src/components/comp-top-table-bar/comp-top-table-bar.tsx
  frontend/src/components/comp-top-table-bar/components/complectation.tsx
  frontend/src/components/comp-top-table-bar/components/complectations-column.tsx
  frontend/src/components/comp-top-table-bar/components/drag-and-drop.tsx
  frontend/src/components/comp-top-table-bar/components/styles.module.scss
  frontend/src/store/queries/comparisons/index.ts
  frontend/yarn.lock
  shared/src/common/types/comparisons/comp-preview-info.ts
  shared/src/common/types/types.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:backend:js, yarn lint:frontend:css, yarn lint:frontend:js

fix due to review
  backend/src/controllers/comparisons/comparisons.controller.ts
  backend/src/routes/comparisons/comparisons.router.ts
  backend/src/services/comparisons/comparisons.service.ts
  frontend/package.json
  frontend/src/components/comp-top-table-bar/comp-top-table-bar.tsx
  frontend/src/components/comp-top-table-bar/components/comparison.tsx
  frontend/src/components/comp-top-table-bar/components/complectation.tsx
  frontend/src/components/comp-top-table-bar/components/complectations-column.tsx
  frontend/src/components/comp-top-table-bar/components/drag-and-drop.tsx
  frontend/src/components/comp-top-table-bar/components/no-active-comparison.tsx
  frontend/src/components/comp-top-table-bar/components/styles.module.scss
  frontend/src/store/queries/comparisons/index.ts
  frontend/yarn.lock
  shared/src/common/types/comparisons/comparison-info.ts
  shared/src/common/types/types.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:backend:js, yarn lint:frontend:css, yarn lint:frontend:js

use useMemo for cars and carsIds
  frontend/src/components/comp-top-table-bar/comp-top-table-bar.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

fix due to review 2
  frontend/src/components/comp-top-table-bar/comp-top-table-bar.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

use useMemo
  frontend/src/components/comp-top-table-bar/comp-top-table-bar.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

use useMemo
  backend/src/controllers/comparisons/comparisons.controller.ts
  backend/src/services/comparisons/comparisons.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

added to select field componen disabled logict
  frontend/src/components/edit-profile/select-field-form/select-field-form.tsx
  frontend/src/components/edit-profile/select-field-form/select-field-form.type.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

added to useAppForm hook watch method
  frontend/src/hooks/app-form/app-form.hook.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

changed carCard component for receiving data via props
  frontend/src/components/comparison-popup/car-card/car-card.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Replace bell icon with eye
  frontend/src/assets/css/styles.scss
  frontend/src/components/header/header.tsx
  frontend/src/components/header/reminders/reminders.module.scss
  frontend/src/components/header/reminders/reminders.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

add comparison page
  frontend/src/components/comparison-page/comparison-page.tsx
  frontend/src/components/header/header.tsx
  frontend/src/navigation/routing/routing.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

added the basic logic of the component work
  frontend/src/components/comparison-popup/comparison-popup.tsx
  frontend/src/components/comparison-popup/styles.module.scss
  frontend/src/store/queries/cars/index.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

fix columns width and general table rerendering
  frontend/src/components/comparison-options-table/styles.module.scss
  frontend/src/components/general-comparison-table/general-comparison-table.tsx
  frontend/src/components/general-comparison-table/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

fix styles to match together
  frontend/src/components/collapse-component/collapse-element/styles.module.scss
  frontend/src/components/comp-top-table-bar/components/styles.module.scss
  frontend/src/components/comparison-options-table/options-subtable.tsx
  frontend/src/components/comparison-options-table/styles.module.scss
  frontend/src/components/comparison-page/comparison-page.tsx
  frontend/src/components/comparison-page/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

Path conditions:
  prettier --write: any of: *.{ts,tsx,html,json,md}
  yarn lint:editorconfig && yarn lint:fs: any of: *
  yarn lint:shared:js: any of: shared/**/*.ts
  yarn lint:tests:js: any of: tests/**/*.ts
  yarn lint:backend:js: any of: backend/**/*.ts
  yarn lint:frontend:css: any of: frontend/**/*.scss
  yarn lint:frontend:js: any of: frontend/**/*.{ts,tsx}
