Repository BinaryStudioAcademy/bsa-2022-autoline: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:tests:js, yarn lint:backend:js, yarn lint:frontend:css, yarn lint:frontend:js

.lintstagedrc.yml:

'*.{ts,tsx,html,json,md}': prettier --write
'*': yarn lint:editorconfig && yarn lint:fs
'shared/**/*.ts': yarn lint:shared:js
'tests/**/*.ts': yarn lint:tests:js
'backend/**/*.ts': yarn lint:backend:js
'frontend/**/*.scss': yarn lint:frontend:css
'frontend/**/*.{ts,tsx}': yarn lint:frontend:js

Fix table name
  backend/package.json
  backend/prisma/migrations/20220810120536_fix_table_name/migration.sql
  backend/prisma/schema.prisma
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs

added sign-up validation schema
  backend/package.json
  backend/src/validation-schemas/sign-up/sign-up.validation-schema.ts
  backend/src/validation-schemas/validation-schemas.ts
  backend/yarn.lock
  package.json
  yarn.lock
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

integrate mailtrap
  backend/package.json
  backend/src/common/enums/app/env.enum.ts
  backend/src/helpers/helpers.ts
  backend/src/helpers/mailtrap/mailtrap.ts
  backend/src/helpers/mailtrap/template/requestResetPassword.handlebars
  backend/src/helpers/mailtrap/template/resetPassword.handlebars
  backend/tsconfig.json
  backend/yarn.lock
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

change email templates for reset-password
  backend/src/helpers/mailtrap/template/requestResetPassword.handlebars
  backend/src/helpers/mailtrap/template/resetPassword.handlebars
Due: yarn lint:editorconfig && yarn lint:fs

Added drivetrain table
  backend/package.json
  backend/prisma/migrations/20220810131317_drivetrain_table/migration.sql
  backend/prisma/schema.prisma
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs

Added fuel type table
  backend/package.json
  backend/prisma/migrations/20220810131757_fuel_type_table/migration.sql
  backend/prisma/schema.prisma
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs

Added color table
  backend/package.json
  backend/prisma/migrations/20220810132156_color_table/migration.sql
  backend/prisma/schema.prisma
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs

Added transmission type table
  backend/package.json
  backend/prisma/migrations/20220810132625_transmission_type_table/migration.sql
  backend/prisma/schema.prisma
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs

Added option table
  backend/package.json
  backend/prisma/migrations/20220810132911_fix_fuel_type_table_name/migration.sql
  backend/prisma/migrations/20220810133941_option_table/migration.sql
  backend/prisma/schema.prisma
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs

added validation logic
  backend/src/controllers/email_validate.ts
  backend/src/routes/routes.ts
  backend/src/routes/sendMail/send_mail.router.ts
  backend/src/server.ts
  backend/src/services/verification/user_security.service.ts
  frontend/src/common/enums/app/app-route.enum.ts
  frontend/src/navigation/routing/routing.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js, yarn lint:frontend:js

Add global styles for select
  frontend/src/assets/css/form.scss
Due: yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css

Add Arrow down icon
  frontend/src/components/common/icons/arrow-down/arrow-down.tsx
  frontend/src/components/common/icons/icons.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Added complectation table
  backend/package.json
  backend/prisma/migrations/20220810170428_complectation_table/migration.sql
  backend/prisma/schema.prisma
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs

Added Swiper dep.
  frontend/package.json
  frontend/src/components/cars-categories/cars-categories.tsx
  frontend/src/components/cars-categories/mock-brands.ts
  frontend/src/components/cars-categories/styles.module.scss
  frontend/yarn.lock
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

Created scrollable slider with basic style
  frontend/src/components/cars-categories/cars-categories.tsx
  frontend/src/components/cars-categories/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

front routes saccess and failed varification, back validate mail done
  backend/prisma/schema.prisma
  backend/src/common/enums/app/env.enum.ts
  backend/src/controllers/email_validate.ts
  backend/src/controllers/mail_varification/varification.ts
  backend/src/routes/activate/activate.router.ts
  backend/src/routes/routes.ts
  backend/src/routes/sendMail/send_mail.router.ts
  backend/src/server.ts
  backend/src/services/mail_verification/send.service.ts
  backend/src/services/mail_verification/token.service.ts
  backend/src/services/mail_verification/user_security.service.ts
  backend/src/services/verification/user_security.service.ts
  frontend/src/common/enums/app/app-route.enum.ts
  frontend/src/navigation/routing/routing.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js, yarn lint:frontend:js

fix/Customized slider nav buttons
  frontend/src/components/cars-categories/cars-categories.tsx
  frontend/src/components/cars-categories/slider-nav-button/slider-nav-button.tsx
  frontend/src/components/cars-categories/slider-nav-button/styles.module.scss
  frontend/src/components/cars-categories/slider-nav-button/swiper-params.ts
  frontend/src/components/cars-categories/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

fix/moved swiper-params.ts
  frontend/src/components/cars-categories/swiper-params.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

added sign-up backend middleware, fixed photo_url field requirement in model User
  backend/prisma/migrations/20220809093013_user_security_table/migration.sql
  backend/prisma/schema.prisma
  backend/src/middlewares/auth/auth.middleware.ts
  backend/src/middlewares/middlewares.ts
  backend/src/routes/auth/auth.router.ts
  package.json
  yarn.lock
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Added price_range table
  backend/package.json
  backend/prisma/migrations/20220811033351_prices_range_table/migration.sql
  backend/prisma/schema.prisma
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs

Add Select field component
  frontend/src/components/common/select-field/select-field.tsx
  frontend/src/components/common/select-field/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

Add Select field props type
  frontend/src/common/types/select-field/select-field.tsx
  frontend/src/common/types/types.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Fld 'user.photo_url' set as optional (may be NULL)
  backend/prisma/migrations/20220809093013_user_security_table/migration.sql
  backend/prisma/schema.prisma
Due: yarn lint:editorconfig && yarn lint:fs

Add Sign up form component
  frontend/src/components/sign/components/sign-up-form/sign-up-form.tsx
  frontend/src/components/sign/components/sign-up-form/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

Add Sign up route
  frontend/src/components/sign/sign.tsx
  frontend/src/navigation/routing/routing.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Add top and bottom padding to form wrapper
  frontend/src/components/sign/styles.module.scss
Due: yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css

Fix background image size
  frontend/src/components/sign/styles.module.scss
Due: yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css

Fix form padding for small devices
  frontend/src/components/sign/styles.module.scss
Due: yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css

Fix field in model table
  backend/prisma/migrations/20220811064902_fix_model_table/migration.sql
  backend/prisma/schema.prisma
Due: yarn lint:editorconfig && yarn lint:fs

user.photo_url may be null fix
  backend/prisma/migrations/20220809093013_user_security_table/migration.sql
  backend/prisma/migrations/20220811065111_user_photo_url_set_as_optional/migration.sql
  frontend/yarn.lock
Due: yarn lint:editorconfig && yarn lint:fs

Revert "Fld 'user.photo_url' set as optional (may be NULL)"
  backend/prisma/schema.prisma
Due: yarn lint:editorconfig && yarn lint:fs

Revert "user.photo_url may be null fix"
  backend/prisma/migrations/20220809093013_user_security_table/migration.sql
  backend/prisma/migrations/20220811065111_user_photo_url_set_as_optional/migration.sql
  frontend/yarn.lock
Due: yarn lint:editorconfig && yarn lint:fs

Fld 'user.photo_url' set as optional (may be NULL)
  backend/prisma/migrations/20220809093013_user_security_table/migration.sql
  backend/prisma/migrations/20220811073302_user_photo_url_set_as_optional/migration.sql
  backend/prisma/schema.prisma
Due: yarn lint:editorconfig && yarn lint:fs

added sending verification email
  backend/package.json
  backend/src/common/enums/app/env.enum.ts
  backend/src/services/auth/auth.service.ts
  backend/src/services/mail_verification/send.service.ts
  backend/src/services/mail_verification/token.service.ts
  backend/src/services/mail_verification/user_security.service.ts
  backend/yarn.lock
  package.json
  yarn.lock
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

resolved 2 conflicts for merging
  backend/src/controllers/auth/auth.controller.ts
  backend/src/middlewares/auth/auth.middleware.ts
  backend/src/routes/auth/auth.router.ts
  shared/src/common/types/auth/auth.ts
  shared/src/common/types/auth/sign-in-data.type.ts
  shared/src/common/types/types.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:backend:js

Add reset password functionality
  backend/src/controllers/auth/auth.controller.ts
  backend/src/routes/auth/auth.router.ts
  backend/src/services/auth/auth.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

fix all bugs from task-review
  backend/package.json
  backend/src/common/enums/app/env.enum.ts
  backend/src/common/types/controller/controller.ts
  backend/src/common/types/prisma/prisma.ts
  backend/src/common/types/types.ts
  backend/src/controllers/auth/auth.controller.ts
  backend/src/helpers/mailtrap/interfaces/INodemailerPayload.ts
  backend/src/helpers/mailtrap/mailtrap.ts
  backend/src/helpers/mailtrap/template/requestResetPassword.handlebars
  backend/src/helpers/mailtrap/template/resetPassword.handlebars
  backend/src/helpers/mailtrap/templates/resetPasswordConfirmation.ts
  backend/src/helpers/mailtrap/templates/resetPasswordRequest.ts
  backend/src/routes/auth/auth.router.ts
  backend/src/services/auth/auth.service.ts
  backend/tsconfig.json
  backend/yarn.lock
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js
