Repository BinaryStudioAcademy/bsa-2022-autoline: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:tests:js, yarn lint:backend:js, yarn lint:frontend:css, yarn lint:frontend:js

.lintstagedrc.yml:

'*.{ts,tsx,html,json,md}': prettier --write
'*': yarn lint:editorconfig && yarn lint:fs
'shared/**/*.ts': yarn lint:shared:js
'tests/**/*.ts': yarn lint:tests:js
'backend/**/*.ts': yarn lint:backend:js
'frontend/**/*.scss': yarn lint:frontend:css
'frontend/**/*.{ts,tsx}': yarn lint:frontend:js

fix/input fields placeholder font
  frontend/src/components/common/input-field/styles.module.scss
Due: yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css

Compare and fixed header adaptive for unauthorised user
  frontend/src/components/edit-profile/edit-profile.tsx
  frontend/src/components/header/drawer/drawer.tsx
  frontend/src/components/header/header.tsx
  frontend/src/components/header/private-elements/private-elements.tsx
  frontend/src/components/header/unauthorised-elements/unauthorised-elements.tsx
  frontend/yarn.lock
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

changed email schema
  frontend/src/components/mail-verification/verification-failed/mail-verification-failed.tsx
  frontend/src/components/mail-verification/verification-failed/validation-schema.ts
  frontend/src/components/mail-verification/verification-success/mail-verification-success.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Hide number of cars if button expanded
  frontend/src/components/complete-set-table/complete-set-table-collapsed.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Fixed swapping min/max values in range-selector.tsx
  frontend/src/components/common/range-selector/range-selector.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Fix width of table cells
  frontend/src/components/car-list-item/styles.module.scss
  frontend/src/components/complete-set-table/complete-set-table.tsx
  frontend/src/components/complete-set-table/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

email verification route is protected
  backend/src/services/auth/auth.service.ts
  backend/src/services/mail-verification/send-activation-link/templates/email.hbs
  backend/src/services/mail-verification/send-activation-link/templates/logo.svg
  backend/src/services/mail-verification/send.service.ts
  frontend/src/components/mail-verification/verification-failed/mail-verification-failed.tsx
  frontend/src/components/mail-verification/verification-failed/styles.module.scss
  frontend/src/components/mail-verification/verification-failed/validation-schema.ts
  frontend/src/components/mail-verification/verification-success/mail-verification-success.tsx
  frontend/src/components/mail-verification/verification-success/styles.module.scss
  frontend/src/components/sign/components/sign-up-form/sign-up-form.tsx
  shared/src/common/enums/validation/user-validation-message.enum.ts
  shared/src/validation-schemas/email/email-validation-schema.ts
  shared/src/validation-schemas/validation-schemas.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:backend:js, yarn lint:frontend:css, yarn lint:frontend:js

implement adding refresh token to store
  frontend/src/components/sign/components/sign-in-form/sign-in-form.tsx
  frontend/src/components/sign/components/sign-with-oauth/sign-with-oauth.tsx
  frontend/src/store/auth/slice.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

add listenerMiddleware for logout
  frontend/src/store/auth/middlewares.ts
  frontend/src/store/store.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Remove unused cyrillic field
  backend/api-autoria/cars/brands-with-models.ts
  backend/api-autoria/cars/cars-data.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Show all cars if filters are empties
  frontend/src/components/advanced-auto-filter/advanced-auto-filter.tsx
  frontend/src/helpers/car-filters/is-filters-empty.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Replace cyrillic letters to h.p.
  backend/api-autoria/cars/cars-data.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Change complectations names to lowercase
  backend/api-autoria/cars/cars-data.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

path style fix
  frontend/src/common/types/cars/checkbox-list-data.type.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Change complectations names to lowercase
  backend/api-autoria/cars/brands-with-models.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Replace broken link
  backend/api-autoria/cars/cars-data.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Add more complectations
  backend/api-autoria/cars/cars-data.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

fixed button
  frontend/src/components/advanced-auto-filter/advanced-auto-filter.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

update jwt exception
  backend/src/helpers/token/verify-token/verify-token.helper.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

some fixes
  frontend/src/components/advanced-auto-filter/advanced-auto-filter.tsx
  frontend/src/helpers/car-filters/is-filters-empty.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

fixed typescript version
  package.json
  yarn.lock
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs

Rename CarPreviewType to CarPreview
  backend/src/services/new-cars/new-cars.service.ts
  backend/src/services/preferences/wishlist.service.ts
  frontend/src/common/types/card/card.ts
  frontend/src/components/wishlist/wishlist.tsx
  frontend/src/store/queries/new-cars.ts
  shared/src/common/types/cars/cars.ts
  shared/src/common/types/cars/model.ts
  shared/src/common/types/preferences/wishlist-response-dto.type.ts
  shared/src/common/types/types.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:backend:js, yarn lint:frontend:js

fixed file name
  frontend/src/components/details-car-panel/details-car-panel.tsx
  frontend/src/helpers/utils/convert-price.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

changed block name, added keys by id for map list
  frontend/src/components/viewed-cars/components/viewed-cars-grid/viewed-cars-grid.tsx
  frontend/src/components/viewed-cars/viewed-cars.tsx
  shared/src/common/types/viewed-cars/viewed-cars-post-dto.type.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:frontend:js

fix autotest error
  shared/src/common/types/viewed-cars/viewed-cars-post-dto.type.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js

fix-app-title-name-icon
  frontend/index.html
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs

fix autotest error
  frontend/src/store/queries/api-routes.ts
  frontend/src/store/queries/api_routes.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

fix personal page content width
  frontend/src/components/personal-page/personal-page.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

fix api-routes file name
  frontend/src/store/queries/history-viewed-cars/index.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

fix bug_25 Top AutoRia section should display 8 cars
  frontend/src/components/landing-page/mock-top-cars.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Add user role field on backend
  backend/src/controllers/update-user/update-user.controller.ts
  backend/src/services/user/user.service.ts
  frontend/src/store/queries/user/update-user.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js, yarn lint:frontend:js

Fix routes
  frontend/src/navigation/routing/routing.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Remove user from state
  frontend/src/store/auth/slice.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Added `!` at the end of the "Hello"
  backend/src/services/mail-verification/send-activation-link/templates/email.hbs
Due: yarn lint:editorconfig && yarn lint:fs

update store logic
  frontend/src/store/auth/slice.ts
  frontend/src/store/queries/index.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

add mutex to prevent multiply refresh requests
  frontend/package.json
  frontend/src/store/queries/index.ts
  frontend/yarn.lock
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

tried to fix the bug with the path
  backend/src/services/mail-verification/send-activation-link/email.hbs
  backend/src/services/mail-verification/send-activation-link/send-link.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

changed template
  backend/src/services/mail-verification/send-activation-link/email.hbs
Due: yarn lint:editorconfig && yarn lint:fs

fix types
  frontend/src/store/queries/index.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js
