Repository BinaryStudioAcademy/bsa-2022-autoline: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:tests:js, yarn lint:backend:js, yarn lint:frontend:css, yarn lint:frontend:js

.lintstagedrc.yml:

'*.{ts,tsx,html,json,md}': prettier --write
'*': yarn lint:editorconfig && yarn lint:fs
'shared/**/*.ts': yarn lint:shared:js
'tests/**/*.ts': yarn lint:tests:js
'backend/**/*.ts': yarn lint:backend:js
'frontend/**/*.scss': yarn lint:frontend:css
'frontend/**/*.{ts,tsx}': yarn lint:frontend:js

Created car-filter slice & queries for RTK Query
  frontend/src/hooks/hooks.ts
  frontend/src/hooks/store/store.hooks.ts
  frontend/src/store/car-filter/slice.ts
  frontend/src/store/queries/cars/index.ts
  frontend/src/store/root-reducer.ts
  frontend/src/store/store.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Created endpoints for RTK Query
  backend/package.json
  backend/src/controllers/cars/cars.controller.ts
  backend/src/routes/cars/cars.router.ts
  backend/src/services/cars/cars.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Created advanced-filter & some common components + helpers
  frontend/src/components/advanced-auto-filter/advanced-auto-filter.tsx
  frontend/src/components/advanced-auto-filter/brand-details/brand-details.tsx
  frontend/src/components/advanced-auto-filter/styles.module.scss
  frontend/src/components/common/checkbox-list/checkbox-list.tsx
  frontend/src/components/common/checkbox-list/styles.module.scss
  frontend/src/components/common/icons/checkbox/custom-checkbox.tsx
  frontend/src/helpers/filters-to-query.ts
  frontend/src/helpers/get-value-by-id.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

Added range-selector component + icons
  frontend/src/components/common/range-selector/range-selector.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Created simple-filter & some common components
  frontend/src/components/common/autocomplete-input/autocomplete-input.tsx
  frontend/src/components/common/range-selector/range-selector.tsx
  frontend/src/components/common/range-selector/styles.module.scss
  frontend/src/components/simple-auto-filter/simple-auto-filter.tsx
  frontend/src/components/simple-auto-filter/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

add passport-google package
  backend/package.json
  backend/yarn.lock
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs

update env
  .env.example/backend.env
  backend/src/common/enums/app/env.enum.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

add google strategy
  backend/src/middlewares/auth/strategies/google.strategy.ts
  backend/src/middlewares/auth/strategies/strageties.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

update user_security table in database
  backend/prisma/migrations/20220822081836_fix_user_security/migration.sql
  backend/prisma/schema.prisma
  backend/src/services/auth/auth.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

add google auth logic
  backend/src/controllers/auth/auth.controller.ts
  backend/src/middlewares/auth/auth.middleware.ts
  backend/src/middlewares/middlewares.ts
  backend/src/routes/auth/auth.router.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

update prisma queries for google strategy
  backend/src/controllers/auth/auth.controller.ts
  backend/src/middlewares/auth/auth.middleware.ts
  backend/src/middlewares/auth/strategies/google.strategy.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

add typed useDispatch
  frontend/src/hooks/hooks.ts
  frontend/src/hooks/store/store.hooks.ts
  frontend/src/store/store.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

add redirect route
  frontend/src/common/enums/app/app-route.enum.ts
  frontend/src/navigation/routing/routing.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

move sign with google button to separate component
  frontend/src/components/sign/components/sign-in-form/sign-in-form.tsx
  frontend/src/components/sign/components/sign-up-form/sign-up-form.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

add open google page helper
  frontend/src/helpers/helpers.ts
  frontend/src/helpers/sign/open-google.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

add sign with google component
  frontend/src/components/sign/components/sign-in-form/sign-in-form.tsx
  frontend/src/components/sign/components/sign-up-form/sign-up-form.tsx
  frontend/src/components/sign/components/sign-with-google/sign-with-google.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

add redirect page
  frontend/src/components/sign/components/redirect-after-sign/redirect-after-sign.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

add refresh token saving
  frontend/src/common/enums/app/storage-key.enum.ts
  frontend/src/common/enums/enums.ts
  frontend/src/components/sign/components/redirect-after-sign/redirect-after-sign.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

rename functions and methods
  backend/src/common/types/prisma/prisma.ts
  backend/src/common/types/types.ts
  backend/src/controllers/users/users.controller.ts
  backend/src/controllers/viewed-cars/viewed-cars.controller.ts
  backend/src/routes/viewed-cars/viewed.router.ts
  backend/src/services/viewed-cars/viewed-cars.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Fix Car list item structure and styles
  frontend/src/assets/css/styles.scss
  frontend/src/common/types/complete-set/complete-set.ts
  frontend/src/components/car-list-item/car-list-item.tsx
  frontend/src/components/car-list-item/slider-nav-button/styles.module.scss
  frontend/src/components/car-list-item/styles.module.scss
  frontend/src/components/complete-set-table/complete-set-table.tsx
  frontend/src/components/complete-set-table/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

Changed range-selector.tsx
  frontend/src/components/common/range-selector/range-selector.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Added path to car-types in shared + car api-route enum
  frontend/src/store/queries/api_routes.ts
  shared/src/common/types/cars/cars.ts
  shared/src/common/types/types.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:frontend:js

fix user creation
  backend/src/middlewares/auth/strategies/google.strategy.ts
  backend/src/services/auth/auth.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Changed select-field props, removed commented code in simple-auto-filter
  frontend/src/common/enums/enums.ts
  frontend/src/common/types/select-field/select-field.ts
  frontend/src/components/common/select-field/select-field.tsx
  frontend/src/components/simple-auto-filter/simple-auto-filter.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

frontent side done
  backend/src/common/types/types.ts
  backend/src/helpers/new-cars/new-cars-helper.ts
  frontend/src/common/enums/api/new-cars-path.ts
  frontend/src/common/enums/enums.ts
  frontend/src/components/common/input-field/input-field.tsx
  frontend/src/components/landing-page/landing-page.tsx
  frontend/src/components/mail-verification/verification-failed/mail-verification-failed.tsx
  frontend/src/components/new-car-card/new-car-card.tsx
  frontend/src/store/queries/new-cars.ts
  shared/src/common/types/new-cars/index.ts
  shared/src/common/types/new-cars/new-cars.ts
  shared/src/common/types/types.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:backend:js, yarn lint:frontend:js

Changed root-reducer.ts
  frontend/src/store/root-reducer.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Added path to custom checkboxes in icons.tsx
  frontend/src/components/common/icons/icons.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

used compare toast for new car component
  frontend/src/components/compare-toast/compare-toast.tsx
  frontend/src/components/compare-toast/styles.module.scss
  frontend/src/components/landing-page/components/header/styles.module.scss
  frontend/src/components/new-car-card/new-car-card.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

Move Create and Delete functions to Card component
  frontend/src/common/types/card/card.ts
  frontend/src/components/new-car-card/new-car-card.tsx
  frontend/src/components/wishlist/wishlist.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Move back liked props
  frontend/src/components/wishlist/wishlist.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Minor code fixes
  backend/src/routes/routes.ts
  frontend/src/common/enums/enums.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js, yarn lint:frontend:js

update helper name
  frontend/src/helpers/helpers.ts
  frontend/src/helpers/sign/open-google.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

update working with storage events
  frontend/src/components/sign/components/redirect-after-sign/redirect-after-sign.tsx
  frontend/src/components/sign/components/sign-with-google/sign-with-google.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Display message if nothing in wishlist
  frontend/src/components/wishlist/wishlist.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

get rid of redundant if-else nesting
  backend/src/middlewares/auth/strategies/google.strategy.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Some fixes in types, slice & query
  frontend/src/common/types/cars/filters.type.ts
  frontend/src/components/common/icons/arrow-down/arrow-down.tsx
  frontend/src/store/car-filter/slice.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Simplified & refactored
  frontend/src/common/types/select-field/select-field.ts
  frontend/src/components/common/autocomplete-input/autocomplete-input.tsx
  frontend/src/components/common/range-selector/range-selector.tsx
  frontend/src/components/simple-auto-filter/simple-auto-filter.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Fixed font sizes
  frontend/src/components/simple-auto-filter/simple-auto-filter.tsx
  frontend/src/components/simple-auto-filter/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

Simplified region value
  frontend/src/components/advanced-auto-filter/advanced-auto-filter.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Fixed font sizes & api path
  frontend/src/common/enums/enums.ts
  frontend/src/components/advanced-auto-filter/advanced-auto-filter.tsx
  frontend/src/components/common/checkbox-list/checkbox-list.tsx
  frontend/src/store/queries/api_routes.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js
