Repository BinaryStudioAcademy/bsa-2022-autoline: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:tests:js, yarn lint:backend:js, yarn lint:frontend:css, yarn lint:frontend:js

.lintstagedrc.yml:

'*.{ts,tsx,html,json,md}': prettier --write
'*': yarn lint:editorconfig && yarn lint:fs
'shared/**/*.ts': yarn lint:shared:js
'tests/**/*.ts': yarn lint:tests:js
'backend/**/*.ts': yarn lint:backend:js
'frontend/**/*.scss': yarn lint:frontend:css
'frontend/**/*.{ts,tsx}': yarn lint:frontend:js

Fix type errors
  backend/src/middlewares/auth/auth.middleware.ts
  frontend/src/components/sign/components/sign-up-form/sign-up-form.tsx
  shared/src/common/types/auth/sign-up-data.type.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:backend:js, yarn lint:frontend:js

Fix types path
  backend/src/middlewares/auth/auth.middleware.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

add characteristics list
  frontend/src/common/types/characteristics-list/characteristics-list.ts
  frontend/src/components/characteristics-list/characteristics-group/characteristics-group.tsx
  frontend/src/components/characteristics-list/characteristics-group/styles.module.scss
  frontend/src/components/characteristics-list/characteristics-list.tsx
  frontend/src/components/characteristics-list/mock-car-info.tsx
  frontend/src/components/characteristics-list/styles.module.scss
  frontend/src/store/queries/cars/index.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

add 'forgot password?' button to sign in page
  frontend/package.json
  frontend/src/assets/css/form.scss
  frontend/src/components/sign/components/sign-in-form/sign-in-form.tsx
  frontend/src/components/sign/components/sign-in-form/styles.module.scss
  frontend/src/components/sign/components/sign-up-form/sign-up-form.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

fix deployment
  .docker/autoline/backend.Dockerfile
  .docker/autoline/nginx/nginx.conf
  .dockerignore
  backend/.dockerignore
  frontend/tsconfig.json
  frontend/yarn.lock
  package.json
  shared/package.json
  shared/tsconfig.json
  yarn.lock
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs

Displays applied filters
  frontend/src/components/applied-filters-bar/applied-filters-bar.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

fix deployment
  .docker/autoline/docker-compose.stage.yml
  .docker/autoline/frontend.Dockerfile
  .github/workflows/ci.yml
  .github/workflows/deploy-stage.yml
Due: yarn lint:editorconfig && yarn lint:fs

Fix linter
  .github/CODEOWNERS
  backend/src/server.ts
  frontend/src/store/queries/api-routes.ts
  frontend/src/store/queries/cars/index.ts
  frontend/src/store/queries/preferences/wishlist/index.ts
  frontend/src/store/queries/users/index.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js, yarn lint:frontend:js

added mock data newCars
  frontend/src/components/landing-page/landing-page.tsx
  frontend/src/components/landing-page/mock-new-cars.ts
  frontend/src/components/new-car-card/new-car-card.tsx
  frontend/src/store/queries/api-routes.ts
  frontend/src/store/queries/cars/index.ts
  frontend/src/store/queries/preferences/wishlist/index.ts
  frontend/src/store/queries/users/index.ts
  package.json
  yarn.lock
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Removed Race, added engine power & displacement
  frontend/src/common/enums/cars/filters-names.enum.ts
  frontend/src/common/enums/cars/ranges.ts
  frontend/src/common/types/cars/filters.type.ts
  frontend/src/components/advanced-auto-filter/advanced-auto-filter.tsx
  frontend/src/store/car-filter/slice.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

mock data for new cars
  frontend/src/components/landing-page/landing-page.tsx
  frontend/src/components/landing-page/mock-new-cars.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

fix (linter)
  backend/src/common/enums/app/env.enum.ts
  backend/src/controllers/auth/auth.controller.ts
  backend/src/controllers/mail-verification/send-link.ts
  backend/src/controllers/mail-verification/verification.ts
  backend/src/controllers/preferences/wishlist.controller.ts
  backend/src/controllers/update-user/update-user.controller.ts
  backend/src/controllers/users/users.controller.ts
  backend/src/controllers/viewed-cars/viewed-cars.controller.ts
  backend/src/helpers/cars/api-autoria.helper.ts
  backend/src/middlewares/auth/auth.middleware.ts
  backend/src/middlewares/exceptions/exceptions.middleware.ts
  backend/src/middlewares/update-user/update-user.middleware.ts
  backend/src/server.ts
  backend/src/services/auth/auth.service.ts
  backend/src/services/mail-verification/send-activation-link/send-link.ts
  backend/src/services/mail-verification/send.service.ts
  backend/src/services/mail-verification/token.service.ts
  backend/src/services/users/users.service.ts
  frontend/src/components/reset-password/reset-password.tsx
  frontend/src/components/sign/components/sign-in-form/sign-in-form.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js, yarn lint:frontend:js

fix (linter)
  frontend/package.json
  frontend/yarn.lock
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs

fix (linter)
  .github/workflows/ci.yml
Due: yarn lint:editorconfig && yarn lint:fs

add cities endpoint
  backend/src/controllers/cars/cars.controller.ts
  backend/src/routes/cars/cars.router.ts
  backend/src/services/cars/cars.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Fixed range-selector's local state behaviour after reset all filters
  frontend/src/components/common/range-selector/range-selector.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

refactoring
  backend/api-autoria/cars/fetched-data/fetched-data.ts
  backend/prisma/seed.ts
  backend/src/controllers/complectations/complectations.controller.ts
  backend/src/routes/complectations/complectations.router.ts
  backend/src/services/complectations/complectations.service.ts
  frontend/src/common/types/details-panel/details.panel.ts
  frontend/src/common/types/types.ts
  frontend/src/components/details-car-panel/details-car-panel.tsx
  frontend/src/components/details-car-panel/styles.module.scss
  frontend/src/navigation/routing/routing.tsx
  frontend/src/store/queries/details-panel.ts
  shared/src/common/enums/api/api-path.enum.ts
  shared/src/common/types/complectations/complectations.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:backend:js, yarn lint:frontend:css, yarn lint:frontend:js

fix due to pr
  frontend/src/components/sign/components/sign-in-form/sign-in-form.tsx
  frontend/src/components/sign/components/sign-in-form/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

move cities to separate service
  backend/src/controllers/cars/cars.controller.ts
  backend/src/controllers/location/location.controller.ts
  backend/src/routes/cars/cars.router.ts
  backend/src/routes/location/location.router.ts
  backend/src/routes/routes.ts
  backend/src/server.ts
  backend/src/services/cars/cars.service.ts
  backend/src/services/location/location.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Revert "Displays applied filters"
  frontend/src/components/applied-filters-bar/applied-filters-bar.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Revert "created component"
  frontend/src/components/applied-filters-bar/applied-filters-bar.tsx
  frontend/src/components/applied-filters-bar/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

added new types for viewed cars on the backend side
  backend/src/common/types/prisma/prisma.ts
  backend/src/common/types/types.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

added new types for viewed cars on the frontend side
  frontend/src/common/enums/enums.ts
  frontend/src/common/types/history-of-viewed-cars/history-of-viewed-cars.ts
  frontend/src/common/types/types.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Added Edit Page
  frontend/src/assets/images/edit-profile/cross.svg
  frontend/src/assets/images/edit-profile/default-avatar.png
  frontend/src/assets/images/edit-profile/pencil.svg
  frontend/src/assets/images/edit-profile/trash.svg
  frontend/src/common/types/button/button.ts
  frontend/src/components/common/button-fill/button-fill.tsx
  frontend/src/components/edit-profile/edit-profile.tsx
  frontend/src/components/edit-profile/form-input-text/form-input-text.tsx
  frontend/src/components/edit-profile/form-input-text/styles.module.scss
  frontend/src/components/edit-profile/select-years-range/select-years-range.tsx
  frontend/src/components/edit-profile/select-years-range/styles.module.scss
  frontend/src/components/edit-profile/sign-in/sign-in.tsx
  frontend/src/components/edit-profile/sign-in/styles.module.scss
  frontend/src/components/edit-profile/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

created helper function to format the response data
  backend/src/helpers/helpers.ts
  backend/src/helpers/viewed-cars/viewed-cars.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Some fixes
  frontend/src/components/edit-profile/edit-profile.tsx
  frontend/src/components/edit-profile/select-field-form/select-field-form.tsx
  frontend/src/components/edit-profile/select-field-form/select-field-form.type.ts
  frontend/src/components/edit-profile/select-field-form/styles.module.scss
  frontend/src/components/edit-profile/select-years-range/select-year-range.tsx
  frontend/src/store/queries/user/update-user.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

Added edit page frontend
  frontend/src/components/edit-profile/dialog-delete-account/dialog-delete-account.tsx
  frontend/src/components/edit-profile/edit-profile.tsx
  frontend/src/components/edit-profile/form-input-text/form-input-text.tsx
  frontend/src/components/edit-profile/form-input-text/styles.module.scss
  frontend/src/components/edit-profile/select-years-range/select-years-range.tsx
  frontend/src/components/edit-profile/styles.module.scss
  frontend/src/components/header/private-elements/private-elements.tsx
  frontend/src/hooks/app-form/app-form.hook.ts
  frontend/src/store/queries/api-routes.ts
  frontend/src/store/queries/user/update-user.ts
  frontend/yarn.lock
  shared/src/common/enums/api/api-path.enum.ts
  shared/src/common/types/types.ts
  shared/src/common/types/user/index.ts
  shared/src/common/types/user/update-user.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:frontend:css, yarn lint:frontend:js

changed getViwedCars controller, added the option to enter additional parameters
  backend/src/controllers/viewed-cars/viewed-cars.controller.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Added API enum, changed styles
  frontend/src/components/simple-auto-filter/simple-auto-filter.tsx
  frontend/src/components/simple-auto-filter/styles.module.scss
  frontend/src/store/queries/api_routes.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

changed getViwedCars service, expanded the ability to get the list. In addCar service changed logic rewrite data
  backend/src/services/viewed-cars/viewed-cars.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

created new rtk query to get the history of viewed cars
  frontend/src/store/queries/api_routes.ts
  frontend/src/store/queries/history-viewed-cars/index.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

added mock data topCars
  frontend/src/components/landing-page/landing-page.tsx
  frontend/src/components/landing-page/mock-top-cars.ts
  frontend/src/components/top-car-card/top-car-card.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

changed short-car-card component taking into account server response data
  frontend/src/components/short-car-card/short-car-card.tsx
  frontend/src/components/short-car-card/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

change and rename viewed cars grid component
  frontend/src/components/viewed-cars-grid/style.module.scss
  frontend/src/components/viewed-cars-grid/viewed-cars-grid.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

Latest fixes
  frontend/src/components/edit-profile/edit-profile.tsx
  frontend/src/components/edit-profile/select-years-range/select-year-range.tsx
  frontend/src/components/edit-profile/styles.module.scss
  frontend/src/components/header/private-elements/private-elements.tsx
  frontend/src/store/queries/user/update-user.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

changed and renamed viewed car component, added his to personal page
  frontend/src/components/personal-page/personal-page.tsx
  frontend/src/components/reviewed-cars/reviewed-cars.tsx
  frontend/src/components/reviewed-cars/styles.module.scss
  frontend/src/components/viewed-cars/styles.module.scss
  frontend/src/components/viewed-cars/viewed-cars.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

added more cars
  frontend/src/components/landing-page/landing-page.tsx
  frontend/src/components/landing-page/mock-new-cars.ts
  frontend/src/components/landing-page/mock-top-cars.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

connected toast to new car component
  frontend/src/components/compare-toast/styles.module.scss
  frontend/src/components/new-car-card/new-car-card.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

fixed adminAuthMiddleware()
  backend/src/middlewares/roles-based-protection/role.middleware.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js
