Repository BinaryStudioAcademy/bsa-2022-autoline: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:tests:js, yarn lint:backend:js, yarn lint:frontend:css, yarn lint:frontend:js

Changed mockData in useState
  frontend/src/components/cars-categories/cars-categories.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Create users factory with seeds
  backend/package.json
  backend/prisma/migrations/20220809093013_/migration.sql
  backend/prisma/schema.prisma
  backend/prisma/seed.ts
  backend/prisma/seeds/users-security.ts
  backend/prisma/seeds/users.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

migration user security table
  backend/prisma/migrations/20220809093013_user_security_table/migration.sql
Due: yarn lint:editorconfig && yarn lint:fs

Added Swiper dep.
  frontend/package.json
  frontend/src/components/cars-categories/cars-categories.tsx
  frontend/src/components/cars-categories/mock-brands.ts
  frontend/src/components/cars-categories/styles.module.scss
  frontend/yarn.lock
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

move car description to separate component
  frontend/src/components/car-card/components/card-base/car-card.tsx
  frontend/src/components/car-card/components/card-base/styles.module.scss
  frontend/src/components/car-card/components/card-description/car-description.tsx
  frontend/src/components/car-card/components/card-description/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

add font link and file with vars
  frontend/src/assets/css/styles.scss
  frontend/src/assets/css/variables.scss
Due: yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css

change compare picture
  frontend/src/assets/images/compare.svg
  frontend/src/assets/images/compare_part_1.svg
  frontend/src/assets/images/compare_part_2.svg
Due: yarn lint:editorconfig && yarn lint:fs

add responsivness
  frontend/src/components/car-card/components/card-base/car-card.tsx
  frontend/src/components/car-card/components/card-base/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

Add Input Field component
  frontend/src/components/common/input-field/input-field.tsx
  frontend/src/components/common/input-field/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

Add Button props type
  frontend/src/common/types/button/button.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Add Input props type
  frontend/src/common/types/input-field/input-field.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Export prop types
  frontend/src/common/types/types.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Add button outline and button fill components
  frontend/src/components/common/button-fill/button-fill.tsx
  frontend/src/components/common/button-fill/styles.module.scss
  frontend/src/components/common/button-outline/button-outline.tsx
  frontend/src/components/common/button-outline/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

Add icons for inputs
  frontend/src/assets/images/error.svg
  frontend/src/assets/images/eye-slash.svg
Due: yarn lint:editorconfig && yarn lint:fs

Fix background image size
  frontend/src/components/sign/sign.tsx
  frontend/src/components/sign/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

Add Sign in form component
  frontend/src/components/sign/components/components.tsx
  frontend/src/components/sign/components/sign-in-form/sign-in-form.tsx
  frontend/src/components/sign/components/sign-in-form/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

Add global input styles
  frontend/src/assets/css/form.scss
  frontend/src/assets/css/styles.scss
Due: yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css

fix descrption overflow and price font size
  frontend/src/components/car-card/components/card-base/styles.module.scss
  frontend/src/components/car-card/components/card-description/styles.module.scss
Due: yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css

added send_mail function
  .env.example/backend.env
  .env.example/frontend.env
  backend/package.json
  backend/prisma/schema.prisma
  backend/src/common/enums/app/env.enum.ts
  backend/src/controllers/email_validate.ts
  backend/src/routes/activate/activate.router.ts
  backend/src/routes/auth/auth.router.ts
  backend/src/routes/routes.ts
  backend/src/server.ts
  backend/src/services/verification/mail_send.service.ts
  backend/src/services/verification/token_email_service.ts
  backend/yarn.lock
  frontend/src/assets/css/styles.css
  frontend/src/assets/css/styles.css.map
  package-lock.json
  package.json
  yarn.lock
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Created scrollable slider with basic style
  frontend/src/components/cars-categories/cars-categories.tsx
  frontend/src/components/cars-categories/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

Field 'user.sex' set as optional
  backend/prisma/migrations/20220809093013_user_security_table/migration.sql
  backend/prisma/schema.prisma
Due: yarn lint:editorconfig && yarn lint:fs

fix car name
  frontend/src/components/car-card/components/card-base/car-card.tsx
  frontend/src/components/car-card/components/card-base/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

added new sign in types in shared folder
  shared/src/common/types/auth/auth.ts
  shared/src/common/types/auth/sign-in-data.type.ts
  shared/src/common/types/types.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js

fix: create token method
  backend/src/helpers/token/create-token/create-token.helper.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

added passport.authenticate callback function for error handling
  backend/src/middlewares/auth/auth.middleware.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

fix: added refreshtoken generation and its update in db, changed types in signin controler method, rename middlewares in router
  backend/src/controllers/auth/auth.controller.ts
  backend/src/routes/auth/auth.router.ts
  backend/src/services/auth/auth.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

changed user security migration, now is one to one
  backend/prisma/migrations/20220809205017_user_security_one_to_one/migration.sql
  backend/prisma/schema.prisma
  backend/src/controllers/email_validate.ts
  backend/src/routes/activate/activate.router.ts
  backend/src/services/verification/activate.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

fix errors after moved password to user_security
  backend/src/common/types/prisma/prisma.ts
  backend/src/common/types/types.ts
  backend/src/controllers/auth/auth.controller.ts
  backend/src/middlewares/auth/strategies/local.strategy.ts
  backend/src/services/auth/auth.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Placed google fonts import before the custom styles import
  frontend/src/assets/css/styles.scss
Due: yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css

change max-nesting-depth to 4
  .stylelintrc.yml
Due: yarn lint:editorconfig && yarn lint:fs

delete separate component for description
  frontend/src/components/car-card/car-card.tsx
  frontend/src/components/car-card/components/card-description/car-description.tsx
  frontend/src/components/car-card/components/card-description/styles.module.scss
  frontend/src/components/car-card/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

rename component for better understanding
  frontend/src/components/new-car-card/new-car-card.tsx
  frontend/src/components/new-car-card/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

refactor component using scss nesting
  frontend/src/components/new-car-card/new-car-card.tsx
  frontend/src/components/new-car-card/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

refactor styles.scss to match style linter config
  frontend/src/assets/css/styles.scss
Due: yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css

corected migrate for user_security, from required to optional fields
  backend/prisma/migrations/20220810085748_user_security/migration.sql
  backend/prisma/schema.prisma
  backend/src/controllers/email_validate.ts
  backend/src/services/verification/activate.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Added body type table
  backend/package.json
  backend/prisma/migrations/20220810112303_body_type_table/migration.sql
  backend/prisma/schema.prisma
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs

Added manufacturer country table
  backend/package.json
  backend/prisma/migrations/20220810113646_manufacturer_countrie_table/migration.sql
  backend/prisma/schema.prisma
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs

Added brand table
  backend/package.json
  backend/prisma/migrations/20220810114057_brand_table/migration.sql
  backend/prisma/schema.prisma
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs

Added model table
  backend/package.json
  backend/prisma/migrations/20220810114713_model_table/migration.sql
  backend/prisma/schema.prisma
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs

Path conditions:
  prettier --write: any of: *.{ts,tsx,html,json,md}
  yarn lint:editorconfig && yarn lint:fs: any of: *
  yarn lint:shared:js: any of: shared/**/*.ts
  yarn lint:tests:js: any of: tests/**/*.ts
  yarn lint:backend:js: any of: backend/**/*.ts
  yarn lint:frontend:css: any of: frontend/**/*.scss
  yarn lint:frontend:js: any of: frontend/**/*.{ts,tsx}
