Repository BinaryStudioAcademy/bsa-2022-autoline: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:tests:js, yarn lint:backend:js, yarn lint:frontend:css, yarn lint:frontend:js

.lintstagedrc.yml:

'*.{ts,tsx,html,json,md}': prettier --write
'*': yarn lint:editorconfig && yarn lint:fs
'shared/**/*.ts': yarn lint:shared:js
'tests/**/*.ts': yarn lint:tests:js
'backend/**/*.ts': yarn lint:backend:js
'frontend/**/*.scss': yarn lint:frontend:css
'frontend/**/*.{ts,tsx}': yarn lint:frontend:js

Added `max-empty-lines` to the stylelint rules
  .stylelintrc.yml
Due: yarn lint:editorconfig && yarn lint:fs

- Add migrations runing after deploy - Add deployment start slack message
  .docker/autoline/backend.Dockerfile
  .github/workflows/deploy-stage.yml
  package.json
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs

Removed duplicated lines from seed.ts
  backend/prisma/seed.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Resolved conflicts
  frontend/src/components/advanced-auto-filter/advanced-auto-filter.tsx
  frontend/src/store/queries/cars/index.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Change naming from updateUserService to userService
  backend/src/controllers/update-user/update-user.controller.ts
  backend/src/services/user/user.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Added throw exception if user not exist
  backend/src/common/enums/exception/exception-message.enum.ts
  backend/src/services/user/user.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Added `typescript` to the root of the app
  package.json
  yarn.lock
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs

Changed name from DrawerComp to DrawerComponent
  frontend/src/components/header/header.tsx
  frontend/src/components/landing-page/components/drawer/drawer.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Changed name from DefaultElements to UnauthorisedElements
  frontend/src/components/header/header.tsx
  frontend/src/components/header/unauthorised-elements/unauthorised-elements.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

change crashed links of cars' images
  frontend/src/components/landing-page/mock-new-cars.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Warning fixes
  backend/src/controllers/new-cars/new-cars.ts
  frontend/src/components/characteristics-list/characteristics-group/characteristics-group.tsx
  frontend/src/components/characteristics-list/characteristics-list.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js, yarn lint:frontend:js

- Add migrations runing after deploy - Add deployment start slack message
  .docker/autoline/backend.Dockerfile
Due: yarn lint:editorconfig && yarn lint:fs

create-layout-for-landing-page
  frontend/src/components/cars-categories/cars-categories.tsx
  frontend/src/components/cars-categories/styles.module.scss
  frontend/src/components/landing-page/components/drawer/drawer.tsx
  frontend/src/components/landing-page/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

Bug_10 fix
  frontend/src/assets/css/form.scss
  frontend/src/components/common/button-fill/styles.module.scss
  frontend/src/components/common/button-outline/styles.module.scss
Due: yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css

use line-clamp
  frontend/src/components/new-car-card/styles.module.scss
Due: yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css

- Add migrations runing after deploy - Add deployment start slack message
  .docker/autoline/backend.Dockerfile
  backend/package.json
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs

Add Page container component
  frontend/src/components/common/page-container/page-container.tsx
  frontend/src/components/common/page-container/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

Fix content width on pages
  frontend/src/components/administration/administration.tsx
  frontend/src/components/common/page-container/page-container.tsx
  frontend/src/components/header/header.module.scss
  frontend/src/components/header/header.tsx
  frontend/src/components/personal-page/personal-page.tsx
  frontend/src/components/search-page/search-page.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

Added useSelector
  frontend/src/components/header/header.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Removed unused
  frontend/src/components/header/header.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

fixed redundant variable and if-else nesting
  backend/src/services/users/users.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

outsided function useDebounce in separate hook
  frontend/src/components/administration/administration.tsx
  frontend/src/hooks/common/hook.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

change paths to reset-password templates
  backend/src/services/auth/auth.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

added fetched-data files
  backend/api-autoria/cars/fetched-data/fetched-data.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

rolled back changes connected with sex default(not_known)
  backend/prisma/migrations/20220809093013_user_security_table/migration.sql
  backend/prisma/schema.prisma
  backend/src/controllers/update-user/update-user.controller.ts
  backend/src/dtos/user/update-user.dto.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

added fetched data file
  .gitignore
  backend/api-autoria/cars/fetched-data/fetched-data.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

added json files
  backend/.gitignore
  backend/api-autoria/cars/fetched-data/body-types.json
  backend/api-autoria/cars/fetched-data/cities.json
  backend/api-autoria/cars/fetched-data/colors.json
  backend/api-autoria/cars/fetched-data/drivetrains.json
  backend/api-autoria/cars/fetched-data/fuel-types.json
  backend/api-autoria/cars/fetched-data/manufacturers.json
  backend/api-autoria/cars/fetched-data/regions.json
  backend/api-autoria/cars/fetched-data/transmission-types.json
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs

fixed packages issues
  yarn.lock
Due: yarn lint:editorconfig && yarn lint:fs

fix (prisma)
  backend/package.json
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs

fixed yarn.lock
  backend/yarn.lock
Due: yarn lint:editorconfig && yarn lint:fs

created route where to buy, backend
  backend/api-autoria/cars/fetched-data/fetched-data.ts
  backend/src/common/enums/app/route-path.enum.ts
  backend/src/controllers/where-buy/where-buy.ts
  backend/src/routes/routes.ts
  backend/src/routes/where-buy/where-buy.router.ts
  backend/src/server.ts
  frontend/src/components/where-buy/where-buy-component/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js, yarn lint:frontend:css

add backend logic for token renewal
  backend/src/controllers/auth/auth.controller.ts
  backend/src/routes/auth/auth.router.ts
  backend/src/services/auth/auth.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

fix yarn.lock
  backend/yarn.lock
Due: yarn lint:editorconfig && yarn lint:fs

mobile menu align to right side
  frontend/src/components/landing-page/components/drawer/drawer.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

fix order import
  frontend/src/components/administration/administration.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

typo
  backend/src/controllers/where-buy/where-buy.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

some fix
  shared/src/validation-schemas/sign-in/sign-in.validation-schema.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js

changed text in template and verification pages
  backend/src/services/mail-verification/send-activation-link/templates/email.hbs
  frontend/src/components/mail-verification/verification-success/mail-verification-success.tsx
  frontend/src/components/mail-verification/verification-success/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

removed slice
  .env.example/frontend.env
  backend/src/controllers/complectations/complectations.controller.ts
  backend/src/services/complectations/complectations.service.ts
  frontend/src/common/enums/app/env.enum.ts
  frontend/src/components/details-car-panel/details-car-panel.tsx
  frontend/src/store/exchange-rates/slice.ts
  frontend/src/store/queries/details-panel.ts
  frontend/src/store/root-reducer.ts
  frontend/src/store/store.ts
  shared/src/common/types/complectations/complectations.ts
  shared/src/common/types/types.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:backend:js, yarn lint:frontend:js

fixed validation for email
  shared/src/common/enums/validation/user-validation-message.enum.ts
  shared/src/validation-schemas/sign-in/sign-in.validation-schema.ts
  shared/src/validation-schemas/sign-up/sign-up.validation-schema.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js
