Repository BinaryStudioAcademy/bsa-2022-autoline: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:tests:js, yarn lint:backend:js, yarn lint:frontend:css, yarn lint:frontend:js

fix delete request and endpoint
  backend/src/routes/comparisons/comparisons.router.ts
  frontend/src/store/queries/comparisons/index.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js, yarn lint:frontend:js

add context alias
  frontend/tsconfig.json
  frontend/vite.config.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

add compare context
  frontend/src/contexts/compare-context.tsx
  frontend/src/main.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

fix compare toastr
  frontend/src/components/compare-toast/compare-toast.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

fix rtkq
  frontend/src/store/queries/comparisons/index.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

added like button
  frontend/src/common/types/like-button/like-button.ts
  frontend/src/common/types/types.ts
  frontend/src/components/car-list-item/car-list-item.tsx
  frontend/src/components/car-list-item/styles.module.scss
  frontend/src/components/common/like-button/like-button.tsx
  frontend/src/components/common/like-button/styles.module.scss
  frontend/src/store/selectors/index.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

disable reset password button after submit
  frontend/src/common/types/button/button.ts
  frontend/src/components/common/button-fill/button-fill.tsx
  frontend/src/components/common/button-fill/styles.module.scss
  frontend/src/components/forgot-password/forgot-password.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

pagination with RTK
  frontend/src/components/where-to-buy/where-buy.tsx
  frontend/src/store/queries/where-buy.ts
  frontend/src/store/where-buy/slice.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

fixed access to administration route
  backend/src/controllers/update-user/update-user.controller.ts
  backend/src/services/user/user.service.ts
  frontend/src/components/header/drawer/drawer.tsx
  frontend/src/components/header/header.tsx
  frontend/src/components/header/private-elements/private-elements.tsx
  frontend/src/navigation/routing/routing.tsx
  frontend/src/store/queries/user/update-user.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js, yarn lint:frontend:js

Renamed `found-cars` -> `foundCars`
  frontend/src/store/found-car/slice.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

adverts per request = 20
  backend/src/controllers/where-buy/where-buy.ts
  backend/src/services/cars/cars-search.service.ts
  frontend/src/common/types/where-to-buy/where-to-buy.ts
  frontend/src/components/where-to-buy/mock-value.ts
  frontend/src/components/where-to-buy/where-buy.tsx
  frontend/src/components/where-to-buy/where-buy/where-buy-item.tsx
  frontend/src/store/queries/where-buy.ts
  frontend/src/store/where-buy/slice.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js, yarn lint:frontend:js

moved verification of an existing user with the same e-mail to the service
  backend/src/middlewares/users/edit-user.middleware.ts
  backend/src/services/users/users.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

s3 test
  .github/workflows/deploy-stage.yml
Due: yarn lint:editorconfig && yarn lint:fs

minor fixes
  shared/src/validation-schemas/edit-user/edit-user.validation-schema.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js

copy .env from s3
  .github/workflows/deploy-stage.yml
Due: yarn lint:editorconfig && yarn lint:fs

fixed a mistake in text
  frontend/src/components/not-found-page/not-found-page.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

fix typo
  backend/src/services/comparisons/comparisons.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

rename liked it item to liked item
  frontend/src/components/user-info-panel/user-info-panel.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

closed additional parametres in onQueryStarted
  frontend/src/store/queries/where-buy.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

added animation for hide notification
  frontend/src/assets/css/animations.scss
  frontend/src/assets/css/styles.scss
Due: yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css

added hide logic for compare notification
  frontend/src/components/compare-toast/compare-toast.tsx
  frontend/src/components/compare-toast/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

added hide logic for remove like notification
  frontend/src/components/common/notification/notification.tsx
  frontend/src/components/common/notification/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

added hide logic in useeffect hook
  frontend/src/components/common/notification/notification.tsx
  frontend/src/components/compare-toast/compare-toast.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Added backend functionality for upload user photo
  backend/package.json
  backend/src/common/enums/app/env.enum.ts
  backend/src/common/types/file/file.ts
  backend/src/controllers/update-user/update-user.controller.ts
  backend/src/middlewares/middlewares.ts
  backend/src/middlewares/photo/photo.middleware.ts
  backend/src/routes/update-user/update-user.router.ts
  backend/src/services/aws/aws.service.ts
  backend/src/services/user/user.service.ts
  backend/yarn.lock
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Added frontend functionality for upload user photo
  frontend/src/components/edit-profile/edit-profile.tsx
  frontend/src/components/edit-profile/styles.module.scss
  frontend/src/store/queries/user/update-user.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

Some fixes & optimizations
  frontend/package.json
  frontend/src/components/advanced-auto-filter/advanced-auto-filter.tsx
  frontend/src/components/advanced-auto-filter/brand-details/brand-details.tsx
  frontend/src/components/common/multiselect-input/multiselect-input.tsx
  frontend/src/store/selectors/car-filter-selectors.ts
  frontend/yarn.lock
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Fixed order of import
  backend/src/controllers/update-user/update-user.controller.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Removed save avatar button after it became unnecessary
  frontend/src/components/edit-profile/edit-profile.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Fixed bad naming
  frontend/src/components/advanced-auto-filter/advanced-auto-filter.tsx
  frontend/src/store/selectors/car-filter-selectors.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Fixed fields names in edit profile
  frontend/src/components/edit-profile/edit-profile.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Code-style fixes
  frontend/src/components/advanced-auto-filter/brand-details/brand-details.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Fixed compare-toast.tsx error
  frontend/src/components/compare-toast/compare-toast.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Path conditions:
  prettier --write: any of: *.{ts,tsx,html,json,md}
  yarn lint:editorconfig && yarn lint:fs: any of: *
  yarn lint:shared:js: any of: shared/**/*.ts
  yarn lint:tests:js: any of: tests/**/*.ts
  yarn lint:backend:js: any of: backend/**/*.ts
  yarn lint:frontend:css: any of: frontend/**/*.scss
  yarn lint:frontend:js: any of: frontend/**/*.{ts,tsx}
