Repository BinaryStudioAcademy/bsa-2022-autoline: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:tests:js, yarn lint:backend:js, yarn lint:frontend:css, yarn lint:frontend:js

.lintstagedrc.yml:

'*.{ts,tsx,html,json,md}': prettier --write
'*': yarn lint:editorconfig && yarn lint:fs
'shared/**/*.ts': yarn lint:shared:js
'tests/**/*.ts': yarn lint:tests:js
'backend/**/*.ts': yarn lint:backend:js
'frontend/**/*.scss': yarn lint:frontend:css
'frontend/**/*.{ts,tsx}': yarn lint:frontend:js

fixed arrow
  frontend/src/assets/css/form.scss
Due: yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css

Fixed bug 126 with autofill current password
  frontend/src/components/common/input-field/input-field.tsx
  frontend/src/components/edit-profile/edit-profile.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Fixed bug-122 with delete user
  backend/prisma/migrations/20220920123634_fix_delete_user/migration.sql
  backend/prisma/schema.prisma
Due: yarn lint:editorconfig && yarn lint:fs

fixed table title
  frontend/src/components/comparison-page/comparison-page.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

create wishlist card component for wishlist tab
  frontend/src/components/comparison-popup/wishlist-card/wishlist-card.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

fixed enum CarSetOptions
  frontend/src/common/enums/car/options.enum.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

added wishlist styles
  frontend/src/components/comparison-popup/wishlist-card/style.module.scss
Due: yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css

added tabs for comparison popup
  frontend/src/components/comparison-popup/comparison-popup.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

added styles for comparison popup tabs
  frontend/src/components/comparison-popup/styles.module.scss
Due: yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css

fixed title in transmission type column
  frontend/src/common/enums/car/options.enum.ts
  frontend/src/components/complete-set-table/complete-set-table.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

fix bug when user go to the viewed cars after login
  frontend/src/components/personal-page/personal-page.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Removed comment
  frontend/src/components/common/input-field/input-field.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

added styles for wishlist card mobile version
  frontend/src/components/comparison-popup/wishlist-card/style.module.scss
Due: yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css

added styles for comparison popup mobile version
  frontend/src/components/comparison-popup/styles.module.scss
Due: yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css

hides button see more, when all ads are present
  backend/src/controllers/where-to-buy/where-to-buy.ts
  frontend/src/common/types/types.ts
  frontend/src/common/types/where-to-buy/where-to-buy.ts
  frontend/src/components/where-to-buy/where-to-buy.tsx
  frontend/src/store/queries/where-buy.ts
  frontend/src/store/where-buy/slice.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js, yarn lint:frontend:js

Fixed bug 126 with autofill current password (#368)
  frontend/src/components/common/input-field/input-field.tsx
  frontend/src/components/edit-profile/edit-profile.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

resolving issue
  frontend/src/common/types/where-to-buy/where-to-buy.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

corrected citys names
  backend/api-autoria/cars/fetched-data/cities.json
  backend/api-autoria/cars/fetched-data/transmission-types.json
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs

Added ability to clear select field
  frontend/src/common/types/select-field/select-field.ts
  frontend/src/components/common/range-selector/range-selector.tsx
  frontend/src/components/common/select-field/select-field.tsx
  frontend/src/components/common/select-field/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

fixed x icon size in autocomplete
  frontend/src/assets/css/form.scss
Due: yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css

Set Manual instead of Mechanical
  backend/api-autoria/cars/fetched-data/transmission-types.json
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs

Added ability to clear select field (#376)
  frontend/src/assets/css/form.scss
  frontend/src/common/types/select-field/select-field.ts
  frontend/src/components/common/range-selector/range-selector.tsx
  frontend/src/components/common/select-field/select-field.tsx
  frontend/src/components/common/select-field/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

fixed link scroll
  frontend/src/components/footer/footer.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Added border on hover
  frontend/src/components/edit-profile/styles.module.scss
Due: yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css

added text when wishlist is empty, changed wishlist button name
  frontend/src/components/comparison-popup/comparison-popup.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

changed count per page ads. was 20 is 10
  frontend/src/components/where-to-buy/where-to-buy.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

fix styles from wishlist tab
  frontend/src/components/comparison-popup/wishlist-card/style.module.scss
Due: yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css

added styles for wishlist text
  frontend/src/components/comparison-popup/styles.module.scss
Due: yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css

Display No options text if nothing in list
  frontend/src/components/comparison-popup/comparison-popup.tsx
  frontend/src/components/comparison-popup/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

fix bug with margin for wishlist text
  frontend/src/components/comparison-popup/styles.module.scss
Due: yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css

Changed styles
  frontend/src/components/edit-profile/styles.module.scss
Due: yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css

hided empty table
  frontend/src/components/general-comparison-table/general-comparison-table.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Minor fix
  frontend/src/components/comparison-popup/comparison-popup.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Display No options text if nothing in list (#379)
  frontend/src/components/comparison-popup/comparison-popup.tsx
  frontend/src/components/comparison-popup/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

hided Only Differences button
  frontend/src/components/comparison-page/comparison-page.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Changed ordering of cars in popup + main ordering of table
  backend/src/services/comparisons/comparisons.service.ts
  frontend/src/components/comparison-popup/comparison-popup.tsx
  frontend/src/components/comparison-popup/wishlist-card/wishlist-card.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js, yarn lint:frontend:js

now we hided both tables
  frontend/src/components/comparison-page/comparison-page.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

corrected modal margin
  frontend/src/components/comparison-popup/styles.module.scss
Due: yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css

return padding left
  frontend/src/components/comparison-popup/styles.module.scss
Due: yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css

corrected modal margin (#382)
  frontend/src/components/comparison-popup/styles.module.scss
Due: yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css
