Repository BinaryStudioAcademy/bsa-2022-autoline: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:tests:js, yarn lint:backend:js, yarn lint:frontend:css, yarn lint:frontend:js

.lintstagedrc.yml:

'*.{ts,tsx,html,json,md}': prettier --write
'*': yarn lint:editorconfig && yarn lint:fs
'shared/**/*.ts': yarn lint:shared:js
'tests/**/*.ts': yarn lint:tests:js
'backend/**/*.ts': yarn lint:backend:js
'frontend/**/*.scss': yarn lint:frontend:css
'frontend/**/*.{ts,tsx}': yarn lint:frontend:js

added rtk query
  frontend/src/store/queries/api-routes.ts
  frontend/src/store/queries/recent-serach-cars/index.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Fix content alignment
  frontend/src/assets/images/landing-page/picture.png
  frontend/src/components/cars-categories/styles.module.scss
  frontend/src/components/header/header.tsx
  frontend/src/components/header/private-elements/private-elements.module.scss
  frontend/src/components/header/styles.module.scss
  frontend/src/components/landing-page/landing-page.tsx
  frontend/src/components/landing-page/styles.module.scss
  frontend/src/components/new-car-card/styles.module.scss
  frontend/src/components/search-page/search-page.tsx
  frontend/src/components/search-page/styles.module.scss
  frontend/src/components/top-car-card/styles.module.scss
  frontend/src/components/top-cars-autoria/styles.module.scss
  frontend/src/components/top-cars-autoria/top-cars-autoria.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

lint's fix
  frontend/src/components/details-car-panel/details-car-panel.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

lint's fix#2
  frontend/src/components/details-car-panel/details-car-panel.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

corrections according review
  backend/src/common/types/where-to-buy/where-to-buy.params.ts
  backend/src/controllers/where-to-buy/where-to-buy.ts
  backend/src/helpers/cars/api-autoria.helper.ts
  backend/src/services/where-buy/cars-properties.ts
  frontend/src/common/types/where-to-buy/where-to-buy.ts
  frontend/src/components/where-to-buy/styles.module.scss
  frontend/src/components/where-to-buy/where-buy-item/where-buy-item.tsx
  frontend/src/components/where-to-buy/where-to-buy.tsx
  frontend/src/store/queries/where-buy.ts
  frontend/src/store/where-buy/slice.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js, yarn lint:frontend:css, yarn lint:frontend:js

Fixed inputs height + added spinner
  frontend/src/assets/css/form.scss
  frontend/src/components/simple-auto-filter/simple-auto-filter.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

fix user validation messages
  shared/src/common/enums/validation/user-validation-message.enum.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js

Corrected email validation by new rules
  shared/src/common/validation-schemas/update-user.validation-schema.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js

deleted route where-buy
  frontend/src/navigation/routing/routing.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

deleted aditional files
  frontend/src/components/where-buy/styles.module.scss
  frontend/src/components/where-buy/where-buy-component/styles.module.scss
  frontend/src/components/where-buy/where-buy-component/where-buy-component.tsx
  frontend/src/components/where-buy/where-buy.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

corected style
  frontend/src/components/where-to-buy/where-buy-item/styles.module.scss
Due: yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css

Fixed size of change photo and delete profile
  frontend/src/components/edit-profile/edit-profile.tsx
  frontend/src/components/edit-profile/select-field-form/styles.module.scss
  frontend/src/components/edit-profile/styles.module.scss
  shared/src/common/validation-schemas/update-user.validation-schema.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:frontend:css, yarn lint:frontend:js

Fixed brands slider (slidesPerView)
  frontend/src/components/cars-categories/cars-categories.tsx
  frontend/src/components/cars-categories/swiper-params.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Fixed adaptive in header and edit page
  frontend/src/assets/css/form.scss
  frontend/src/components/common/input-field/styles.module.scss
  frontend/src/components/edit-profile/sign-in/styles.module.scss
  frontend/src/components/edit-profile/styles.module.scss
  frontend/src/components/header/private-elements/private-elements.tsx
  frontend/src/components/header/reminders/reminders.module.scss
  frontend/src/components/header/reminders/reminders.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

Some fixes
  frontend/src/components/simple-auto-filter/simple-auto-filter.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

change html symbols enum name
  frontend/src/components/comparison-options-table/options-subtable.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

added hooks to search pages
  backend/src/controllers/recent-search-cars/recent-search-cars.controller.ts
  backend/src/services/recent-search-cars/resent-search-cars.service.ts
  frontend/src/components/advanced-auto-filter/advanced-auto-filter.tsx
  frontend/src/components/landing-page/landing-page.tsx
  frontend/src/components/landing-page/styles.module.scss
  frontend/src/components/search-page/search-page.tsx
  frontend/src/components/simple-auto-filter/simple-auto-filter.tsx
  frontend/src/store/queries/index.ts
  frontend/src/store/queries/recent-serach-cars/index.ts
  shared/src/common/types/recent-search-cars/recent-searh-cars.ts
  shared/src/common/types/types.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:backend:js, yarn lint:frontend:css, yarn lint:frontend:js

conflict resolving
  backend/src/controllers/where-to-buy/where-to-buy.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Fixes
  frontend/src/components/applied-filters-bar/applied-filters-bar.tsx
  frontend/src/components/simple-auto-filter/simple-auto-filter.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

updated complectations data
  backend/api-autoria/cars/cars-data.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

fixed id for model
  backend/src/services/recent-search-cars/resent-search-cars.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

fix title
  frontend/src/components/landing-page/landing-page.tsx
  frontend/src/components/new-car-card/new-car-card.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

change carousel swipers class names
  frontend/src/components/common/carousel/carousel.tsx
  frontend/src/components/common/carousel/styles.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

Added new cars, deleted unnecessary fields
  backend/api-autoria/cars/cars-data.ts
  backend/prisma/seed.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

lint's fix
  frontend/src/components/common/carousel/styles.scss
Due: yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css

lint's fix#2
  frontend/src/components/common/carousel/styles.scss
Due: yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css

Fixed model field in simple form
  frontend/src/components/simple-auto-filter/simple-auto-filter.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

use WishlistContext
  frontend/src/components/details-car-panel/details-car-panel.tsx
  frontend/src/components/details-car-panel/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

create detailed-page
  backend/src/services/cars/cars.service.ts
  frontend/src/common/enums/app/app-route.enum.ts
  frontend/src/components/car-list-item/car-list-item.tsx
  frontend/src/components/car-list-item/styles.module.scss
  frontend/src/components/complete-set-table/complete-set-table-collapsed.tsx
  frontend/src/components/complete-set-table/complete-set-table.tsx
  frontend/src/components/details-page/collapse-block/collapse-block.tsx
  frontend/src/components/details-page/collapse-block/styles.module.scss
  frontend/src/components/details-page/details-page.tsx
  frontend/src/components/details-page/styles.module.scss
  frontend/src/components/new-car-card/new-car-card.tsx
  frontend/src/components/new-car-card/styles.module.scss
  frontend/src/navigation/routing/routing.tsx
  shared/src/common/types/cars/model.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:backend:js, yarn lint:frontend:css, yarn lint:frontend:js

delete comment
  frontend/src/components/common/carousel/carousel.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

adding cypress config and a couple of autotests
  cypress.config.js
  cypress/e2e/sign-in.spec.js
  cypress/e2e/sign-up.spec.js
  cypress/fixtures/example.json
  cypress/support/commands.js
  cypress/support/e2e.js
  package-lock.json
  package.json
  yarn.lock
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs

fixed limit length of the name and email
  frontend/src/components/administration/users/styles.module.scss
  frontend/src/components/administration/users/users-list.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

Add About page
  frontend/src/assets/images/team/alena-khudoleeva.jpg
  frontend/src/assets/images/team/andrii-ilnitskyi.jpg
  frontend/src/assets/images/team/bohdan-mazur.jpg
  frontend/src/assets/images/team/iryna-burianovata.jpg
  frontend/src/assets/images/team/margarita-kyianytsia.jpg
  frontend/src/assets/images/team/mykyta-komarov.jpg
  frontend/src/assets/images/team/oleksander-khapchenko.jpg
  frontend/src/assets/images/team/oleksandr-danylchenko.jpg
  frontend/src/assets/images/team/oleksandr-shulga.jpg
  frontend/src/assets/images/team/oleksii-rudych.jpg
  frontend/src/assets/images/team/roman-mahola.jpg
  frontend/src/assets/images/team/serhii-tarasuik.jpg
  frontend/src/assets/images/team/stanislav-ostroverh.jpg
  frontend/src/assets/images/team/viktoria-riashyna.jpg
  frontend/src/assets/images/team/vlad-medianyk.jpg
  frontend/src/assets/images/team/vladyslav-brovarenko.jpg
  frontend/src/common/enums/app/app-route.enum.ts
  frontend/src/components/about-page/about-page.tsx
  frontend/src/components/about-page/styles.module.scss
  frontend/src/components/about-page/teamMembers.ts
  frontend/src/components/header/header.tsx
  frontend/src/navigation/routing/routing.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

Fix linter error
  frontend/src/components/about-page/about-page.tsx
  frontend/src/components/about-page/team-members.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

make sequential notifications
  frontend/src/components/common/notification/notification.tsx
  frontend/src/components/common/notification/styles.module.scss
  frontend/src/contexts/wishlist-context.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

Fixed email domain validation
  shared/src/common/validation-schemas/update-user.validation-schema.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js

Added aws credentials to env example
  .env.example/backend.env
Due: yarn lint:editorconfig && yarn lint:fs

Added functionality on backend for deleting and resizing on upload user photo
  backend/package.json
  backend/src/common/enums/aws/aws.ts
  backend/src/common/enums/aws/s3-folders.ts
  backend/src/common/enums/image/image.ts
  backend/src/common/enums/image/profile-image-size.ts
  backend/src/controllers/update-user/update-user.controller.ts
  backend/src/helpers/helpers.ts
  backend/src/helpers/users/delete-user-photo/delete-user-photo.ts
  backend/src/helpers/users/users.ts
  backend/src/routes/update-user/update-user.router.ts
  backend/src/services/aws/aws.service.ts
  backend/src/services/user/user.service.ts
  backend/yarn.lock
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Added functionality on frontend for deleting user photo
  frontend/src/components/edit-profile/edit-profile.tsx
  frontend/src/components/edit-profile/styles.module.scss
  frontend/src/store/queries/user/update-user.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

Fixed creepy loading user photo
  frontend/src/components/edit-profile/edit-profile.tsx
  frontend/src/components/header/private-elements/private-elements.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js
