Repository BinaryStudioAcademy/bsa-2022-autoline: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:tests:js, yarn lint:backend:js, yarn lint:frontend:css, yarn lint:frontend:js

.lintstagedrc.yml:

'*.{ts,tsx,html,json,md}': prettier --write
'*': yarn lint:editorconfig && yarn lint:fs
'shared/**/*.ts': yarn lint:shared:js
'tests/**/*.ts': yarn lint:tests:js
'backend/**/*.ts': yarn lint:backend:js
'frontend/**/*.scss': yarn lint:frontend:css
'frontend/**/*.{ts,tsx}': yarn lint:frontend:js

!! Replaced `npx` with `yarn` to fix permessions
  backend/package.json
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs

Moved backend startup commands to the Dockerfile
  .docker/autoline/docker-compose.dev.yml
  backend/Dockerfile.dev
Due: yarn lint:editorconfig && yarn lint:fs

Added dev `Docker` config for the frontend app
  .docker/autoline/docker-compose.dev.yml
  frontend/Dockerfile.dev
Due: yarn lint:editorconfig && yarn lint:fs

Added production `Dockerfile` for the backend
  backend/Dockerfile.prod
Due: yarn lint:editorconfig && yarn lint:fs

Fixed frontend port for dev backend
  .docker/autoline/docker-compose.dev.yml
Due: yarn lint:editorconfig && yarn lint:fs

Added production docker-compose
  .docker/autoline/docker-compose.prod.yml
Due: yarn lint:editorconfig && yarn lint:fs

Added prod `Dockerfile` for the frontend
  .docker/autoline/docker-compose.prod.yml
  frontend/Dockerfile.prod
Due: yarn lint:editorconfig && yarn lint:fs

Added `EXPOSE` to the `Dockerfile`s
  backend/Dockerfile.dev
  backend/Dockerfile.prod
  frontend/Dockerfile.dev
Due: yarn lint:editorconfig && yarn lint:fs

Added `README`
  README.md
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs

Added DB diagram
  README.md
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs

Added missing `avoid-escape` for the quotes rule
  .eslintrc.yml
Due: yarn lint:editorconfig && yarn lint:fs

Increased the password length to 300
  backend/prisma/migrations/20220805171756_user_table/migration.sql
  backend/prisma/schema.prisma
Due: yarn lint:editorconfig && yarn lint:fs

Added local versions of the scripts
  backend/package.json
  frontend/package.json
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs

Rearranged the `docker-compose`
  .docker/autoline/docker-compose.dev.yml
  .docker/autoline/docker-compose.prod.yml
  frontend/.dockerignore
Due: yarn lint:editorconfig && yarn lint:fs

Replaced `argon2` with `bcrypt`
  backend/package.json
  backend/src/helpers/crypto/crypto.ts
  backend/src/helpers/helpers.ts
  backend/src/middlewares/auth/strategies/local.strategy.ts
  backend/src/services/auth/auth.service.ts
  backend/yarn.lock
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Bumped `prisma` & `nodemon`
  backend/package.json
  backend/yarn.lock
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs

Added alternative `MYSQL_HOST` & `MYSQL_PORT`
  .env.example/backend.env
Due: yarn lint:editorconfig && yarn lint:fs

Replaced plain commands with the :local counterparts
  README.md
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs

Added `dotenv` to the `frontend`
  frontend/package.json
  frontend/yarn.lock
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs

Add Sign element to Sign In route
  frontend/src/navigation/routing/routing.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Add Material UI
  frontend/package.json
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs

Add color variables
  frontend/src/assets/css/styles.scss
  frontend/src/assets/css/variables.scss
Due: yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css

Add Lato font
  frontend/src/assets/css/styles.scss
Due: yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css

Add Sign component
  frontend/src/assets/images/logo.svg
  frontend/src/assets/images/sign-bg.jpg
  frontend/src/components/sign/sign.tsx
  frontend/src/components/sign/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

Created simple carsCategories comp. with mocked data
  frontend/src/components/cars-categories/cars-categories.tsx
  frontend/src/components/cars-categories/mockBrands.ts
  frontend/src/components/cars-categories/styles.module.scss
  frontend/src/types/brand.type.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

Added hover/active styles
  frontend/src/components/cars-categories/cars-categories.tsx
  frontend/src/components/cars-categories/mockBrands.ts
  frontend/src/components/cars-categories/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

Added sentry to frontend
  frontend/package.json
  frontend/src/common/enums/app/env.enum.ts
  frontend/src/main.tsx
  frontend/yarn.lock
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Added sentry to backend
  backend/package.json
  backend/src/common/enums/app/env.enum.ts
  backend/src/server.ts
  backend/yarn.lock
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Added new variables to env.example
  .env.example/backend.env
  .env.example/frontend.env
Due: yarn lint:editorconfig && yarn lint:fs

added schema user_security
  backend/prisma/schema.prisma
Due: yarn lint:editorconfig && yarn lint:fs

added shared type for sign in data
  shared/src/common/types/auth/auth.ts
  shared/src/common/types/auth/sign-in-data.type.ts
  shared/src/common/types/types.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js

added helper function of creation and verification tokens
  backend/src/helpers/helpers.ts
  backend/src/helpers/token/create-token/create-token.helper.ts
  backend/src/helpers/token/token.ts
  backend/src/helpers/token/verify-token/verify-token.helper.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

added migrate for user_security
  backend/prisma/migrations/20220809080345_user_security/migration.sql
  backend/prisma/schema.prisma
Due: yarn lint:editorconfig && yarn lint:fs

fix: added a second parameter in passport.authenticate method, changed the order of parameters in bcryptCompare method
  backend/src/middlewares/auth/auth.middleware.ts
  backend/src/middlewares/auth/strategies/local.strategy.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Some simplifications
  frontend/src/components/cars-categories/cars-categories.tsx
  frontend/src/components/cars-categories/mock-brands.ts
  frontend/src/components/cars-categories/mockBrands.ts
  frontend/src/components/cars-categories/styles.module.scss
  frontend/src/types/brand.type.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

created signinlocal method in auth service
  backend/src/services/auth/auth.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

created signinlocal method in auth controller and added all middlewares/controller to signin route
  backend/src/controllers/auth/auth.controller.ts
  backend/src/routes/auth/auth.router.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

add Lato font
  frontend/src/assets/css/styles.scss
Due: yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css

add car card component
  frontend/src/assets/images/bmw_logo.svg
  frontend/src/assets/images/compare_part_1.svg
  frontend/src/assets/images/compare_part_2.svg
  frontend/src/assets/images/heart.svg
  frontend/src/assets/images/mock_car_picture.png
  frontend/src/components/car-card/car-card.tsx
  frontend/src/components/car-card/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

update car description
  frontend/src/components/car-card/car-card.tsx
  frontend/src/components/car-card/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js
