Repository BinaryStudioAcademy/bsa-2022-autoline: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:tests:js, yarn lint:backend:js, yarn lint:frontend:css, yarn lint:frontend:js

.lintstagedrc.yml:

'*.{ts,tsx,html,json,md}': prettier --write
'*': yarn lint:editorconfig && yarn lint:fs
'shared/**/*.ts': yarn lint:shared:js
'tests/**/*.ts': yarn lint:tests:js
'backend/**/*.ts': yarn lint:backend:js
'frontend/**/*.scss': yarn lint:frontend:css
'frontend/**/*.{ts,tsx}': yarn lint:frontend:js

refactored edit user form for admin
  frontend/src/components/administration/users/dialog-edit-user.tsx
  frontend/src/components/administration/users/styles.module.scss
  frontend/src/components/administration/users/users-list.tsx
  frontend/src/hooks/app-form/app-form.hook.ts
  shared/src/validation-schemas/edit-user/edit-user.validation-schema.ts
  shared/src/validation-schemas/index.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:frontend:css, yarn lint:frontend:js

added Administration item to user menu
  frontend/src/components/header/private-elements/private-elements.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Fix retrieving of user role
  frontend/package.json
  frontend/src/navigation/routing/routing.tsx
  frontend/yarn.lock
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Revert "Fix retrieving of user role"
  frontend/package.json
  frontend/src/navigation/routing/routing.tsx
  frontend/yarn.lock
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Show spinner while user data is loading
  frontend/src/navigation/routing/routing.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

fixed handleCreateWishllist
  frontend/src/components/details-car-panel/details-car-panel.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Remove user token from Routing
  frontend/src/navigation/routing/routing.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

fix spaces validation in fullname
  shared/src/validation-schemas/sign-up/sign-up.validation-schema.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js

Added spinner when card is loading
  frontend/src/components/car-list-item/car-list-item.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

added script for copy templates file to build
  backend/package.json
  backend/src/services/mail-verification/send-activation-link/send-link.ts
  backend/src/services/mail-verification/send-activation-link/templates/email.hbs
  backend/yarn.lock
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

added dependencies copyfiles
  backend/yarn.lock
  package.json
  yarn.lock
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs

added dependencies copyfiles to backend
  backend/package.json
  backend/yarn.lock
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs

deleted dependencies copyfiles from main package jsond
  package.json
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs

deleted rimraf module
  backend/package.json
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs

Fix wishlist toggle
  frontend/src/components/new-car-card/new-car-card.tsx
  frontend/src/store/queries/preferences/wishlist/index.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

added new icons
  frontend/src/assets/images/arrow-right-left.svg
  frontend/src/assets/images/eye.svg
Due: yarn lint:editorconfig && yarn lint:fs

created component user-info-panel and added their to personal page
  frontend/src/components/personal-page/personal-page.tsx
  frontend/src/components/user-info-panel/styles.module.scss
  frontend/src/components/user-info-panel/user-info-panel.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

fix pagination logic
  frontend/src/components/viewed-cars/viewed-cars.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

styles corrections
  frontend/src/components/where-buy/styles.module.scss
  frontend/src/components/where-buy/where-buy-component/styles.module.scss
  frontend/src/components/where-buy/where-buy-component/where-buy-component.tsx
  frontend/src/components/where-buy/where-buy.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

minor fixes
  frontend/src/components/administration/users/styles.module.scss
  shared/src/validation-schemas/edit-user/edit-user.validation-schema.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:frontend:css

added search to home
  frontend/src/components/landing-page/landing-page.tsx
  frontend/src/components/landing-page/styles.module.scss
  frontend/src/components/simple-auto-filter/simple-auto-filter.tsx
  frontend/src/components/simple-auto-filter/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

yarn lock
  yarn.lock
Due: yarn lint:editorconfig && yarn lint:fs

deleted hbs file
  backend/src/services/mail-verification/send-activation-link/send-link.ts
  backend/src/services/mail-verification/send-activation-link/templates/email-template.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

changed yarn lock file
  yarn.lock
Due: yarn lint:editorconfig && yarn lint:fs

like-button-lead-to-sing-in-screen
  frontend/src/components/new-car-card/new-car-card.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

deleted script copy file
  backend/package.json
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs

add usage of api object
  frontend/src/store/queries/index.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

corrected path to template
  backend/src/services/mail-verification/send-activation-link/send-link.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

add refreshToken to api path object
  frontend/src/common/enums/api/api-path.enum.ts
  frontend/src/store/queries/index.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

fixed div
  frontend/src/components/landing-page/landing-page.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

update refreshToken path enum
  frontend/src/common/enums/api/api-path.enum.ts
  frontend/src/store/queries/index.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

deleted aditional files
  backend/src/controllers/where-buy/where-buy.ts
  backend/src/routes/routes.ts
  backend/src/routes/where-buy/where-buy.router.ts
  backend/src/server.ts
  frontend/package.json
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

use AppRoute
  frontend/src/components/new-car-card/new-car-card.tsx
  frontend/src/components/sign/components/sign-up-form/sign-up-form.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

deleted context
  backend/src/services/mail-verification/send-activation-link/send-link.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

refactored useEffect in DialogEditUser, changed props order
  frontend/src/components/administration/users/dialog-edit-user.tsx
  frontend/src/components/administration/users/users-list.tsx
  frontend/src/hooks/app-form/app-form.hook.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

bug-31-guest-and-users-see-the-likes-of-all-users
  backend/src/controllers/new-cars/new-cars.ts
  backend/src/middlewares/roles-based-protection/role.middleware.ts
  backend/src/routes/new-cars/new-cars.router.ts
  backend/src/services/new-cars/new-cars.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

corrected error handler
  backend/src/services/mail-verification/send-activation-link/send-link.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

added link for a tag
  frontend/src/components/user-info-panel/user-info-panel.tsx
  frontend/src/components/viewed-cars/viewed-cars.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Change Delete Wishlist request params
  backend/src/controllers/preferences/wishlist.controller.ts
  backend/src/services/preferences/wishlist.service.ts
  frontend/src/components/new-car-card/new-car-card.tsx
  frontend/src/store/queries/preferences/wishlist/index.ts
  shared/src/common/types/preferences/preferences.ts
  shared/src/common/types/preferences/wishlist-response-dto.type.ts
  shared/src/common/types/types.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:backend:js, yarn lint:frontend:js
