Repository BinaryStudioAcademy/bsa-2022-autoline: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:tests:js, yarn lint:backend:js, yarn lint:frontend:css, yarn lint:frontend:js

Added menu item for authorised user on mobile view
  frontend/src/assets/css/form.scss
  frontend/src/components/header/drawer/drawer.tsx
  frontend/src/components/header/header.tsx
  frontend/src/components/header/private-elements/private-elements.tsx
  frontend/src/components/header/reminders/reminders.module.scss
  frontend/src/components/header/reminders/reminders.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

Fixed check of autoline lint
  package.json
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs

Removed comments from reminders
  frontend/src/components/header/reminders/reminders.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Change header on landing page
  frontend/src/components/landing-page/landing-page.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

corrected verify link
  backend/src/services/mail-verification/send-activation-link/templates/email-template.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Fix rm containers from deploy-stage.yml
  .github/workflows/deploy-stage.yml
Due: yarn lint:editorconfig && yarn lint:fs

Refactored and added administration to mobile menu
  frontend/src/components/header/drawer-item/drawer-item.tsx
  frontend/src/components/header/drawer/drawer.tsx
  frontend/src/components/header/header.tsx
  frontend/src/components/header/menu-interfaces/menu-interfaces.ts
  frontend/src/components/header/private-elements/private-elements.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

fixed validation rules for editing user by admin
  shared/src/validation-schemas/edit-user/edit-user.validation-schema.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js

changed a tag on link ta, added new dependencies react-router-hash-link
  frontend/package.json
  frontend/src/components/user-info-panel/user-info-panel.tsx
  frontend/yarn.lock
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

changed height for menu lists
  frontend/src/assets/css/form.scss
Due: yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css

added new types for params payload
  shared/src/common/types/types.ts
  shared/src/common/types/viewed-cars/viewed-cars-post-dto.type.ts
  shared/src/common/types/viewed-cars/viewed-cars.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js

optimized rtk query for history of viewed cars
  frontend/src/store/queries/history-viewed-cars/index.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

added auth middleware for viewed route
  backend/src/routes/viewed-cars/viewed.router.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

changed params for services in controllers, removed mocks data in viewed cars component
  backend/src/controllers/viewed-cars/viewed-cars.controller.ts
  frontend/src/components/viewed-cars/viewed-cars.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js, yarn lint:frontend:js

added better view for No cars found and top autoria cars added
  frontend/src/components/search-page/search-page.tsx
  frontend/src/components/search-page/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

added actions counter logic
  frontend/src/components/user-info-panel/user-info-panel.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

fixed clsx import
  frontend/src/components/search-page/search-page.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

connect simple search with backend
  frontend/src/components/advanced-auto-filter/advanced-auto-filter.tsx
  frontend/src/components/search-page/search-page.tsx
  frontend/src/components/simple-auto-filter/simple-auto-filter.tsx
  frontend/src/components/simple-auto-filter/styles.module.scss
  frontend/src/store/found-car/slice.ts
  frontend/src/store/root-reducer.ts
  frontend/src/store/store.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

Removed redundant ternary operator
  backend/src/controllers/viewed-cars/viewed-cars.controller.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

fix wrong functionality
  backend/src/helpers/mailtrap/mailtrap.ts
  backend/src/services/auth/auth.service.ts
  frontend/src/components/reset-password/reset-password.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js, yarn lint:frontend:js

conflict resolving
  frontend/src/assets/css/form.scss
Due: yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css

Changed filters ordering
  frontend/src/components/advanced-auto-filter/advanced-auto-filter.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

added cars photos to gyazo, corrected links
  backend/api-autoria/cars/cars-data.ts
  frontend/src/components/landing-page/mock-top-cars.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js, yarn lint:frontend:js

create some most obvious endpoints for comparisons
  backend/package.json
  backend/prisma/migrations/20220829141357_comparisons_table/migration.sql
  backend/prisma/migrations/20220830135327_user_id_column_to_comparison/migration.sql
  backend/prisma/migrations/20220901081730_comparison_default_type/migration.sql
  backend/prisma/migrations/20220901090916_comparisons_complectations_unique/migration.sql
  backend/prisma/schema.prisma
  backend/src/controllers/comparisons/comparisons.controller.ts
  backend/src/routes/comparisons/comparisons.router.ts
  backend/src/routes/routes.ts
  backend/src/server.ts
  backend/src/services/comparisons/comparisons.service.ts
  backend/src/services/new-cars/new-cars.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Reduced engine displacement to 6L
  frontend/src/common/enums/car/ranges.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

start add mock data
  frontend/src/common/types/where-to-buy/where-to-buy.ts
  frontend/src/components/where-to-buy/mock-value.ts
  frontend/src/components/where-to-buy/styles.module.scss
  frontend/src/components/where-to-buy/where-buy.tsx
  frontend/src/components/where-to-buy/where-buy/styles.module.scss
  frontend/src/components/where-to-buy/where-buy/where-buy-component.tsx
  frontend/src/navigation/routing/routing.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

created separate component for the top cars
  frontend/src/components/landing-page/landing-page.tsx
  frontend/src/components/landing-page/styles.module.scss
  frontend/src/components/search-page/search-page.tsx
  frontend/src/components/search-page/styles.module.scss
  frontend/src/components/top-cars-autoria/styles.module.scss
  frontend/src/components/top-cars-autoria/top-cars-autoria.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

fixed header import
  frontend/src/components/landing-page/landing-page.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

photos on s3 cloud
  backend/api-autoria/cars/cars-data.ts
  frontend/src/components/landing-page/mock-top-cars.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js, yarn lint:frontend:js

Fixed broken `tsc-alias` watch mode
  shared/package.json
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs

add oauth info to user request
  backend/src/controllers/update-user/update-user.controller.ts
  backend/src/services/user/user.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

add dynamic data updating on oauth connect
  frontend/src/components/edit-profile/edit-profile.tsx
  frontend/src/components/edit-profile/sign-in/oauth/connect-oauth.tsx
  frontend/src/components/edit-profile/sign-in/sign-in.tsx
  frontend/src/store/queries/user/update-user.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Added brand-details remove button
  frontend/src/components/advanced-auto-filter/advanced-auto-filter.tsx
  frontend/src/components/advanced-auto-filter/brand-details/brand-details.tsx
  frontend/src/components/advanced-auto-filter/brand-details/styles.module.scss
  frontend/src/store/car-filter/slice.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

Fixed prop
  frontend/src/components/advanced-auto-filter/brand-details/brand-details.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Smooth scrolling to top after search click
  frontend/package.json
  frontend/src/components/advanced-auto-filter/advanced-auto-filter.tsx
  frontend/yarn.lock
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Show delete btn. only if length > 1
  frontend/src/components/advanced-auto-filter/brand-details/brand-details.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

add ability to disconnect oauth
  backend/src/controllers/update-user/update-user.controller.ts
  backend/src/routes/update-user/update-user.router.ts
  backend/src/services/user/user.service.ts
  frontend/src/components/edit-profile/sign-in/oauth/connect-oauth.tsx
  frontend/src/store/queries/user/update-user.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js, yarn lint:frontend:js

refactoring: change code order for better readability
  frontend/src/components/edit-profile/sign-in/oauth/connect-oauth.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Fixed header position to static
  frontend/src/components/header/header.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Path conditions:
  prettier --write: any of: *.{ts,tsx,html,json,md}
  yarn lint:editorconfig && yarn lint:fs: any of: *
  yarn lint:shared:js: any of: shared/**/*.ts
  yarn lint:tests:js: any of: tests/**/*.ts
  yarn lint:backend:js: any of: backend/**/*.ts
  yarn lint:frontend:css: any of: frontend/**/*.scss
  yarn lint:frontend:js: any of: frontend/**/*.{ts,tsx}
