Repository BinaryStudioAcademy/bsa-2022-autoline: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:tests:js, yarn lint:backend:js, yarn lint:frontend:css, yarn lint:frontend:js

Fixed - uncheck checkbox
  frontend/src/components/common/checkbox-list/checkbox-list.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

chenged front and back sides according props for new car component
  backend/src/common/types/new-cars/new-cars.ts
  backend/src/common/types/types.ts
  backend/src/controllers/new-cars/new-cars.ts
  backend/src/helpers/new-cars/new-cars-helper.ts
  backend/src/helpers/new-cars/new-cars-helper.ts.ts
  backend/src/services/new-cars/new-cars.service.ts
  frontend/src/common/enums/enums.ts
  frontend/src/components/compare-toast/styles.module.scss
  frontend/src/components/landing-page/landing-page.tsx
  frontend/src/components/mail-verification/verification-failed/mail-verification-failed.tsx
  frontend/src/components/new-car-card/new-car-card.tsx
  frontend/src/components/sign/components/sign-in-form/sign-in-form.tsx
  frontend/src/store/queries/new-cars.ts
  shared/src/common/types/new-cars/index.ts
  shared/src/common/types/new-cars/new-cars.ts
  shared/src/common/types/types.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:backend:js, yarn lint:frontend:css, yarn lint:frontend:js

fix model seed and compplectation seed
  backend/prisma/seed.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Update queries/cars/index.ts (one-liner syntax)
  frontend/src/store/queries/cars/index.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

created component
  frontend/src/components/applied-filters-bar/applied-filters-bar.tsx
  frontend/src/components/applied-filters-bar/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

Set initial number of table rows
  frontend/src/common/types/types.ts
  frontend/src/components/car-list-item/car-list-item.tsx
  frontend/src/components/car-list-item/mock-cars.ts
  frontend/src/components/complete-set-table/complete-set-table.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

conflict resolving
  backend/api-autoria/cars/fetched-data/fetched-data.ts
  backend/api-autoria/fetch-cars-data.ts
  frontend/src/components/sign/components/sign-in-form/sign-in-form.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js, yarn lint:frontend:js

conflict resolving
  backend/api-autoria/fetch-cars-data.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Fix closing braces of carsApi
  frontend/src/store/queries/cars/index.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Make model cell longer
  frontend/src/components/car-list-item/styles.module.scss
  frontend/src/components/complete-set-table/complete-set-table.tsx
  frontend/src/components/complete-set-table/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

added types
  backend/src/controllers/complectations/complectations.controller.ts
  backend/src/services/complectations/complectations.service.ts
  frontend/src/components/details-car-panel/details-car-panel.tsx
  frontend/src/components/details-car-panel/mock-cars-data.ts
  frontend/src/navigation/routing/routing.tsx
  frontend/src/store/queries/details-panel.ts
  shared/src/common/types/complectations/complectations.ts
  shared/src/common/types/types.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:backend:js, yarn lint:frontend:js

fix deployment
  .docker/autoline/backend.Dockerfile
  .docker/autoline/database/Dockerfile
  .docker/autoline/database/user_privileges.sql
  .docker/autoline/docker-compose.dev.yml
  .docker/autoline/docker-compose.local.yml
  .docker/autoline/docker-compose.prod.yml
  .docker/autoline/docker-compose.services.yml
  .docker/autoline/docker-compose.stage.yml
  .docker/autoline/frontend.Dockerfile
  .docker/autoline/nginx/nginx.conf
  .docker/autoline/nginx/nginx.local.conf
  .github/workflows/ci.yml
  .github/workflows/deploy-stage.yml
Due: yarn lint:editorconfig && yarn lint:fs

Revert "fix deployment"
  .docker/autoline/backend.Dockerfile
  .docker/autoline/database/Dockerfile
  .docker/autoline/database/user_privileges.sql
  .docker/autoline/docker-compose.dev.yml
  .docker/autoline/docker-compose.local.yml
  .docker/autoline/docker-compose.prod.yml
  .docker/autoline/docker-compose.services.yml
  .docker/autoline/docker-compose.stage.yml
  .docker/autoline/frontend.Dockerfile
  .docker/autoline/nginx/nginx.conf
  .docker/autoline/nginx/nginx.local.conf
  .github/workflows/ci.yml
  .github/workflows/deploy-stage.yml
Due: yarn lint:editorconfig && yarn lint:fs

fix deployment
  .docker/autoline/backend.Dockerfile
  .docker/autoline/database/Dockerfile
  .docker/autoline/database/user_privileges.sql
  .docker/autoline/docker-compose.dev.yml
  .docker/autoline/docker-compose.local.yml
  .docker/autoline/docker-compose.prod.yml
  .docker/autoline/docker-compose.services.yml
  .docker/autoline/docker-compose.stage.yml
  .docker/autoline/frontend.Dockerfile
  .docker/autoline/nginx/nginx.conf
  .docker/autoline/nginx/nginx.local.conf
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-stage.yml
  .github/workflows/deploy.prod.yml
  .github/workflows/lint.yml
Due: yarn lint:editorconfig && yarn lint:fs

Fix font sizes
  frontend/src/components/header/navigate/navigate.module.scss
  frontend/src/components/landing-page/components/header/header.tsx
  frontend/src/components/landing-page/components/header/styles.module.scss
  frontend/src/components/landing-page/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

fix deployment
  .docker/autoline/docker-compose.local.yml
  package.json
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs

Fix number of card cars per row
  frontend/src/components/landing-page/styles.module.scss
Due: yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css

fix deployment
  .docker/autoline/backend.Dockerfile
  .docker/autoline/frontend.Dockerfile
Due: yarn lint:editorconfig && yarn lint:fs

fix deployment
  .docker/autoline/backend.Dockerfile
  .docker/autoline/docker-compose.local.yml
  .docker/autoline/frontend.Dockerfile
Due: yarn lint:editorconfig && yarn lint:fs

Added Search button + fixed parsing error in query/index.ts
  frontend/src/components/simple-auto-filter/simple-auto-filter.tsx
  frontend/src/components/simple-auto-filter/styles.module.scss
  frontend/src/store/queries/cars/index.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

fix deployment
  frontend/src/store/queries/cars/index.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Fix inner pages Header
  frontend/src/components/header/logo/logo.tsx
  frontend/src/components/header/navigate/navigate.tsx
  frontend/src/components/header/private-elements/private-elements.module.scss
  frontend/src/components/header/private-elements/private-elements.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

fix sign-in and useEffect on redirect page
  frontend/src/components/sign/components/redirect-after-sign/redirect-after-sign.tsx
  frontend/src/components/sign/components/sign-in-form/sign-in-form.tsx
  frontend/src/components/sign/components/sign-with-google/sign-with-google.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

fix db request and rename endpoint
  backend/src/controllers/cars/cars.controller.ts
  backend/src/routes/cars/cars.router.ts
  backend/src/services/cars/cars-search.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

fix paths
  frontend/src/common/types/cars/checkbox-list-data.type.ts
  frontend/src/common/types/cars/range-item.type.ts
  frontend/src/components/cars-categories/cars-categories.tsx
  frontend/src/components/simple-auto-filter/simple-auto-filter.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

update useCallback deps
  frontend/src/components/sign/components/sign-with-google/sign-with-google.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Check if token is inside local storage
  frontend/src/store/auth/slice.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

add facebook authorization ability
  .env.example/backend.env
  backend/package.json
  backend/src/common/enums/app/env.enum.ts
  backend/src/controllers/auth/auth.controller.ts
  backend/src/middlewares/auth/auth.middleware.ts
  backend/src/middlewares/auth/strategies/facebook.strategy.ts
  backend/src/middlewares/auth/strategies/strategies.ts
  backend/src/middlewares/middlewares.ts
  backend/src/routes/auth/auth.router.ts
  backend/src/services/auth/auth.service.ts
  frontend/src/common/enums/app/env.enum.ts
  frontend/src/components/sign/components/sign-in-form/sign-in-form.tsx
  frontend/src/components/sign/components/sign-up-form/sign-up-form.tsx
  frontend/src/components/sign/components/sign-with-facebook/sign-with-facebook.tsx
  frontend/src/helpers/helpers.ts
  frontend/src/helpers/sign/open-facebook.ts
  shared/src/common/types/auth/sign-up-data.type.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:backend:js, yarn lint:frontend:js

Comment bugs
  frontend/package.json
  frontend/src/components/common/input-field/input-field.tsx
  frontend/src/components/common/input-field/input-masks/phone-mask/phone-mask.tsx
  frontend/src/components/landing-page/landing-page.tsx
  frontend/src/components/mail-verification/verification-failed/mail-verification-failed.tsx
  frontend/src/components/sign/components/sign-up-form/sign-up-form.tsx
  frontend/yarn.lock
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Get token name from Storage key enum
  frontend/src/components/sign/components/sign-in-form/sign-in-form.tsx
  frontend/src/store/auth/slice.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

added migration
  backend/prisma/migrations/20220825083258_prices_range_table/migration.sql
  backend/prisma/schema.prisma
  backend/src/routes/complectations/complectations.router.ts
  backend/src/services/complectations/complectations.service.ts
  frontend/src/components/details-car-panel/details-car-panel.tsx
  shared/src/common/types/complectations/complectations.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:backend:js, yarn lint:frontend:js

fix deployment
  .docker/autoline/backend.Dockerfile
  .github/workflows/deploy-stage.yml
Due: yarn lint:editorconfig && yarn lint:fs

fix deployment
  .docker/autoline/backend.Dockerfile
Due: yarn lint:editorconfig && yarn lint:fs

fix deployment
  shared/tsconfig.json
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs

fix deployment
  frontend/tsconfig.json
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs

Path conditions:
  prettier --write: any of: *.{ts,tsx,html,json,md}
  yarn lint:editorconfig && yarn lint:fs: any of: *
  yarn lint:shared:js: any of: shared/**/*.ts
  yarn lint:tests:js: any of: tests/**/*.ts
  yarn lint:backend:js: any of: backend/**/*.ts
  yarn lint:frontend:css: any of: frontend/**/*.scss
  yarn lint:frontend:js: any of: frontend/**/*.{ts,tsx}
