Repository BinaryStudioAcademy/bsa-2022-autoline: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:tests:js, yarn lint:backend:js, yarn lint:frontend:css, yarn lint:frontend:js

.lintstagedrc.yml:

'*.{ts,tsx,html,json,md}': prettier --write
'*': yarn lint:editorconfig && yarn lint:fs
'shared/**/*.ts': yarn lint:shared:js
'tests/**/*.ts': yarn lint:tests:js
'backend/**/*.ts': yarn lint:backend:js
'frontend/**/*.scss': yarn lint:frontend:css
'frontend/**/*.{ts,tsx}': yarn lint:frontend:js

Fixed width of logout button
  frontend/src/components/header/drawer/styles.module.scss
Due: yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css

Added temporary logout functionality
  frontend/src/components/header/header.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Revert "Smooth scrolling to top after search click"
  frontend/package.json
  frontend/src/components/advanced-auto-filter/advanced-auto-filter.tsx
  frontend/yarn.lock
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Smooth scrolling on window.scrollTo
  frontend/src/components/advanced-auto-filter/advanced-auto-filter.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

changed max width for page container, added margin and padding
  frontend/src/components/common/page-container/styles.module.scss
Due: yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css

maxed out comparison counter in header
  frontend/src/components/header/header.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

remove heart and comparison icons from top-car-card
  frontend/src/components/top-car-card/styles.module.scss
  frontend/src/components/top-car-card/top-car-card.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

Added logout call for logout and delete profile buttons
  frontend/src/components/edit-profile/edit-profile.tsx
  frontend/src/components/header/header.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

change validation message in admin panel
  shared/src/common/enums/validation/user-validation-message.enum.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js

Sorted options by autoria_code
  backend/src/services/cars/cars.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

added mock data
  backend/api-autoria/cars/cars-data.ts
  frontend/src/common/types/where-to-buy/where-to-buy.ts
  frontend/src/components/where-to-buy/mock-value.ts
  frontend/src/components/where-to-buy/where-buy.tsx
  frontend/src/components/where-to-buy/where-buy/where-buy-component.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js, yarn lint:frontend:js

typo
  backend/src/controllers/where-buy/where-buy.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Add datbase scheme to README.md
  README.md
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs

fix refresh token generation
  backend/src/services/auth/auth.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Add prune docker image
  .github/workflows/deploy-stage.yml
Due: yarn lint:editorconfig && yarn lint:fs

add comparison rtkq
  frontend/src/store/queries/api-routes.ts
  frontend/src/store/queries/comparisons/index.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

add types and update queries
  frontend/src/common/enums/comparisons/comparison-type.enum.ts
  frontend/src/common/enums/enums.ts
  frontend/src/common/types/comparisons/comparisons.type.ts
  frontend/src/common/types/types.ts
  frontend/src/store/queries/comparisons/index.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

fix endpoints to use userId from token payload
  backend/src/controllers/comparisons/comparisons.controller.ts
  backend/src/routes/comparisons/comparisons.router.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

fix redirect link
  backend/src/common/enums/app/env.enum.ts
  backend/src/helpers/mailtrap/templates/reset-password-request.ts
  backend/src/services/auth/auth.service.ts
  backend/src/services/mail-verification/send-activation-link/constants.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Separately scrollable filter form
  frontend/src/common/types/title/title.ts
  frontend/src/components/advanced-auto-filter/advanced-auto-filter.tsx
  frontend/src/components/advanced-auto-filter/styles.module.scss
  frontend/src/components/common/title/title.tsx
  frontend/src/components/header/header.tsx
  frontend/src/components/search-page/search-page.tsx
  frontend/src/helpers/utils/get-element-height.ts
  frontend/src/helpers/utils/get-height-by-position.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

Fixed appearance/disappearance of bottom buttons + its font-sizes
  frontend/src/components/advanced-auto-filter/advanced-auto-filter.tsx
  frontend/src/components/advanced-auto-filter/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

Changed ref & helper names
  frontend/src/components/advanced-auto-filter/advanced-auto-filter.tsx
  frontend/src/helpers/utils/get-element-height-with-margins.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

added route for where to buy
  backend/src/controllers/where-buy/where-buy.ts
  backend/src/routes/where-buy/where-buy.router.ts
  backend/src/services/where-buy/cars-properties.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

fix autoria request
  backend/src/common/types/cars/autoria-request-params.ts
  backend/src/controllers/cars/cars.controller.ts
  backend/src/services/cars/cars-search.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

update request to search only by one complectationId
  backend/src/controllers/cars/cars.controller.ts
  backend/src/services/cars/cars-search.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Modified brandDetails
  frontend/src/components/advanced-auto-filter/brand-details/brand-details.tsx
  frontend/src/store/car-filter/slice.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Multiselect input
  frontend/src/common/types/cars/brand-details.type.ts
  frontend/src/common/types/cars/checkbox-list-data.type.ts
  frontend/src/components/common/multiselect-input/multiselect-input.tsx
  frontend/src/components/common/multiselect-input/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

Changes in advanced form & styles
  frontend/src/assets/css/form.scss
  frontend/src/components/advanced-auto-filter/advanced-auto-filter.tsx
  frontend/src/components/common/autocomplete-input/autocomplete-input.tsx
  frontend/src/components/common/autocomplete-input/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

Add button styles
  frontend/src/components/advanced-auto-filter/advanced-auto-filter.tsx
  frontend/src/components/advanced-auto-filter/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

Custom scrollbar
  frontend/src/assets/css/styles.scss
  frontend/src/components/advanced-auto-filter/advanced-auto-filter.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

Removed duplicate Mazda brand
  backend/api-autoria/cars/cars-data.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

fixed names of columns on admin panel
  frontend/src/components/administration/users/users-list.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

fixed label for SelectFieldForm
  frontend/src/components/edit-profile/select-field-form/select-field-form.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

fixed fields order in edit user form for admin
  frontend/src/components/administration/users/dialog-edit-user.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Add Get Wishlist Status endpoint
  backend/src/controllers/preferences/wishlist.controller.ts
  backend/src/routes/preferences/wishlist.router.ts
  backend/src/services/preferences/wishlist.service.ts
  frontend/src/store/queries/preferences/wishlist/index.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js, yarn lint:frontend:js

Add general Notification component
  frontend/src/components/common/notification/notification.tsx
  frontend/src/components/common/notification/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

Add Wishlist context
  frontend/src/contexts/wishlist-context.tsx
  frontend/src/main.tsx
  frontend/tsconfig.json
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Remove wishlist functions from car card
  frontend/src/components/new-car-card/new-car-card.tsx
  shared/src/common/types/cars/model.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:frontend:js

Add @contexts alias
  frontend/vite.config.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js
