Repository BinaryStudioAcademy/bsa-2022-autoline: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:tests:js, yarn lint:backend:js, yarn lint:frontend:css, yarn lint:frontend:js

.lintstagedrc.yml:

'*.{ts,tsx,html,json,md}': prettier --write
'*': yarn lint:editorconfig && yarn lint:fs
'shared/**/*.ts': yarn lint:shared:js
'tests/**/*.ts': yarn lint:tests:js
'backend/**/*.ts': yarn lint:backend:js
'frontend/**/*.scss': yarn lint:frontend:css
'frontend/**/*.{ts,tsx}': yarn lint:frontend:js

created a new migration without a user unique key in the user viewed car list table
  backend/prisma/migrations/20220819092605_user_viewed_cars_list/migration.sql
  backend/prisma/schema.prisma
Due: yarn lint:editorconfig && yarn lint:fs

created new types for user viewed cars list
  backend/src/common/types/prisma/prisma.ts
  backend/src/common/types/types.ts
  shared/src/common/types/reviewed-cars/reviewed-cars-post-dto.type.ts
  shared/src/common/types/reviewed-cars/reviewed-cars.ts
  shared/src/common/types/types.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:backend:js

added reviewed cars service
  backend/src/services/reviewed-cars/reviewed-cars.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

added new reviewed cars controller
  backend/src/controllers/reviewed-cars/reviewed-cars.controller.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

added new routes for reviewed cars list
  backend/src/controllers/mail-varification/send-link.ts
  backend/src/routes/reviewed-cars/reviewed.router.ts
  backend/src/routes/routes.ts
  backend/src/server.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Added Reset all filters
  frontend/src/components/advanced-auto-filter/advanced-auto-filter.tsx
  frontend/src/components/advanced-auto-filter/brand-details/brand-details.tsx
  frontend/src/components/advanced-auto-filter/styles.module.scss
  frontend/src/components/common/checkbox-list/checkbox-list.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

fix spacing problem with alerts, change mail message style
  backend/src/helpers/mailtrap/templates/reset-passwor-request.ts
  backend/src/helpers/mailtrap/templates/reset-password-confirmation.ts
  frontend/src/assets/css/form.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js, yarn lint:frontend:css

do git reset in order to delete unnecessary changes in this PR
  backend/src/helpers/mailtrap/templates/reset-passwor-request.ts
  backend/src/helpers/mailtrap/templates/reset-password-confirm.ts
  backend/src/helpers/mailtrap/templates/reset-password-confirmation.ts
  backend/src/helpers/mailtrap/templates/reset-password-request.ts
  backend/src/services/auth/auth.service.ts
  frontend/src/assets/css/form.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js, yarn lint:frontend:css

Little style-fix
  frontend/src/components/simple-auto-filter/simple-auto-filter.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

font-family: lato, border radius
  backend/src/services/mail-verification/send-activation-link/templates/email.hbs
Due: yarn lint:editorconfig && yarn lint:fs

some typo corrections
  frontend/src/components/collapse-component/collapse-element/collapse-element.tsx
  frontend/src/components/collapse-component/collapse.tsx
  frontend/src/store/queries/verification-link.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

fix frontend build
  frontend/src/components/cars-categories/cars-categories.tsx
  frontend/src/components/reset-password/reset-password.tsx
  frontend/src/components/sign/components/sign-up-form/sign-up-form.tsx
  shared/src/common/types/types.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:frontend:js

deleted not used files
  frontend/src/assets/css/wrapper.scss
  frontend/src/common/enums/api/verification-api-path.enum.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

conflict resolving
  backend/src/controllers/mail-varification/send-link.ts
  backend/src/controllers/mail-varification/verification.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

fix backend build
  backend/api-autoria/cars/fetched-data/fetched-data.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Fix environment
  .github/workflows/deploy.dev.yml
Due: yarn lint:editorconfig && yarn lint:fs

delete s3 env files
  .github/workflows/deploy.dev.yml
Due: yarn lint:editorconfig && yarn lint:fs

Refactoring
  backend/src/controllers/preferences/wishlist.controller.ts
  backend/src/services/preferences/wishlist.service.ts
  frontend/src/common/types/card/card.ts
  frontend/src/components/common/icons/heart/heart.tsx
  frontend/src/components/common/icons/icons.tsx
  frontend/src/components/new-car-card/new-car-card.tsx
  frontend/src/components/wishlist/wishlist.tsx
  frontend/src/helpers/helpers.ts
  frontend/src/helpers/utils/format-price.ts
  frontend/src/store/queries/preferences/wishlist/index.ts
  shared/src/common/types/preferences/preferences.ts
  shared/src/common/types/preferences/wishlist-response-dto.type.ts
  shared/src/common/types/types.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:backend:js, yarn lint:frontend:js

docker
  .docker/autoline/backend.Dockerfile
  .docker/autoline/docker-compose.dev.yml
  .docker/autoline/docker-compose.prod.yml
  .docker/autoline/docker-compose.services.yml
  .docker/autoline/frontend.Dockerfile
  .docker/autoline/nginx/nginx.conf
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.prod.yml
  .github/workflows/lint.yml
  backend/Dockerfile.dev
  backend/Dockerfile.prod
  frontend/Dockerfile.dev
  frontend/Dockerfile.prod
  frontend/package.json
  frontend/tsconfig.json
  package.json
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs

fix remarks
  frontend/package.json
  frontend/src/components/common/input-field/input-field.tsx
  frontend/src/components/common/input-field/input-masks/phone-mask/phone-mask.tsx
  frontend/src/components/common/input-field/styles.module.scss
  frontend/src/components/sign/components/sign-up-form/sign-up-form.tsx
  frontend/src/components/sign/sign.tsx
  frontend/src/components/sign/styles.module.scss
  frontend/src/store/queries/auth.ts
  frontend/src/store/queries/index.ts
  frontend/yarn.lock
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

docker-compose for staging
  .docker/autoline/database/Dockerfile
  .docker/autoline/database/user_privileges.sql
  .docker/autoline/docker-compose.stage.yml
  .docker/autoline/nginx/nginx.conf
Due: yarn lint:editorconfig && yarn lint:fs

deployment
  .github/workflows/deploy-stage.yml
Due: yarn lint:editorconfig && yarn lint:fs

Check ssh host
  .github/workflows/deploy-stage.yml
Due: yarn lint:editorconfig && yarn lint:fs

aws credentionals
  .github/workflows/deploy-stage.yml
Due: yarn lint:editorconfig && yarn lint:fs

Fixed variable names and moved validation
  backend/src/controllers/update-user/update-user.controller.ts
  backend/src/dtos/user/update-user.dto.ts
  backend/src/middlewares/update-user/update-user.middleware.ts
  backend/src/services/update-user/update-user.service.ts
  shared/src/common/validation-schemas/update-user.validation-schema.ts
  shared/src/index.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:backend:js

Fixed one-line funcs
  backend/src/services/password-validation/password-validation.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

validation optimization and fix delete user
  backend/prisma/migrations/20220819084714_update_user_security_foreign_key/migration.sql
  backend/prisma/schema.prisma
  backend/src/middlewares/update-user/update-user.middleware.ts
  backend/src/validation-schemas/validation-schemas.ts
  shared/src/common/validation-schemas/index.ts
  shared/src/common/validation-schemas/update-user.validation-schema.ts
  shared/yarn.lock
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:backend:js

Added Edit Page
  frontend/src/assets/images/edit-profile/cross.svg
  frontend/src/assets/images/edit-profile/default-avatar.png
  frontend/src/assets/images/edit-profile/pencil.svg
  frontend/src/assets/images/edit-profile/trash.svg
  frontend/src/common/types/button/button.ts
  frontend/src/components/common/button-fill/button-fill.tsx
  frontend/src/components/edit-profile/edit-profile.tsx
  frontend/src/components/edit-profile/form-input-text/form-input-text.tsx
  frontend/src/components/edit-profile/form-input-text/styles.module.scss
  frontend/src/components/edit-profile/select-years-range/select-years-range.tsx
  frontend/src/components/edit-profile/select-years-range/styles.module.scss
  frontend/src/components/edit-profile/sign-in/sign-in.tsx
  frontend/src/components/edit-profile/sign-in/styles.module.scss
  frontend/src/components/edit-profile/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

Added edit profile backend
  backend/prisma/migrations/20220818111111_add_birth_year_to_user/migration.sql
  backend/prisma/schema.prisma
  backend/prisma/seeds/users.ts
  backend/src/controllers/update-user/update-user.controller.ts
  backend/src/dtos/user/update-user.dto.ts
  backend/src/middlewares/auth/strategies/local.strategy.ts
  backend/src/middlewares/middlewares.ts
  backend/src/middlewares/update-user/update-user.middleware.ts
  backend/src/routes/routes.ts
  backend/src/routes/update-user/update-user.router.ts
  backend/src/server.ts
  backend/src/services/password-validation/password-validation.service.ts
  backend/src/services/update-user/update-user.service.ts
  backend/src/validation-schemas/update-user/update-user.validation-schema.ts
  backend/src/validation-schemas/validation-schemas.ts
  shared/src/index.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:backend:js

fix deployment
  .github/workflows/deploy-stage.yml
Due: yarn lint:editorconfig && yarn lint:fs

aws s3 credentials
  .github/workflows/deploy-stage.yml
Due: yarn lint:editorconfig && yarn lint:fs

delete s3 enviroment
  .github/workflows/deploy-stage.yml
Due: yarn lint:editorconfig && yarn lint:fs

fix docker
  .docker/autoline/docker-compose.stage.yml
Due: yarn lint:editorconfig && yarn lint:fs

Add nginx and databse to docker
  .github/workflows/deploy-stage.yml
Due: yarn lint:editorconfig && yarn lint:fs

config local docker
  .docker/autoline/backend.Dockerfile
  .docker/autoline/docker-compose.local.yml
  .docker/autoline/nginx/nginx.local.conf
  package.json
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs

Added space between the `autoline_mariadb` and `autoline_backend`
  .docker/autoline/docker-compose.stage.yml
Due: yarn lint:editorconfig && yarn lint:fs

correction according PR review
  frontend/src/assets/css/variables.scss
  frontend/src/components/modal-compare/modal.tsx
  frontend/src/components/modal-compare/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js
