Repository BinaryStudioAcademy/bsa-2022-autoline: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:tests:js, yarn lint:backend:js, yarn lint:frontend:css, yarn lint:frontend:js

create separate file for mock-data, move icon to assets folder, fix bugs in css due to PR
  frontend/src/assets/images/icon-park-solid_picture.svg
  frontend/src/components/common/carousel/carousel.tsx
  frontend/src/components/common/carousel/mock-data.ts
  frontend/src/components/common/carousel/styles.css
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

add seeders for cities and regions
  backend/api-autoria/cars/fetched-data/fetched-data.ts
  backend/api-autoria/fetch-cars-data.ts
  backend/prisma/seed.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

create almost finished header
  frontend/src/components/landing-page/components/components.ts
  frontend/src/components/landing-page/components/drawer/drawer.tsx
  frontend/src/components/landing-page/components/header/header.tsx
  frontend/src/components/landing-page/components/header/styles.module.scss
  frontend/src/components/landing-page/landing-page.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

added DialogEditUser component
  frontend/src/components/administration/users/dialog-edit-user.tsx
  frontend/src/components/administration/users/users-list.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

added Update user mutation
  frontend/src/components/administration/administration.tsx
  frontend/src/components/administration/users/users-list.tsx
  frontend/src/store/queries/users/index.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Remove Page container component
  frontend/src/components/common/page-container/page-container.tsx
  frontend/src/components/common/page-container/styles.module.scss
  frontend/src/components/personal-page/personal-page.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

Revert "fixed validation"
  shared/src/validation-schemas/sign-in/sign-in.validation-schema.ts
  shared/src/validation-schemas/sign-up/sign-up.validation-schema.ts
  shared/src/validation-schemas/validation-schemas.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js

Revert "Revert "fixed validation""
  frontend/src/validation-schemas/sign-in/sign-in.validation-schema.ts
  shared/src/validation-schemas/sign-in/sign-in.validation-schema.ts
  shared/src/validation-schemas/sign-up/sign-up.validation-schema.ts
  shared/src/validation-schemas/validation-schemas.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:frontend:js

Add get wishlist by user id functionality
  backend/src/controllers/preferences/wishlist.controller.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Add get wishlist route
  backend/src/routes/preferences/wishlist.router.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Add get wishlist sevice
  backend/src/services/preferences/wishlist.service.ts
  shared/src/common/types/preferences/preferences.ts
  shared/src/common/types/preferences/wishlist-response-dto.type.ts
  shared/src/common/types/types.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:backend:js

fix bug with @autoline/shared thing
  frontend/src/components/forgot-password/forgot-password.tsx
  frontend/src/components/reset-password/reset-password.tsx
  frontend/src/store/queries/auth.ts
  frontend/src/store/queries/forgot-password.ts
  frontend/src/store/queries/index.ts
  frontend/src/store/store.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Add description field to Model
  backend/api-autoria/cars/cars-data.ts
  backend/prisma/migrations/20220818075039_add_model_description/migration.sql
  backend/prisma/migrations/20220818080930_fix_typo_in_description/migration.sql
  backend/prisma/schema.prisma
  backend/prisma/seed.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

fixed label
  frontend/src/common/types/auth/auth.ts
  frontend/src/common/types/input-field/input-field.tsx
  frontend/src/common/types/types.tsx
  frontend/src/components/common/input-field/input-field.tsx
  frontend/src/components/sign/components/sign-in-form/sign-in-form.tsx
  frontend/src/store/queries/auth.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

add fetched files from autoria to .gitignore file
  backend/.gitignore
Due: yarn lint:editorconfig && yarn lint:fs

add city type and change 'filter' to 'find'
  backend/api-autoria/city-type.ts
  backend/prisma/seed.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

change css file to scss
  frontend/src/components/common/carousel/carousel.tsx
  frontend/src/components/common/carousel/styles.css
  frontend/src/components/common/carousel/styles.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

Add middleware to get current user id
  backend/src/middlewares/middlewares.ts
  backend/src/middlewares/user/user.middleware.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Remove user id from routes paths
  backend/src/controllers/preferences/wishlist.controller.ts
  backend/src/routes/preferences/wishlist.router.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

use some global scss variables
  frontend/src/components/common/carousel/styles.scss
Due: yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css

fixed shared types imports
  .gitignore
  backend/src/controllers/auth/auth.controller.ts
  backend/src/controllers/mail-varification/send-link.ts
  backend/src/controllers/preferences/wishlist.controller.ts
  backend/src/helpers/token/create-token/create-token.helper.ts
  backend/src/middlewares/auth/auth.middleware.ts
  backend/src/middlewares/roles-based-protection/role.middleware.ts
  backend/src/services/auth/auth.service.ts
  backend/src/services/preferences/wishlist.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

added icon balance
  frontend/src/assets/images/icon_balance.svg
  frontend/src/components/modal-compare/modal.tsx
  frontend/src/components/modal-compare/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

rename files to kebab-case
  backend/src/common/types/cars/autoria-request-params.ts
  backend/src/common/types/cars/autoria_request_params.ts
  backend/src/common/types/types.ts
  backend/src/helpers/cars/api-autoria.helper.ts
  backend/src/helpers/cars/cars.ts
  backend/src/services/cars/cars-search.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

revision
  frontend/package.json
  frontend/src/common/types/input-field/input-field.tsx
  frontend/src/components/common/input-field/input-field.tsx
  frontend/src/components/common/input-field/styles.module.scss
  frontend/src/components/sign/components/sign-up-form/sign-up-form.tsx
  frontend/src/helpers/helpers.ts
  frontend/src/helpers/validation/get-form-validation-resolver.ts
  frontend/src/helpers/validation/validation.ts
  frontend/src/hooks/app-form/app-form.hook.ts
  frontend/src/hooks/hooks.ts
  frontend/yarn.lock
  shared/src/validation-schemas/sign-up/sign-up.validation-schema.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:frontend:css, yarn lint:frontend:js

added colors to variables scss
  frontend/src/assets/css/variables.scss
  frontend/src/components/mail-verification/verification-failed/styles.module.scss
  frontend/src/components/mail-verification/verification-success/styles.module.scss
Due: yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css

Get user id from userAuthMiddleware
  backend/src/controllers/preferences/wishlist.controller.ts
  backend/src/middlewares/middlewares.ts
  backend/src/middlewares/user/user.middleware.ts
  backend/src/routes/preferences/wishlist.router.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

fix vars naming and error handling
  backend/src/controllers/cars/cars.controller.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

finish header
  frontend/src/components/landing-page/components/header/header.tsx
  frontend/src/components/landing-page/components/header/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

fix object mutating inside method
  backend/src/services/cars/cars-search.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

replace scss variables with css ones
  frontend/src/components/common/carousel/carousel.tsx
  frontend/src/components/common/carousel/styles.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

Added edit profile backend
  backend/prisma/migrations/20220818111111_add_birth_year_to_user/migration.sql
  backend/prisma/schema.prisma
  backend/prisma/seeds/users.ts
  backend/src/controllers/mail-varification/send-link.ts
  backend/src/controllers/update-user/update-user.controller.ts
  backend/src/dtos/user/update-user.dto.ts
  backend/src/middlewares/auth/strategies/local.strategy.ts
  backend/src/middlewares/middlewares.ts
  backend/src/middlewares/update-user/update-user.middleware.ts
  backend/src/routes/routes.ts
  backend/src/routes/update-user/update-user.router.ts
  backend/src/server.ts
  backend/src/services/password-validation/password-validation.service.ts
  backend/src/services/update-user/update-user.service.ts
  backend/src/validation-schemas/update-user/update-user.validation-schema.ts
  backend/src/validation-schemas/validation-schemas.ts
  frontend/package.json
  frontend/yarn.lock
  shared/src/index.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:backend:js

made a rollback with previous fixes shared imports
  backend/src/controllers/auth/auth.controller.ts
  backend/src/controllers/preferences/wishlist.controller.ts
  backend/src/helpers/token/create-token/create-token.helper.ts
  backend/src/middlewares/auth/auth.middleware.ts
  backend/src/middlewares/roles-based-protection/role.middleware.ts
  backend/src/services/auth/auth.service.ts
  backend/src/services/preferences/wishlist.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

fix years in request params
  backend/src/services/cars/cars-search.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

fixes
  shared/src/index.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js

Fix stylelint to allow usage of rem, em
  .stylelintrc.yml
Due: yarn lint:editorconfig && yarn lint:fs

Fix typography to use rem
  frontend/src/assets/css/typography.scss
Due: yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css

media 600px
  frontend/src/assets/css/variables.scss
  frontend/src/assets/css/wrapper.scss
Due: yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css

refactored code due to PR review
  backend/src/routes/user/user.router.ts
  frontend/src/components/administration/administration.tsx
  frontend/src/components/administration/users/dialog-edit-user.tsx
  frontend/src/components/administration/users/users-list.tsx
  shared/src/common/types/types.ts
  shared/src/common/types/user/index.ts
  shared/src/common/types/user/user.enum.ts
  shared/src/common/types/user/user.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:backend:js, yarn lint:frontend:js

added screan breakpoints
  frontend/src/assets/css/variables.scss
  frontend/src/assets/css/wrapper.scss
Due: yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css

corrected css variable
  frontend/src/assets/css/variables.scss
Due: yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css

Path conditions:
  prettier --write: any of: *.{ts,tsx,html,json,md}
  yarn lint:editorconfig && yarn lint:fs: any of: *
  yarn lint:shared:js: any of: shared/**/*.ts
  yarn lint:tests:js: any of: tests/**/*.ts
  yarn lint:backend:js: any of: backend/**/*.ts
  yarn lint:frontend:css: any of: frontend/**/*.scss
  yarn lint:frontend:js: any of: frontend/**/*.{ts,tsx}
