Repository BinaryStudioAcademy/bsa-2022-autoline: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:tests:js, yarn lint:backend:js, yarn lint:frontend:css, yarn lint:frontend:js

Fix Page container width
  frontend/src/components/common/page-container/page-container.tsx
  frontend/src/components/common/page-container/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

added query to sign in
  frontend/src/common/enums/api/api-path.enum.ts
  frontend/src/common/enums/api/api.ts
  frontend/src/common/enums/api/auth-api-path.enum.ts
  frontend/src/common/enums/enums.ts
  frontend/src/common/types/input-field/input-field.tsx
  frontend/src/components/common/input-field/input-field.tsx
  frontend/src/components/sign/components/sign-in-form/sign-in-form.tsx
  frontend/src/store/queries/auth.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

added authApi
  frontend/src/store/queries/auth.ts
  frontend/src/store/store.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

added validation for sign in
  shared/package.json
  shared/src/validation-schemas/sign-in/sign-in.validation-schema.ts
  shared/src/validation-schemas/sign-up/sign-up.validation-schema.ts
  shared/src/validation-schemas/validation-schemas.ts
  shared/yarn.lock
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js

added app form hook
  frontend/package.json
  frontend/src/common/types/form/form-control-errors.type.ts
  frontend/src/common/types/form/form-control-path.type.ts
  frontend/src/common/types/form/form-control-values.type.ts
  frontend/src/common/types/form/form-control.type.ts
  frontend/src/common/types/form/form.ts
  frontend/src/common/types/types.tsx
  frontend/src/common/types/validation/validation.ts
  frontend/src/helpers/helpers.ts
  frontend/src/helpers/validation/get-form-validation-resolver.ts
  frontend/src/helpers/validation/validation.ts
  frontend/src/hooks/app-form/app-form.hook.ts
  frontend/yarn.lock
  shared/src/common/types/types.ts
  shared/src/common/types/validation/validation-schema.type.ts
  shared/src/common/types/validation/validation.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:frontend:js

added useAppForm in sign in form
  frontend/package.json
  frontend/src/common/types/auth/auth.ts
  frontend/src/common/types/input-field/input-field.tsx
  frontend/src/common/types/types.tsx
  frontend/src/components/common/input-field/input-field.tsx
  frontend/src/components/sign/components/sign-in-form/common.ts
  frontend/src/components/sign/components/sign-in-form/sign-in-form.tsx
  frontend/src/helpers/validation/get-form-validation-resolver.ts
  frontend/src/hooks/app-form/app-form.hook.ts
  frontend/src/hooks/hooks.ts
  frontend/src/store/queries/auth.ts
  frontend/src/validation-schemas/sign-in/sign-in.validation-schema.ts
  frontend/src/validation-schemas/validation-schemas.ts
  frontend/yarn.lock
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

added common api in store
  frontend/src/components/common/input-field/input-field.tsx
  frontend/src/store/queries/auth.ts
  frontend/src/store/queries/index.ts
  frontend/src/store/store.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Created data fetcher from AutoRIA API
  backend/prisma/seeds/fetch-cars-cata.ts
  backend/prisma/seeds/fetched-data/cars-data.ts
  backend/src/dtos/cars/brand.dto.ts
  backend/src/dtos/cars/plain-data.dto.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Changed fetcher,seeder + created and translated options-types
  .env.example/backend.env
  backend/api-autoria/cars/brands-with-models.ts
  backend/prisma/seed.ts
  backend/prisma/seeds/fetch-cars-cata.ts
  backend/prisma/seeds/fetched-data/cars-data.ts
  backend/src/common/enums/app/env.enum.ts
  backend/src/dtos/cars/brand.dto.ts
  backend/src/dtos/cars/plain-data.dto.ts
  frontend/src/components/cars-categories/mock-brands.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js, yarn lint:frontend:js

connect reset-password frontend with backend
  backend/src/controllers/auth/auth.controller.ts
  frontend/package.json
  frontend/src/common/enums/enums.ts
  frontend/src/common/enums/http/http-header.enum.ts
  frontend/src/common/enums/http/http.ts
  frontend/src/components/forgot-password/forgot-password.tsx
  frontend/src/components/forgot-password/styles.module.scss
  frontend/src/components/reset-password/reset-password.tsx
  frontend/src/components/reset-password/styles.module.scss
  frontend/src/navigation/routing/routing.tsx
  frontend/src/services/auth/auth.service.ts
  frontend/src/services/http/http.service.ts
  frontend/src/services/services.ts
  frontend/src/services/storage/storage.service.ts
  frontend/src/store/auth/slice.ts
  frontend/src/store/queries/forgot-password.ts
  frontend/yarn.lock
  shared/src/common/enums/api/api-path.enum.ts
  shared/src/common/enums/api/api.ts
  shared/src/common/enums/api/auth-api-path.enum.ts
  shared/src/common/enums/enums.ts
  shared/src/common/enums/validation/user-validation-message.enum.ts
  shared/src/common/enums/validation/user-validation-rule.enum.ts
  shared/src/common/enums/validation/validation.ts
  shared/src/validation-schemas/forgot-password/forgot-password.validation-schema.ts
  shared/src/validation-schemas/validation-schemas.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:backend:js, yarn lint:frontend:css, yarn lint:frontend:js

add auth-wrapper
  frontend/src/components/common/auth-wrapper/auth-wrapper.tsx
  frontend/src/components/common/auth-wrapper/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

create http service, storage service
  frontend/src/common/enums/app/app-route.enum.ts
  frontend/src/common/enums/app/app.ts
  frontend/src/common/enums/app/storage-key.enum.ts
  frontend/src/common/enums/enums.ts
  frontend/src/common/enums/file/content-type.enum.ts
  frontend/src/common/enums/file/file.ts
  frontend/src/common/enums/http/http-header.enum.ts
  frontend/src/common/enums/http/http.ts
  frontend/src/exceptions/exceptions.ts
  frontend/src/helpers/http/get-stringified-query/get-stringified-query.helper.ts
  frontend/src/helpers/http/http.ts
  frontend/src/services/auth/auth.service.ts
  frontend/src/services/http/http.service.ts
  frontend/src/services/services.ts
  frontend/src/services/storage/storage.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

integrate one-root-createApi rule, fix due to requests in PR
  frontend/package.json
  frontend/src/common/enums/enums.ts
  frontend/src/common/types/input-field/input-field.tsx
  frontend/src/components/common/input-field/input-field.tsx
  frontend/src/components/common/input-field/styles.module.scss
  frontend/src/components/forgot-password/common.ts
  frontend/src/components/forgot-password/forgot-password.tsx
  frontend/src/components/reset-password/common.ts
  frontend/src/components/reset-password/reset-password.tsx
  frontend/src/exceptions/exceptions.ts
  frontend/src/helpers/http/get-stringified-query/get-stringified-query.helper.ts
  frontend/src/helpers/http/http.ts
  frontend/src/store/queries/auth.ts
  frontend/yarn.lock
  shared/src/common/enums/api/auth-api-path.enum.ts
  shared/src/common/types/auth/auth.ts
  shared/src/common/types/auth/forgot-password-data.ts
  shared/src/common/types/auth/reset-password-data.ts
  shared/src/common/types/types.ts
  shared/src/validation-schemas/validation-schemas.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:frontend:css, yarn lint:frontend:js

delete commented lines
  frontend/src/components/forgot-password/forgot-password.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

conflict resolving
  frontend/src/assets/css/form.scss
  frontend/src/assets/css/styles.scss
  frontend/src/assets/images/bmw_logo.svg
  frontend/src/assets/images/compare.svg
  frontend/src/assets/images/error.svg
  frontend/src/assets/images/eye-slash.svg
  frontend/src/assets/images/fuel.svg
  frontend/src/assets/images/heart.svg
  frontend/src/assets/images/logo.svg
  frontend/src/assets/images/map-pin.svg
  frontend/src/assets/images/mock_car_picture.png
  frontend/src/assets/images/sign-bg.jpg
  frontend/src/assets/images/speedometr.svg
  frontend/src/assets/images/transmission.svg
  frontend/src/components/top-car-card/styles.module.scss
  frontend/src/components/top-car-card/top-car-card.tsx
  yarn.lock
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

add filter by region and city
  backend/src/common/types/cars/autoria_request_params.ts
  backend/src/services/cars/carsSearch.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

conflict resolving
  frontend/src/navigation/routing/routing.tsx
  package.json
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

create an images carousel for the detailed view
  frontend/src/components/common/carousel/carousel.tsx
  frontend/src/components/common/carousel/icon-park-solid_picture.svg
  frontend/src/components/common/carousel/styles.css
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

refactoring: delete unnesessery code and move similar logic to one file
  backend/src/common/types/cars/autoria_request_params.ts
  backend/src/helpers/cars/api_autoria.helper.ts
  backend/src/services/cars/carsSearch.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

conflict resolving
  package.json
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs

fix: rename class for reviewed cars node, added hover effect and transition
  frontend/src/components/reviewed-cars-grid/reviewed-cars-grid.tsx
  frontend/src/components/reviewed-cars-grid/style.module.scss
  frontend/src/components/reviewed-cars/reviewed-cars.tsx
  frontend/src/components/reviewed-cars/styles.module.scss
  frontend/src/components/short-car-card/short-car-card.tsx
  frontend/src/components/short-car-card/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

fix bug with the current page number
  frontend/src/components/common/carousel/carousel.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

changed folder name
  backend/src/services/auth/auth.service.ts
  backend/src/services/mail_verification/send.service.ts
  backend/src/services/mail_verification/send_activation_link/constants.ts
  backend/src/services/mail_verification/send_activation_link/sendLink.ts
  backend/src/services/mail_verification/send_activation_link/templates/email.hbs
  backend/src/services/mail_verification/token.service.ts
  backend/src/services/mail_verification/user-security.service.ts
  backend/src/services/mail_verification/user_data.service/user.ts
  backend/src/services/mail_verification/user_data.service/user_security.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Fixed `moduleResolution` value to allow imports into `shared`
  shared/tsconfig.json
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs

fixed validation
  frontend/src/validation-schemas/sign-in/sign-in.validation-schema.ts
  shared/src/validation-schemas/sign-in/sign-in.validation-schema.ts
  shared/src/validation-schemas/sign-up/sign-up.validation-schema.ts
  shared/src/validation-schemas/validation-schemas.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:frontend:js

typing correction
  shared/package.json
  shared/src/validation-schemas/email/validation-schema.ts
  shared/yarn.lock
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js

small fix
  frontend/src/components/sign/components/sign-up-form/sign-up-form.tsx
  frontend/vite.config.ts
  shared/package.json
  shared/tsconfig.json
  shared/yarn.lock
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

small fix
  frontend/src/components/sign/components/sign-up-form/sign-up-form.tsx
  shared/src/common/types/preferences/preferences.ts
  shared/src/common/types/preferences/wishlist-response-dto.type.ts
  shared/src/common/types/types.ts
  shared/src/index.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:frontend:js

correction files name
  backend/src/controllers/mail-varification/send-link.ts
  backend/src/controllers/mail-varification/verification.ts
  backend/src/routes/activate-mail/activate.router.ts
  backend/src/routes/activation-link/activation-link.router.ts
  backend/src/routes/routes.ts
  backend/src/services/auth/auth.service.ts
  backend/src/services/mail-verification/send-activation-link/constants.ts
  backend/src/services/mail-verification/send-activation-link/send-link.ts
  backend/src/services/mail-verification/send-activation-link/templates/email.hbs
  backend/src/services/mail-verification/send.service.ts
  backend/src/services/mail-verification/token.service.ts
  backend/src/services/mail-verification/user-data.service/user-security.ts
  backend/src/services/mail-verification/user-data.service/user.ts
  backend/src/services/mail-verification/user-security.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

refactoring, created index api
  backend/src/controllers/auth/auth.controller.ts
  backend/src/controllers/preferences/wishlist.controller.ts
  backend/src/helpers/token/create-token/create-token.helper.ts
  backend/src/middlewares/auth/auth.middleware.ts
  backend/src/middlewares/roles-based-protection/role.middleware.ts
  backend/src/services/auth/auth.service.ts
  backend/src/services/mail_verification/send.service.ts
  backend/src/services/mail_verification/send_activation_link/constants.ts
  backend/src/services/mail_verification/send_activation_link/sendLink.ts
  backend/src/services/mail_verification/send_activation_link/templates/email.hbs
  backend/src/services/mail_verification/token.service.ts
  backend/src/services/mail_verification/user-security.service.ts
  backend/src/services/mail_verification/user_data.service/user.ts
  backend/src/services/mail_verification/user_data.service/user_security.ts
  backend/src/services/preferences/wishlist.service.ts
  frontend/src/assets/css/wrapper.scss
  frontend/src/common/types/email/email.ts
  frontend/src/common/types/types.tsx
  frontend/src/components/mail-verification/verification-failed/failed.tsx
  frontend/src/components/mail-verification/verification-failed/styles.module.scss
  frontend/src/components/mail-verification/verification-success/styles.module.scss
  frontend/src/store/queries/index.ts
  frontend/src/store/queries/verification-link.ts
  frontend/src/store/store.ts
  shared/src/validation-schemas/email/validation-schema.ts
  shared/yarn.lock
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:backend:js, yarn lint:frontend:css, yarn lint:frontend:js

conflict resolving
  backend/src/controllers/mail-varification/send-link.ts
  backend/src/services/mail-verification/token.service.ts
  backend/src/services/mail_verification/send.service.ts
  backend/src/services/mail_verification/send_activation_link/constants.ts
  backend/src/services/mail_verification/send_activation_link/sendLink.ts
  backend/src/services/mail_verification/send_activation_link/templates/email.hbs
  backend/src/services/mail_verification/user-security.service.ts
  backend/src/services/mail_verification/user_data.service/user.ts
  backend/src/services/mail_verification/user_data.service/user_security.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

deleted unnecessary styles from auth-wrapper and fix due to PR
  frontend/package.json
  frontend/src/components/common/auth-wrapper/auth-wrapper.tsx
  frontend/src/components/common/auth-wrapper/styles.module.scss
  frontend/src/components/forgot-password/styles.module.scss
  frontend/src/components/reset-password/styles.module.scss
  frontend/yarn.lock
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

some file renaming
  backend/src/controllers/mail-verification/send-link.ts
  backend/src/controllers/mail-verification/verification.ts
  backend/src/routes/activate-mail/activate.router.ts
  backend/src/routes/activation-link/activation-link.router.ts
  backend/src/services/auth/auth.service.ts
  backend/src/services/mail-verification/send.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

imports correction
  backend/src/controllers/auth/auth.controller.ts
  backend/src/controllers/preferences/wishlist.controller.ts
  backend/src/helpers/token/create-token/create-token.helper.ts
  backend/src/middlewares/auth/auth.middleware.ts
  backend/src/middlewares/roles-based-protection/role.middleware.ts
  backend/src/services/auth/auth.service.ts
  backend/src/services/preferences/wishlist.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

path and name correction
  backend/src/helpers/token/create-token/create-token.helper.ts
  backend/src/middlewares/auth/auth.middleware.ts
  backend/src/middlewares/roles-based-protection/role.middleware.ts
  backend/src/services/auth/auth.service.ts
  backend/src/services/preferences/wishlist.service.ts
  frontend/src/components/modal-compare/modal.tsx
  frontend/src/components/modal-compare/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js, yarn lint:frontend:css, yarn lint:frontend:js

fixed complectation model, seed and created migration
  backend/prisma/migrations/20220817191122_fix_complectation_name/migration.sql
  backend/prisma/schema.prisma
  backend/prisma/seed.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

added to variables media width small
  frontend/src/assets/css/variables.scss
  frontend/src/assets/css/wrapper.scss
  frontend/src/components/mail-verification/verification-success/styles.module.scss
Due: yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css

add some fixes due to PR
  frontend/src/components/reset-password/reset-password.tsx
  frontend/src/helpers/validation/get-form-validation-resolver.ts
  frontend/src/store/queries/forgot-password.ts
  shared/tsconfig.json
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Path conditions:
  prettier --write: any of: *.{ts,tsx,html,json,md}
  yarn lint:editorconfig && yarn lint:fs: any of: *
  yarn lint:shared:js: any of: shared/**/*.ts
  yarn lint:tests:js: any of: tests/**/*.ts
  yarn lint:backend:js: any of: backend/**/*.ts
  yarn lint:frontend:css: any of: frontend/**/*.scss
  yarn lint:frontend:js: any of: frontend/**/*.{ts,tsx}
