Repository BinaryStudioAcademy/bsa-2022-autoline: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:tests:js, yarn lint:backend:js, yarn lint:frontend:css, yarn lint:frontend:js

local storage for mail verification
  backend/src/services/mail-verification/send-activation-link/templates/email.hbs
  frontend/src/common/enums/app/storage-key.enum.ts
  frontend/src/components/mail-verification/verification-failed/mail-verification-failed.tsx
  frontend/src/components/mail-verification/verification-failed/styles.module.scss
  frontend/src/components/sign/components/sign-up-form/sign-up-form.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

add baseQuery with reauth
  frontend/src/store/queries/index.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Moved Brand details from local to global state
  frontend/src/common/enums/car/car-filters-names.enum.ts
  frontend/src/common/enums/car/ranges.ts
  frontend/src/common/types/cars/checkbox-list-data.type.ts
  frontend/src/common/types/cars/filters.type.ts
  frontend/src/common/types/cars/range-item.type.ts
  frontend/src/components/advanced-auto-filter/advanced-auto-filter.tsx
  frontend/src/components/advanced-auto-filter/brand-details/brand-details.tsx
  frontend/src/components/common/checkbox-list/checkbox-list.tsx
  frontend/src/components/common/range-selector/range-selector.tsx
  frontend/src/components/simple-auto-filter/simple-auto-filter.tsx
  frontend/src/store/car-filter/slice.ts
  frontend/yarn.lock
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

update jwt error handling
  backend/src/dtos/execptions/error.dto.ts
  backend/src/helpers/token/verify-token/verify-token.helper.ts
  backend/src/middlewares/exceptions/exceptions.middleware.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

fix alignment labels, add params object in state
  backend/api-autoria/cars/fetched-data/fetched-data.ts
  backend/src/helpers/viewed-cars/viewed-cars.ts
  backend/yarn.lock
  frontend/src/components/viewed-cars/components/viewed-cars-grid/style.module.scss
  frontend/src/components/viewed-cars/styles.module.scss
  frontend/src/components/viewed-cars/viewed-cars.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js, yarn lint:frontend:css, yarn lint:frontend:js

fix seeds
  backend/prisma/seed.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

fix seeds
  backend/tsconfig.json
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs

small fixes
  .env.example/frontend.env
  backend/src/services/complectations/complectations.service.ts
  frontend/src/common/enums/app/env.enum.ts
  frontend/src/common/types/details-panel/details.panel.ts
  frontend/src/components/details-car-panel/details-car-panel.tsx
  frontend/src/store/queries/details-panel.ts
  shared/src/common/types/complectations/complectations.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:backend:js, yarn lint:frontend:js

fixed font for input fields
  frontend/src/components/common/input-field/styles.module.scss
Due: yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css

Added Edit Page
  frontend/src/components/edit-profile/form-input-text/form-input-text.tsx
  frontend/src/components/edit-profile/form-input-text/styles.module.scss
  frontend/src/components/edit-profile/select-years-range/select-years-range.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

Added edit page frontend
  frontend/src/components/edit-profile/form-input-text/form-input-text.tsx
  frontend/src/components/edit-profile/form-input-text/styles.module.scss
  frontend/src/components/edit-profile/select-years-range/select-years-range.tsx
  frontend/src/components/header/private-elements/private-elements.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

Some fixes
  frontend/src/components/edit-profile/select-years-range/select-years-range.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Added backend functionality
  backend/src/controllers/update-user/update-user.controller.ts
  backend/src/routes/update-user/update-user.router.ts
  backend/src/services/update-user/update-user.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Added query for user information
  frontend/src/store/queries/user/update-user.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Fixed validation schema
  shared/src/common/validation-schemas/update-user.validation-schema.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js

Fixed naming
  frontend/src/components/edit-profile/select-year-range/select-year-range.tsx
  frontend/src/components/edit-profile/select-year-range/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

Connecting headers into one
  frontend/src/components/header/default-elements/default-elements.tsx
  frontend/src/components/header/logo/logo.module.scss
  frontend/src/components/header/logo/logo.tsx
  frontend/src/components/header/navigate/navigate.module.scss
  frontend/src/components/header/navigate/navigate.tsx
  frontend/src/components/header/private-elements/private-elements.module.scss
  frontend/src/components/header/public-elements/public-elements.module.scss
  frontend/src/components/header/public-elements/public-elements.tsx
  frontend/src/components/header/styles.module.scss
  frontend/src/components/landing-page/components/components.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

Added birth_year in type of user
  shared/src/common/types/user/user.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js

Connecting headers into one
  package.json
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs

Added fetch information about user
  frontend/src/components/edit-profile/edit-profile.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Added throw exception if user not exist
  backend/src/common/enums/exception/exception-message.enum.ts
  backend/src/services/user/user.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Change naming from updateUserService to userService
  backend/src/controllers/update-user/update-user.controller.ts
  backend/src/services/user/user.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Changed name from DrawerComp to DrawerComponent
  frontend/src/components/landing-page/components/drawer/drawer.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Changed name from DefaultElements to UnauthorisedElements
  frontend/src/components/header/unauthorised-elements/unauthorised-elements.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Remove file with unused mocked data
  frontend/src/components/landing-page/mock-new-cars.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Create general Car Preview Type to use in cards
  frontend/src/common/types/card/card.ts
  shared/src/common/types/cars/cars.ts
  shared/src/common/types/cars/model.ts
  shared/src/common/types/preferences/preferences.ts
  shared/src/common/types/preferences/wishlist-response-dto.type.ts
  shared/src/common/types/types.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:frontend:js

Remove unused data from services and replace return types
  backend/src/services/new-cars/new-cars.service.ts
  backend/src/services/preferences/wishlist.service.ts
  frontend/src/store/queries/new-cars.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js, yarn lint:frontend:js

Move like logic inside New Car Card
  backend/yarn.lock
  frontend/src/components/landing-page/landing-page.tsx
  frontend/src/components/new-car-card/new-car-card.tsx
  frontend/src/components/wishlist/wishlist.tsx
  frontend/yarn.lock
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Make card images the same height
  frontend/src/components/new-car-card/styles.module.scss
Due: yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css

fix full name spaces validation
  shared/src/validation-schemas/sign-up/sign-up.validation-schema.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js

adapt emails to mobile layout, make them single-styled
  backend/src/helpers/mailtrap/templates/reset-password-request.ts
  backend/src/services/mail-verification/send-activation-link/templates/email.hbs
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Fixed submit form with empty some fields
  backend/src/dtos/user/update-user.dto.ts
  frontend/src/components/edit-profile/edit-profile.tsx
  frontend/src/store/queries/user/update-user.ts
  shared/src/common/validation-schemas/update-user.validation-schema.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:backend:js, yarn lint:frontend:js

Fixed fuelTypeId + Added Spinner
  frontend/src/common/enums/car/car-filters-names.enum.ts
  frontend/src/common/types/cars/filters.type.ts
  frontend/src/components/advanced-auto-filter/advanced-auto-filter.tsx
  frontend/src/components/advanced-auto-filter/brand-details/brand-details.tsx
  frontend/src/components/common/spinner/spinner.tsx
  frontend/src/components/common/spinner/styles.module.scss
  frontend/src/store/car-filter/slice.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

change email verification text
  backend/src/services/mail-verification/send-activation-link/templates/email.hbs
Due: yarn lint:editorconfig && yarn lint:fs

make reset-password route secure
  frontend/src/components/reset-password/reset-password.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Code style fixes
  frontend/src/components/landing-page/landing-page.tsx
  frontend/src/components/new-car-card/new-car-card.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

initial
  backend/src/middlewares/auth/strategies/facebook.strategy.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Code style fixes
  frontend/src/components/new-car-card/new-car-card.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

fix/changed min requered characters and matches the fullname input field
  shared/src/validation-schemas/sign-up/sign-up.validation-schema.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js

removed useless verification
  shared/src/validation-schemas/sign-up/sign-up.validation-schema.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js

Path conditions:
  prettier --write: any of: *.{ts,tsx,html,json,md}
  yarn lint:editorconfig && yarn lint:fs: any of: *
  yarn lint:shared:js: any of: shared/**/*.ts
  yarn lint:tests:js: any of: tests/**/*.ts
  yarn lint:backend:js: any of: backend/**/*.ts
  yarn lint:frontend:css: any of: frontend/**/*.scss
  yarn lint:frontend:js: any of: frontend/**/*.{ts,tsx}
