Repository BinaryStudioAcademy/bsa-2022-autoline: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:tests:js, yarn lint:backend:js, yarn lint:frontend:css, yarn lint:frontend:js

added new type for comparison popup
  shared/src/common/types/cars/cars.ts
  shared/src/common/types/cars/complectation.ts
  shared/src/common/types/types.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js

changed complectation helper on backend
  backend/src/helpers/cars/complectation.helper.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

added rtk query for comparison popup
  frontend/src/store/queries/cars/index.ts
  frontend/src/store/queries/details-panel.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

create format helper for change requests data
  frontend/src/helpers/comparison/comparison.helper.ts
  frontend/src/helpers/helpers.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

changed cars and complectation service
  backend/src/services/cars/cars.service.ts
  backend/src/services/complectations/complectations.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

fix max-height for comparison list in popup
  frontend/src/components/comparison-popup/styles.module.scss
Due: yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css

fix props data in car card
  frontend/src/components/comparison-popup/car-card/car-card.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

create comparison popup logic
  frontend/src/components/comparison-popup/comparison-popup.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

added comparison popup to the comparison page
  frontend/src/components/comp-top-table-bar/comp-top-table-bar.tsx
  frontend/src/components/comparison-page/comparison-page.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

fixed types
  frontend/src/common/types/card/card.ts
  frontend/src/common/types/wishlist/wishlist.type.ts
  frontend/src/components/new-car-card/new-car-card.tsx
  frontend/src/components/user-info-panel/user-info-panel.tsx
  frontend/src/components/wishlist/wishlist.tsx
  frontend/src/store/queries/preferences/wishlist/index.ts
  shared/src/common/types/cars/model.ts
  shared/src/common/types/preferences/wishlist-response-dto.type.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:frontend:js

fixed viewed add
  frontend/src/components/car-list-item/car-list-item.tsx
  frontend/src/components/details-page/details-page.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

modify empty options filter to work with toggle
  frontend/src/helpers/comparsion/find-empty-option.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

simplify toggle logic
  frontend/src/common/enums/comparisons/comparison-table-fields.ts
  frontend/src/components/general-comparison-table/general-comparison-table.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

change options tables order
  frontend/src/common/enums/comparisons/options.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Simplify Equal height logic
  frontend/package.json
  frontend/src/components/general-comparison-table/general-comparison-table.tsx
  frontend/src/components/general-comparison-table/styles.module.scss
  frontend/yarn.lock
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

fix conflict
  frontend/src/components/comparison-popup/comparison-popup.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Removed regions from filters
  backend/src/services/cars/cars.service.ts
  frontend/src/common/enums/car/car-filters-names.enum.ts
  frontend/src/common/types/cars/filters.type.ts
  frontend/src/components/advanced-auto-filter/advanced-auto-filter.tsx
  frontend/src/components/simple-auto-filter/simple-auto-filter.tsx
  frontend/src/store/car-filter/slice.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js, yarn lint:frontend:js

remove button in modal component
  frontend/src/components/comparison-popup/comparison-popup.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

duplicate character removed
  frontend/src/components/where-to-buy/where-buy-item/where-buy-item.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

deleted old files
  frontend/src/components/comp-top-table-bar/components/complectations-column.tsx
  frontend/src/components/comp-top-table-bar/components/drag-and-drop.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

fix
  frontend/src/components/car-list-item/car-list-item.tsx
  frontend/src/components/details-page/details-page.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

fixed in general comparsion
  frontend/src/components/general-comparison-table/general-comparison-table.tsx
  frontend/src/helpers/comparsion/find-empty-option.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

deleted extra dependence
  frontend/package.json
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs

bugs_85_91 layout input fields
  frontend/src/assets/css/form.scss
Due: yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css

deleted whish list part of response
  backend/src/controllers/complectations/complectations.controller.ts
  backend/src/routes/complectations/complectations.router.ts
  backend/src/services/complectations/complectations.service.ts
  shared/src/common/types/complectations/complectations.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:backend:js

bug_103 Edit profile modal window does not open
  frontend/src/components/edit-profile/edit-profile.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

rename vars more explicit
  frontend/src/components/general-comparison-table/general-comparison-table.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

refactor hiding logic to be more intuitive
  frontend/src/components/comparison-page/comparison-page.tsx
  frontend/src/components/general-comparison-table/general-comparison-table.tsx
  frontend/src/helpers/comparsion/find-empty-option.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

added spinner
  frontend/src/components/viewed-cars/viewed-cars.tsx
  frontend/src/components/wishlist/wishlist.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

add columns swapping
  backend/src/controllers/comparisons/comparisons.controller.ts
  backend/src/routes/comparisons/comparisons.router.ts
  backend/src/services/comparisons/comparisons.service.ts
  frontend/src/components/common/icons/arrow-left/arrow-left.tsx
  frontend/src/components/common/icons/arrow-right/arrow-right.tsx
  frontend/src/components/common/icons/icons.tsx
  frontend/src/components/comp-top-table-bar/comp-top-table-bar.tsx
  frontend/src/components/comp-top-table-bar/components/comparison.tsx
  frontend/src/components/comp-top-table-bar/components/complectation.tsx
  frontend/src/components/comp-top-table-bar/components/styles.module.scss
  frontend/src/store/queries/comparisons/index.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js, yarn lint:frontend:css, yarn lint:frontend:js

combine notifications all together
  frontend/src/components/notifications/notifications.tsx
  frontend/src/contexts/compare-context.tsx
  frontend/src/contexts/wishlist-context.tsx
  frontend/src/main.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

add timer, fix internal timers inconsistency, add car name to wishlist notifications
  frontend/src/assets/css/animations.scss
  frontend/src/components/car-list-item/car-list-item.tsx
  frontend/src/components/common/notification/notification.tsx
  frontend/src/components/common/notification/styles.module.scss
  frontend/src/components/comp-top-table-bar/components/complectation.tsx
  frontend/src/components/compare-toast/compare-toast.tsx
  frontend/src/components/compare-toast/styles.module.scss
  frontend/src/components/complete-set-table/complete-set-table.tsx
  frontend/src/components/new-car-card/new-car-card.tsx
  frontend/src/contexts/compare-context.tsx
  frontend/src/contexts/wishlist-context.tsx
  frontend/src/hooks/hooks.ts
  frontend/src/hooks/interval/interval.hook.ts
  shared/src/common/types/preferences/wishlist-response-dto.type.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:frontend:css, yarn lint:frontend:js

review fix
  frontend/src/components/notifications/notifications.tsx
  frontend/src/contexts/compare-context.tsx
  frontend/yarn.lock
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Fixed filter pills on landing page
  frontend/src/components/top-car-card/styles.module.scss
  frontend/src/components/top-car-card/top-car-card.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

changed type for car card
  shared/src/common/types/viewed-cars/viewed-cars-post-dto.type.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js

changed format helper function
  backend/src/helpers/viewed-cars/viewed-cars.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

fixed recent search
  frontend/src/components/advanced-auto-filter/advanced-auto-filter.tsx
  frontend/src/components/simple-auto-filter/simple-auto-filter.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

added complectation id for response in get-viewed-cars-list
  backend/src/services/viewed-cars/viewed-cars.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

changed redirect logic when we click on the card
  frontend/src/components/viewed-cars/components/short-car-card/short-car-card.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Optimized max count of brands to show
  frontend/src/components/cars-categories/cars-categories.tsx
  frontend/src/components/cars-categories/swiper-params.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Path conditions:
  prettier --write: any of: *.{ts,tsx,html,json,md}
  yarn lint:editorconfig && yarn lint:fs: any of: *
  yarn lint:shared:js: any of: shared/**/*.ts
  yarn lint:tests:js: any of: tests/**/*.ts
  yarn lint:backend:js: any of: backend/**/*.ts
  yarn lint:frontend:css: any of: frontend/**/*.scss
  yarn lint:frontend:js: any of: frontend/**/*.{ts,tsx}
