Repository BinaryStudioAcademy/bsa-2022-autoline: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:tests:js, yarn lint:backend:js, yarn lint:frontend:css, yarn lint:frontend:js

.lintstagedrc.yml:

'*.{ts,tsx,html,json,md}': prettier --write
'*': yarn lint:editorconfig && yarn lint:fs
'shared/**/*.ts': yarn lint:shared:js
'tests/**/*.ts': yarn lint:tests:js
'backend/**/*.ts': yarn lint:backend:js
'frontend/**/*.scss': yarn lint:frontend:css
'frontend/**/*.{ts,tsx}': yarn lint:frontend:js

fix tokenPayload error in controllers
  backend/src/controllers/comparisons/comparisons.controller.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

fix comparison status endpoint
  backend/src/services/comparisons/comparisons.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

add scroll sync
  frontend/package.json
  frontend/src/components/comp-top-table-bar/comp-top-table-bar.tsx
  frontend/src/components/comparison-options-table/options-subtable.tsx
  frontend/src/components/comparison-page/comparison-page.tsx
  frontend/src/components/general-comparison-table/general-comparison-table.tsx
  frontend/yarn.lock
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

fix max password length
  shared/src/common/enums/validation/user-validation-rule.enum.ts
  shared/src/validation-schemas/forgot-password/forgot-password.validation-schema.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js

create getComplectationsOfModel service
  backend/src/services/cars/cars.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

create controller for get complectation, added new route for this controller
  backend/src/controllers/cars/cars.controller.ts
  backend/src/routes/cars/cars.router.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Fixed notification position by added header offset
  frontend/src/components/common/notification/styles.module.scss
Due: yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css

styles for mobile
  frontend/src/components/where-to-buy/styles.module.scss
  frontend/src/components/where-to-buy/where-buy-item/styles.module.scss
  frontend/src/navigation/routing/routing.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

Fix routes access
  frontend/src/components/header/header.tsx
  frontend/src/navigation/routing/routing.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Remove user from initial state
  frontend/src/store/auth/slice.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

make general info collapse open by default
  frontend/src/components/collapse-component/collapse-element/collapse-element.tsx
  frontend/src/components/general-comparison-table/general-comparison-table.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Add number of viewed cars to header
  frontend/src/components/header/header.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

simplify db requests, move ordering by position to orm lvl
  backend/src/services/comparisons/comparisons.service.ts
  frontend/src/components/comp-top-table-bar/comp-top-table-bar.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js, yarn lint:frontend:js

edit profile start year
  frontend/src/components/edit-profile/edit-profile.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Minor fix
  frontend/src/components/header/header.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Fixed incorrect search results when selecting two brands with model
  backend/src/services/cars/cars-local-search.service.ts
  frontend/src/components/advanced-auto-filter/advanced-auto-filter.tsx
  frontend/src/helpers/object-to-query.ts
  shared/src/common/types/cars/cars-search-params.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:backend:js, yarn lint:frontend:js

Fixed active state of navigation element in site header
  frontend/src/common/enums/app/app-route.enum.ts
  frontend/src/components/header/header.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

fix typo
  frontend/src/components/comparison-options-table/options-subtable.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

fix comparison service
  backend/src/services/comparisons/comparisons.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

fix compare context and notification
  frontend/src/components/compare-toast/compare-toast.tsx
  frontend/src/contexts/compare-context.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

changed cars-categories
  frontend/src/components/cars-categories/cars-categories.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

add comparison button to details page
  frontend/src/components/complete-set-table/complete-set-table.tsx
  frontend/src/components/complete-set-table/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

move options to array
  frontend/src/common/enums/comparisons/options.ts
  frontend/src/components/comparison-page/comparison-page.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

simplify complete set table cell
  frontend/src/components/complete-set-table/complete-set-table.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Set smooth scroll without html element
  frontend/src/assets/css/styles.scss
  frontend/src/components/header/reminders/reminders.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

some fix
  backend/src/services/recent-search-cars/resent-search-cars.service.ts
  frontend/src/components/landing-page/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js, yarn lint:frontend:css

styles for pannel
  frontend/src/components/where-to-buy/where-buy-item/styles.module.scss
  frontend/src/components/where-to-buy/where-to-buy.tsx
  frontend/src/navigation/routing/routing.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

max/min birthday year
  frontend/src/components/edit-profile/edit-profile.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

mobile layout
  frontend/src/components/where-to-buy/where-buy-item/styles.module.scss
Due: yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css

Fixed empty pills
  frontend/src/components/advanced-auto-filter/brand-details/brand-details.tsx
  frontend/src/components/applied-filters-bar/applied-filters-bar.tsx
  frontend/src/components/simple-auto-filter/simple-auto-filter.tsx
  frontend/src/store/car-models/slice.ts
  frontend/src/store/queries/cars/index.ts
  frontend/src/store/root-reducer.ts
  frontend/src/store/store.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

finished mobile layout
  frontend/src/navigation/routing/routing.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Fixed show applied bar after search
  frontend/src/components/applied-filters-bar/applied-filters-bar.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Optimizations through selector + changed func. name
  frontend/src/components/advanced-auto-filter/advanced-auto-filter.tsx
  frontend/src/components/car-list-item/car-list-item.tsx
  frontend/src/components/details-page/details-page.tsx
  frontend/src/components/simple-auto-filter/simple-auto-filter.tsx
  frontend/src/helpers/object-to-query.ts
  frontend/src/store/selectors/car-filter-selectors.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

fixed adding history cars
  backend/src/helpers/viewed-cars/viewed-cars.ts
  backend/src/services/viewed-cars/viewed-cars.service.ts
  frontend/src/components/details-page/details-page.tsx
  shared/src/common/types/viewed-cars/viewed-cars-post-dto.type.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:backend:js, yarn lint:frontend:js

fixed pagination
  frontend/src/components/viewed-cars/viewed-cars.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

added logging to Sentry for cron task
  backend/src/server.ts
  backend/src/services/cars/cars-update.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

optimize updatePositions method
  backend/src/services/comparisons/comparisons.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

fix due to review
  frontend/src/contexts/wishlist-context.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

change path to alias
  shared/src/validation-schemas/forgot-password/forgot-password.validation-schema.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js

bug_74 Redirect to detailed view page after click on right/left image slider buttons
  frontend/src/components/car-list-item/slider-nav-button/slider-nav-button.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js
