Repository BinaryStudioAcademy/bsa-2022-autoline: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:tests:js, yarn lint:backend:js, yarn lint:frontend:css, yarn lint:frontend:js

Fixed label in select field
  frontend/src/assets/css/form.scss
Due: yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css

fix useEffect deps
  frontend/src/components/comp-top-table-bar/comp-top-table-bar.tsx
  frontend/src/components/general-comparison-table/general-comparison-table.tsx
  frontend/src/contexts/compare-context.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

wrap tables filtering results in useMemo
  frontend/src/components/comparison-page/comparison-page.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Add scroll to top after redirect to Detailed view
  frontend/src/components/car-list-item/car-list-item.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

fix google connect in edit profile
  frontend/src/navigation/routing/routing.tsx
  frontend/src/store/queries/user/update-user.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Add general scrollbar
  frontend/src/assets/css/styles.scss
Due: yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css

refactoring cars categories
  frontend/src/components/advanced-auto-filter/advanced-auto-filter.tsx
  frontend/src/components/cars-categories/cars-categories.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

add basic only difference filtration logic
  frontend/src/components/general-comparison-table/general-comparison-table.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

refactoring: rename variable
  frontend/src/store/queries/comparisons/index.ts
  frontend/src/store/queries/preferences/middlewares.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

fix notification appearance
  frontend/src/contexts/compare-context.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

move broadcast to useEffect
  frontend/src/components/comp-top-table-bar/comp-top-table-bar.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

deleted hover effect
  frontend/src/components/car-list-item/styles.module.scss
Due: yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css

added seed for important option
  backend/api-autoria/cars/options-types.ts
  backend/prisma/seed.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

change function name
  backend/prisma/seed.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

options names was objects, changed to strings
  frontend/src/components/car-list-item/car-list-item.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Fixed 'null' value for 'Sex' column in users table
  frontend/src/components/administration/users/users-list.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

add where to by on details page
  frontend/src/components/details-page/details-page.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

small fix
  frontend/src/components/details-page/details-page.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

styles fix
  frontend/src/components/where-to-buy/styles.module.scss
Due: yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css

add toggle buttons
  frontend/src/components/comparison-page/comparison-page.tsx
  frontend/src/components/comparison-page/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

some fix
  frontend/src/components/advanced-auto-filter/advanced-auto-filter.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

add toggle logic to general comparisons table
  frontend/src/components/comparison-page/comparison-page.tsx
  frontend/src/components/general-comparison-table/general-comparison-table.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

deleted dublicates cars models
  backend/api-autoria/cars/cars-data.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Reappear car at previous place + sorted in wishlist
  backend/src/common/types/prisma/prisma.ts
  backend/src/controllers/preferences/wishlist.controller.ts
  backend/src/services/preferences/wishlist.service.ts
  frontend/src/components/new-car-card/new-car-card.tsx
  frontend/src/components/wishlist/wishlist.tsx
  frontend/src/contexts/wishlist-context.tsx
  shared/src/common/types/cars/model.ts
  shared/src/common/types/preferences/wishlist-response-dto.type.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:backend:js, yarn lint:frontend:js

renamed model Volkswagen
  backend/api-autoria/cars/cars-data.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

changed viewed cars response interface
  shared/src/common/types/viewed-cars/viewed-cars-post-dto.type.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js

changed helper function for respons data
  backend/src/helpers/viewed-cars/viewed-cars.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

fix car card image width
  frontend/src/components/viewed-cars/components/short-car-card/styles.module.scss
Due: yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css

fix price format in card
  frontend/src/components/viewed-cars/components/short-car-card/short-car-card.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Fixed bug 95
  backend/src/services/cars/cars-local-search.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

fixed types
  shared/src/common/types/cars/model.ts
  shared/src/common/types/preferences/wishlist-response-dto.type.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js

fix counter logic in user-panel-info
  frontend/src/components/user-info-panel/user-info-panel.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

change counter styles
  frontend/src/components/user-info-panel/styles.module.scss
Due: yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css

changed viewed cars counter in header
  frontend/src/components/header/reminders/reminders.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

move options filtering to sub-components
  frontend/src/components/comparison-page/comparison-page.tsx
  frontend/src/components/comparison-page/options-subcomponent/all-options.tsx
  frontend/src/components/comparison-page/options-subcomponent/only-different-options.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Fixed bug 101
  frontend/src/components/header/reminders/reminders.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Fixed margin of header navigation item
  frontend/src/assets/css/variables.scss
  frontend/src/components/header/styles.module.scss
Due: yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css

fixed createdAt types
  frontend/src/components/new-car-card/new-car-card.tsx
  frontend/src/components/wishlist/wishlist.tsx
  shared/src/common/types/cars/model.ts
  shared/src/common/types/preferences/wishlist-response-dto.type.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:frontend:js

added helper func
  frontend/src/components/general-comparison-table/general-comparison-table.tsx
  frontend/src/helpers/comparsion/find-empty-option.ts
  frontend/src/helpers/helpers.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

changed complectation short info interface
  shared/src/common/types/complectations/complectations.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js

Path conditions:
  prettier --write: any of: *.{ts,tsx,html,json,md}
  yarn lint:editorconfig && yarn lint:fs: any of: *
  yarn lint:shared:js: any of: shared/**/*.ts
  yarn lint:tests:js: any of: tests/**/*.ts
  yarn lint:backend:js: any of: backend/**/*.ts
  yarn lint:frontend:css: any of: frontend/**/*.scss
  yarn lint:frontend:js: any of: frontend/**/*.{ts,tsx}
