Repository BinaryStudioAcademy/bsa-2022-autoline: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:tests:js, yarn lint:backend:js, yarn lint:frontend:css, yarn lint:frontend:js

.lintstagedrc.yml:

'*.{ts,tsx,html,json,md}': prettier --write
'*': yarn lint:editorconfig && yarn lint:fs
'shared/**/*.ts': yarn lint:shared:js
'tests/**/*.ts': yarn lint:tests:js
'backend/**/*.ts': yarn lint:backend:js
'frontend/**/*.scss': yarn lint:frontend:css
'frontend/**/*.{ts,tsx}': yarn lint:frontend:js

Fixed interface names and used mui lib
  frontend/package.json
  frontend/src/components/header/private-elements/private-elements.module.scss
  frontend/src/components/header/private-elements/private-elements.tsx
  frontend/src/components/header/reminders/reminders.module.scss
  frontend/src/components/header/reminders/reminders.tsx
  frontend/yarn.lock
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

frontend, verification failed/saccess pages done
  frontend/package.json
  frontend/src/common/enums/app/app-route.enum.ts
  frontend/src/components/mail-verification/verification-failed/failed.tsx
  frontend/src/components/mail-verification/verification-failed/validation-schema.ts
  frontend/src/components/mail-verification/verification-success/styles.module.scss
  frontend/src/components/mail-verification/verification-success/success.tsx
  frontend/src/navigation/routing/routing.tsx
  frontend/src/services/request-verification-link/email-link-service.ts
  frontend/src/store/store.ts
  frontend/yarn.lock
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

added userRouter on backend, added mock data
  backend/src/routes/routes.ts
  backend/src/routes/user/user.router.ts
  backend/src/server.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

added response to send link router
  backend/src/controllers/mail_varification/send_link.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

conflict resolving
  .env.example/backend.env
  backend/package.json
  backend/src/server.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

deleted success and failed routes from frontend routing
  frontend/src/navigation/routing/routing.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

fix: rewrote types on interfaces, added new interfaces
  frontend/src/common/types/card/card.ts
  frontend/src/common/types/component/component.ts
  frontend/src/common/types/types.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

changed the props field to be closer to the db, rewrote props type
  frontend/src/components/short-car-card/short-car-card.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

created a separate grid component
  frontend/src/components/reviewed-cars-grid/reviewed-cars-grid.tsx
  frontend/src/components/reviewed-cars-grid/style.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

fix: added check for empty array data and view message
  frontend/src/components/reviewed-cars/reviewed-cars.tsx
  frontend/src/components/reviewed-cars/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

added useAppForm in sign in form
  frontend/package.json
  frontend/src/common/types/auth/auth.ts
  frontend/src/common/types/input-field/input-field.tsx
  frontend/src/common/types/types.tsx
  frontend/src/components/common/input-field/input-field.tsx
  frontend/src/components/sign/components/sign-in-form/common.ts
  frontend/src/components/sign/components/sign-in-form/sign-in-form.tsx
  frontend/src/helpers/validation/get-form-validation-resolver.ts
  frontend/src/hooks/app-form/app-form.hook.ts
  frontend/src/hooks/hooks.ts
  frontend/src/store/queries/auth.ts
  frontend/src/validation-schemas/sign-in/sign-in.validation-schema.ts
  frontend/src/validation-schemas/validation-schemas.ts
  frontend/yarn.lock
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

added common api in store
  frontend/src/components/common/input-field/input-field.tsx
  frontend/src/store/queries/auth.ts
  frontend/src/store/queries/index.ts
  frontend/src/store/store.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

add autoria request params interface
  backend/src/common/types/cars/autoria_request_params.ts
  backend/src/common/types/types.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

delete race param
  shared/src/common/types/cars/cars-search-params.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js

add autoria request helper
  backend/src/helpers/cars/api_autoria.helper.ts
  backend/src/helpers/cars/cars.ts
  backend/src/helpers/helpers.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

add empty response if no data found
  backend/src/controllers/cars/cars.controller.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

implement cars search service
  backend/src/services/cars/carsSearch.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

add city and region migration
  backend/prisma/migrations/20220816164515_city_and_region_tables/migration.sql
  backend/prisma/schema.prisma
Due: yarn lint:editorconfig && yarn lint:fs

add city and region to params
  backend/src/common/types/cars/autoria_request_params.ts
  shared/src/common/types/cars/cars-search-params.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:backend:js

fix region name length
  backend/prisma/migrations/20220816193202_fix_region_name/migration.sql
  backend/prisma/schema.prisma
Due: yarn lint:editorconfig && yarn lint:fs

modal for global toast message on comparison click
  frontend/src/components/mail-verification/verification-failed/failed.tsx
  frontend/src/components/modal_compare/modal.tsx
  frontend/src/components/modal_compare/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

correction text in template
  backend/src/services/mail_verification/send_activation_link/templates/email.hbs
Due: yarn lint:editorconfig && yarn lint:fs

correctiont type error
  frontend/src/components/mail-verification/verification-failed/failed.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

refactoring RTKQ
  frontend/src/common/enums/api/api-path.enum.ts
  frontend/src/common/enums/api/api.ts
  frontend/src/common/enums/api/verification-api-path.enum.ts
  frontend/src/common/enums/enums.ts
  frontend/src/common/types/email/email.ts
  frontend/src/common/types/types.tsx
  frontend/src/components/mail-verification/verification-failed/failed.tsx
  frontend/src/services/request-verification-link/email-link-service.ts
  frontend/src/store/queries/index.ts
  frontend/src/store/queries/verification-link.ts
  frontend/src/store/store.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

added RTK Queries, added component Administration
  backend/src/routes/user/user.router.ts
  frontend/package.json
  frontend/src/common/enums/app/app-route.enum.ts
  frontend/src/components/administration/administration.tsx
  frontend/src/components/administration/index.tsx
  frontend/src/components/administration/users/users-list.tsx
  frontend/src/navigation/routing/routing.tsx
  frontend/src/store/auth/slice.ts
  frontend/src/store/queries/api_routes.ts
  frontend/src/store/queries/index.ts
  frontend/src/store/queries/users/index.ts
  frontend/src/store/store.ts
  frontend/yarn.lock
  shared/src/common/types/types.ts
  shared/src/common/types/user/user.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:backend:js, yarn lint:frontend:js

connect-sign-up-form-with-backend
  frontend/package.json
  frontend/src/common/enums/api/api-path.enum.ts
  frontend/src/common/enums/api/api.ts
  frontend/src/common/enums/api/auth-api-path.enum.ts
  frontend/src/common/enums/enums.ts
  frontend/src/common/types/auth/auth.ts
  frontend/src/common/types/input-field/input-field.tsx
  frontend/src/common/types/types.tsx
  frontend/src/components/common/input-field/input-field.tsx
  frontend/src/components/common/input-field/styles.module.scss
  frontend/src/components/sign/components/sign-up-form/sign-up-form.tsx
  frontend/src/components/sign/components/sign-up-form/styles.module.scss
  frontend/src/store/queries/auth.ts
  frontend/src/store/queries/index.ts
  frontend/src/store/store.ts
  frontend/yarn.lock
  shared/package.json
  shared/src/common/types/auth/auth.ts
  shared/src/common/types/auth/sign-up-data.type.ts
  shared/src/common/types/types.ts
  shared/src/validation-schemas/index.ts
  shared/src/validation-schemas/sign-in/sign-in.validation-schema.ts
  shared/src/validation-schemas/sign-up/sign-up.validation-schema.ts
  shared/yarn.lock
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:frontend:css, yarn lint:frontend:js

Replaced `bw-shared` with `@autoline/shared`
  frontend/yarn.lock
  shared/package.json
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs

some fix
  frontend/package.json
  frontend/src/components/sign/components/sign-up-form/sign-up-form.tsx
  shared/src/common/types/types.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:frontend:js

fixed app form hook
  frontend/src/common/types/form/form-control-errors.type.ts
  frontend/src/common/types/form/form-control-path.type.ts
  frontend/src/common/types/form/form-control-values.type.ts
  frontend/src/common/types/form/form-control.type.ts
  frontend/src/common/types/form/form.ts
  frontend/src/common/types/input-field/input-field.tsx
  frontend/src/common/types/types.tsx
  frontend/src/common/types/validation/validation.ts
  frontend/src/components/common/input-field/input-field.tsx
  frontend/src/helpers/validation/get-form-validation-resolver.ts
  frontend/src/hooks/app-form/app-form.hook.ts
  frontend/src/store/queries/auth.ts
  frontend/src/store/queries/index.ts
  frontend/src/store/store.ts
  shared/src/common/types/types.ts
  shared/src/common/types/validation/validation-schema.type.ts
  shared/src/common/types/validation/validation.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:frontend:js

Add typography styles
  frontend/src/assets/css/styles.scss
  frontend/src/assets/css/typography.scss
Due: yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css

Add title component
  frontend/src/common/types/title/title.ts
  frontend/src/components/common/title/styles.module.scss
  frontend/src/components/common/title/title.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

Add Page container component
  frontend/src/components/common/page-container/page-container.tsx
  frontend/src/components/common/page-container/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

Add Personal page
  frontend/src/common/enums/app/app-route.enum.ts
  frontend/src/components/personal-page/personal-page.tsx
  frontend/src/navigation/routing/routing.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Fix types files to have .ts extension
  frontend/src/common/types/button/button.ts
  frontend/src/common/types/input-field/input-field.ts
  frontend/src/common/types/select-field/select-field.ts
  frontend/src/common/types/types.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Added rimraf step into the shared build process
  shared/package.json
  shared/yarn.lock
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs

Made shared be compiled to ES6 modules
  shared/tsconfig.json
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs

Added `@autoline/shared` to the `Vite`'s aliases
  frontend/vite.config.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Bumped `tsc-alias`
  shared/package.json
  shared/yarn.lock
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs
