Repository BinaryStudioAcademy/bsa-2022-autoline: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:tests:js, npm run lint:backend:js, npm run lint:frontend:css, npm run lint:frontend:js

.lintstagedrc.yml:

'*.{ts,tsx,html,json,md}': prettier --write
'*': npm run lint:editorconfig && npm run lint:fs
'shared/**/*.ts': npm run lint:shared:js
'tests/**/*.ts': npm run lint:tests:js
'backend/**/*.ts': npm run lint:backend:js
'frontend/**/*.scss': npm run lint:frontend:css
'frontend/**/*.{ts,tsx}': npm run lint:frontend:js

chore: add shared `tsconfig`
  tsconfig.json
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs

chore: remove redundant `.npmrc`
  .npmrc
Due: npm run lint:editorconfig && npm run lint:fs

chore: switch engine to `yarn`
  .lintstagedrc.yml
  package.json
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs

chore(dep): add missing `eslint` deps
  .eslintrc.yml
  package.json
  yarn.lock
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs

chore: add `.idea` & `.vscode` to `editorconfig-checker` exclusion
  .ecrc
Due: npm run lint:editorconfig && npm run lint:fs

chore: update `.idea` config
  .idea/codeStyles/Project.xml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/stylesheetLinters/stylelint.xml
Due: npm run lint:editorconfig && npm run lint:fs

feat: init `Vite`'s boilerplate project
  frontend/.gitignore
  frontend/index.html
  frontend/package.json
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/favicon.svg
  frontend/src/index.css
  frontend/src/logo.svg
  frontend/src/main.tsx
  frontend/src/vite-env.d.ts
  frontend/tsconfig.json
  frontend/vite.config.ts
  frontend/yarn.lock
  tsconfig.json
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

chore: expand `.gitignore` coverage
  .gitignore
Due: npm run lint:editorconfig && npm run lint:fs

feat: add `.env` files support for the frontend
  .env.example/frontend.env
  frontend/package.json
  frontend/yarn.lock
  package.json
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs

chore(dep): remove `^` from versions
  frontend/package.json
  frontend/yarn.lock
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs

chore: add paths aliases for root folders
  frontend/tsconfig.json
  frontend/vite.config.ts
  package.json
  yarn.lock
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

refactor: remove boilerplate code
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/favicon.svg
  frontend/src/index.css
  frontend/src/logo.svg
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

feat: add basic router config
  frontend/package.json
  frontend/src/common/enums/app/app-route.enum.ts
  frontend/src/common/enums/app/app.ts
  frontend/src/main.tsx
  frontend/src/navigation/routing/routing.tsx
  frontend/yarn.lock
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

feat: add `protected-route` component
  frontend/src/navigation/protected-route/protected-route.tsx
  frontend/src/navigation/routing/routing.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

style: add `eslint` config for the `frontend` app
  frontend/.eslintrc.yml
Due: npm run lint:editorconfig && npm run lint:fs

style: add `stylelint` config for the `frontend` app
  frontend/.stylelintrc.yml
Due: npm run lint:editorconfig && npm run lint:fs

chore(dep): add `scss` & `stylelint` deps
  frontend/package.json
  frontend/yarn.lock
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs

feat: add production Docker setup for the `frontend`
  .docker/autoline/docker-compose.prod.yml
  .docker/autoline/server.conf
  frontend/Dockerfile.prod
Due: npm run lint:editorconfig && npm run lint:fs

build: optimized installation with `yarn install --prefer-offline`
  frontend/Dockerfile.prod
Due: npm run lint:editorconfig && npm run lint:fs

ci: add `build` action to test if the app is building on PR
  .github/CODEOWNERS
  .github/workflows/build.yml
Due: npm run lint:editorconfig && npm run lint:fs

ci: add `lib` action
  .github/workflows/lint.yml
Due: npm run lint:editorconfig && npm run lint:fs

build: add `nginx` config for the frontend
  nginx/nginx.prod.conf
Due: npm run lint:editorconfig && npm run lint:fs

ci: bump `bahmutov/npm-install` version
  .github/workflows/lint.yml
Due: npm run lint:editorconfig && npm run lint:fs

ci: add `deploy` action
  .github/workflows/deploy.prod.yml
Due: npm run lint:editorconfig && npm run lint:fs

ci: replace `REACT_APP_API_ORIGIN_URL` -> `VITE_API_ORIGIN_URL`
  .github/workflows/deploy.prod.yml
Due: npm run lint:editorconfig && npm run lint:fs

refactor: replace `npm ci` -> `yarn install`
  frontend/Dockerfile.prod
Due: npm run lint:editorconfig && npm run lint:fs

feat: add dev docker setup for the `frontend`
  .docker/autoline/docker-compose.dev.yml
  frontend/Dockerfile.dev
  frontend/vite.config.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

feat: add enum with env variables
  frontend/src/common/enums/app/app.ts
  frontend/src/common/enums/app/env.enum.ts
  frontend/src/env.d.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

build: add usage of the env files in the compose
  .docker/autoline/docker-compose.dev.yml
  .docker/autoline/docker-compose.prod.yml
Due: npm run lint:editorconfig && npm run lint:fs

feat: add base styles for the `frontend` to pass linting
  frontend/src/assets/css/styles.scss
  frontend/src/main.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

feat: add boilerplate `shared` module
  .ls-lint.yml
  package.json
  shared/.eslintrc.yml
  shared/package.json
  shared/src/index.ts
  shared/tsconfig.json
  shared/yarn.lock
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js

style: add import/order rule
  .eslintrc.yml
  frontend/src/main.tsx
  frontend/src/navigation/protected-route/protected-route.tsx
  frontend/src/navigation/routing/routing.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

feat: add functions types to the `shared` package
  shared/src/common/types/functions/functions.ts
  shared/src/common/types/types.ts
  shared/src/index.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js

feat: add dev mode for `shared` module
  package.json
  shared/package.json
  yarn.lock
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs

chore: rename `start` -> `start:dev` in `frontend`
  frontend/Dockerfile.dev
  frontend/package.json
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs

chore(dep): moved deps packages where they are required
  frontend/package.json
  frontend/yarn.lock
  package.json
  shared/package.json
  shared/yarn.lock
  yarn.lock
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs

feat: add `shared` module to the `frontend` prod build
  frontend/Dockerfile.prod
Due: npm run lint:editorconfig && npm run lint:fs

style: add dev docker config for the frontend & shared
  .docker/autoline/docker-compose.dev.yml
  frontend/Dockerfile.dev
Due: npm run lint:editorconfig && npm run lint:fs

feat: add basic backend app boilerplate
  .env.example/backend.env
  backend/.eslintrc.yml
  backend/package.json
  backend/src/server.ts
  backend/tsconfig.json
  backend/yarn.lock
  frontend/tsconfig.json
  package.json
  shared/tsconfig.json
  tsconfig.json
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

build: dockerized the backend
  .docker/autoline/docker-compose.dev.yml
  .docker/autoline/docker-compose.prod.yml
  backend/Dockerfile.dev
  backend/Dockerfile.prod
  backend/package.json
  frontend/Dockerfile.prod
  frontend/package.json
  frontend/yarn.lock
  shared/package.json
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs
