Repository BinaryStudioAcademy/bsa-2022-autoline: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:tests:js, yarn lint:backend:js, yarn lint:frontend:css, yarn lint:frontend:js

.lintstagedrc.yml:

'*.{ts,tsx,html,json,md}': prettier --write
'*': yarn lint:editorconfig && yarn lint:fs
'shared/**/*.ts': yarn lint:shared:js
'tests/**/*.ts': yarn lint:tests:js
'backend/**/*.ts': yarn lint:backend:js
'frontend/**/*.scss': yarn lint:frontend:css
'frontend/**/*.{ts,tsx}': yarn lint:frontend:js

Fix equal height rows for options tables
  frontend/src/assets/css/styles.scss
  frontend/src/components/comparison-options-table/options-subtable.tsx
  frontend/src/components/comparison-options-table/styles.module.scss
  frontend/src/components/general-comparison-table/general-comparison-table.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

changed logo, now it is bigger
  backend/api-autoria/cars/cars-data.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Add missing equal height for color
  frontend/src/components/general-comparison-table/general-comparison-table.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

fixed take value
  frontend/src/components/viewed-cars/viewed-cars.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

fix reduce for empty array
  frontend/src/helpers/comparsion/find-empty-option.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

fixed about page
  frontend/src/components/about-page/about-page.tsx
  frontend/src/components/about-page/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

created comparison car card
  frontend/src/components/history-of-comparisons/components/comparisons-card/comparison-car-card.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

created comparisons card
  frontend/src/components/history-of-comparisons/components/comparisons-card/comparisons-card.tsx
  frontend/src/components/history-of-comparisons/components/comparisons-card/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

created comparisons grid
  frontend/src/components/history-of-comparisons/components/comparisons-grid/comparisons-grid.tsx
  frontend/src/components/history-of-comparisons/components/comparisons-grid/style.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

created history of comparisons block
  frontend/src/components/history-of-comparisons/history-of-comparisons.tsx
  frontend/src/components/history-of-comparisons/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

changed item in user info panel
  frontend/src/components/user-info-panel/user-info-panel.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

added history of comparisons to the personal page
  frontend/src/components/personal-page/personal-page.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

saved adverts for all complectations which user chosed
  frontend/src/common/types/types.ts
  frontend/src/common/types/where-to-buy/where-to-buy.ts
  frontend/src/components/where-to-buy/where-to-buy.tsx
  frontend/src/store/queries/where-buy.ts
  frontend/src/store/root-reducer.ts
  frontend/src/store/where-buy/slice.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

solving the issue
  frontend/src/components/where-to-buy/where-to-buy.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Increased max price
  frontend/src/common/enums/car/ranges.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

created types for history of comparisons
  shared/src/common/types/history-of-comparisons/history-of-comparisons-dto.type.ts
  shared/src/common/types/history-of-comparisons/history-of-comparisons.ts
  shared/src/common/types/types.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js

created format function for formated response data
  backend/src/helpers/helpers.ts
  backend/src/helpers/history-of-comparisons/history-of-comparisons.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

created history of comparisons service
  backend/src/services/history-of-comparisons/history-of-comparisons.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Fixed bug 112
  frontend/src/components/complete-set-table/complete-set-table-collapsed.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

created history of comparisons controller
  backend/src/controllers/history-of-comparisons/history-of-comparisons.controller.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

created new route history/comparisons
  backend/src/routes/history-of-comparisons/history-of-comparisons.router.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

added route to server file
  backend/src/routes/routes.ts
  backend/src/server.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

created rtk query for history of comparisons
  frontend/src/store/queries/api-routes.ts
  frontend/src/store/queries/history-of-comparisons/index.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

update comparison card
  frontend/src/components/history-of-comparisons/components/comparisons-card/comparison-car-card.tsx
  frontend/src/components/history-of-comparisons/components/comparisons-card/comparisons-card.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

added message when data is empty
  frontend/src/components/history-of-comparisons/components/comparisons-grid/comparisons-grid.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

added counter logic for history of comparisons
  frontend/src/components/user-info-panel/user-info-panel.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

fix problem with JsonValue type
  backend/src/helpers/history-of-comparisons/history-of-comparisons.ts
  shared/src/common/types/history-of-comparisons/history-of-comparisons-dto.type.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:backend:js

fix error with photos field
  backend/src/helpers/history-of-comparisons/history-of-comparisons.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

fix code linting warning
  frontend/src/components/history-of-comparisons/components/comparisons-card/comparisons-card.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

fixed old search results when moving from landing
  frontend/src/components/search-page/search-page.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

fix empty options finder
  frontend/src/helpers/comparsion/find-empty-option.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

added use effect in coparison component
  frontend/src/components/comp-top-table-bar/components/comparison.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Add link for comparison car
  frontend/src/components/comp-top-table-bar/components/complectation.tsx
  frontend/src/components/comp-top-table-bar/components/styles.module.scss
  frontend/src/components/details-page/collapse-block/collapse-block.tsx
  frontend/src/components/details-page/details-page.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

added scrolling top when user click by car card on the personal page
  frontend/src/components/new-car-card/new-car-card.tsx
  frontend/src/components/viewed-cars/components/short-car-card/short-car-card.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Rename Complete set to Complectations
  frontend/src/components/details-page/details-page.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

fix user panel mobile layout
  frontend/src/components/user-info-panel/styles.module.scss
Due: yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css

added providesTags to getallcomparisons query
  frontend/src/store/queries/history-of-comparisons/index.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Rewrote on toastify + added notify to compare
  frontend/package.json
  frontend/src/assets/css/styles.scss
  frontend/src/assets/css/toastify-variables.scss
  frontend/src/components/common/notification/notification.tsx
  frontend/src/components/common/notification/styles.module.scss
  frontend/src/contexts/compare-context.tsx
  frontend/src/contexts/wishlist-context.tsx
  frontend/src/main.tsx
  frontend/yarn.lock
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

add 'users autoria viewed cars' to prisma schema
  backend/prisma/migrations/20220916084403_add_users_autoria_viewed_cars/migration.sql
  backend/prisma/schema.prisma
Due: yarn lint:editorconfig && yarn lint:fs

Fix search page mobile view
  frontend/src/components/advanced-auto-filter/styles.module.scss
  frontend/src/components/car-list-item/car-list-item.tsx
  frontend/src/components/car-list-item/styles.module.scss
  frontend/src/components/search-page/search-page.tsx
  frontend/src/components/search-page/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js
