Repository BinaryStudioAcademy/bsa-2022-autoline: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:tests:js, yarn lint:backend:js, yarn lint:frontend:css, yarn lint:frontend:js

.lintstagedrc.yml:

'*.{ts,tsx,html,json,md}': prettier --write
'*': yarn lint:editorconfig && yarn lint:fs
'shared/**/*.ts': yarn lint:shared:js
'tests/**/*.ts': yarn lint:tests:js
'backend/**/*.ts': yarn lint:backend:js
'frontend/**/*.scss': yarn lint:frontend:css
'frontend/**/*.{ts,tsx}': yarn lint:frontend:js

feat (docker) Add Docker file to mariaDB.
  .docker/autoline/database/Dockerfile
  .docker/autoline/database/user_privileges.sql
  .docker/autoline/docker-compose.yml
  backend/.env.example
  backend/package.json
  frontend/package.json
  package.json
  shared/package.json
  yarn.lock
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs

fix (structure) Fix structure of backend
  backend/.env.example
  backend/src/common/enums/app/app.ts
  backend/src/common/enums/app/env.enum.ts
  backend/src/configs/config.ts
  backend/src/helpers/token/create-token/create-token.helper.ts
  backend/src/helpers/token/verify-token/verify-token.helper.ts
  backend/src/server.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Added store and useAppSelector
  frontend/package.json
  frontend/src/common/types/app/app.ts
  frontend/src/common/types/app/root-state.type.ts
  frontend/src/common/types/types.tsx
  frontend/src/hooks/hooks.ts
  frontend/src/hooks/store/store.hooks.ts
  frontend/src/main.tsx
  frontend/src/store/root-reducer.ts
  frontend/src/store/store.ts
  frontend/yarn.lock
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

resolved 2 more conflicts for merge
  backend/src/helpers/helpers.ts
  backend/src/helpers/token/create-token/create-token.helper.ts
  backend/src/helpers/token/token.ts
  backend/src/helpers/token/verify-token/verify-token.helper.ts
  backend/src/services/auth/auth.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

fix (structure) Fix structure of frontend
  frontend/.env.example
  frontend/src/common/enums/app/app.ts
  frontend/src/configs/config.ts
  frontend/src/main.tsx
  frontend/tsconfig.json
  package.json
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Fix Workspaces
  package.json
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs

fixed files package.json, yarn.lock
  package.json
  yarn.lock
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs

fixed auth.service.ts
  backend/src/services/auth/auth.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

get env variables from file
  .docker/autoline/docker-compose.yml
Due: yarn lint:editorconfig && yarn lint:fs

Add docker development configuration
  .docker/autoline/_docker-compose.dev.yml
  .docker/autoline/backend.Dockerfile
  .docker/autoline/docker-compose.dev.yml
  .docker/autoline/frontend.Dockerfile
  .docker/autoline/nginx/nginx.conf
  .env.example/db.env
Due: yarn lint:editorconfig && yarn lint:fs

add ole field to jwt
  backend/src/services/auth/auth.service.ts
  shared/src/common/types/auth/token-payload.type.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:backend:js

Added sample slice
  frontend/src/store/auth/slice.ts
  frontend/src/store/root-reducer.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

add NOT_ENOUGH_PERMISSIONS to ExeptionMessage enum
  backend/src/common/enums/exception/exception-message.enum.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

fix: .status() must be specified before .json() to work properly
  backend/src/middlewares/exceptions/exceptions.middleware.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Add github actions
  .github/workflows/ci.yml
  .github/workflows/deploy.dev.yml
Due: yarn lint:editorconfig && yarn lint:fs

Add primary font variable
  frontend/src/assets/css/form.scss
  frontend/src/assets/css/styles.scss
  frontend/src/assets/css/variables.scss
  frontend/src/components/common/input-field/styles.module.scss
  frontend/src/components/common/select-field/styles.module.scss
Due: yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css

implement roles based protection middleware
  backend/src/middlewares/middlewares.ts
  backend/src/middlewares/roles-based-protection/role.middleware.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

add protected route for testing
  backend/src/routes/routes.ts
  backend/src/routes/test-protected-route/protected.router.ts
  backend/src/server.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

rename function
  backend/src/middlewares/roles-based-protection/role.middleware.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Added local MYSQL vars
  backend/.env.example
Due: yarn lint:editorconfig && yarn lint:fs

store user.id in jwt token under sub property
  backend/src/services/auth/auth.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Add User Wishlist model
  backend/prisma/schema.prisma
Due: yarn lint:editorconfig && yarn lint:fs

Add User Wishlist migration
  backend/prisma/migrations/20220811192358_user_wishlist/migration.sql
Due: yarn lint:editorconfig && yarn lint:fs

`NOT_ENOUGH_PERMISSIONS` typo fix
  backend/src/common/enums/exception/exception-message.enum.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Combined `next()` with `return`
  backend/src/middlewares/roles-based-protection/role.middleware.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

case when mail validate token live time is ended
  backend/src/common/enums/app/env.enum.ts
  backend/src/common/enums/app/route-path.enum.ts
  backend/src/controllers/mail_varification/send_mail_again.ts
  backend/src/controllers/mail_varification/varification.ts
  backend/src/routes/activate/activate.router.ts
  backend/src/routes/againMailActivate/againActivate.router.ts
  backend/src/routes/mailActivate/activate.router.ts
  backend/src/routes/routes.ts
  backend/src/server.ts
  backend/src/services/mail_verification/send.service.ts
  backend/src/services/mail_verification/token.service.ts
  backend/src/services/mail_verification/user_security.service.ts
  frontend/src/common/enums/app/app-route.enum.ts
  frontend/src/common/enums/app/app.ts
  frontend/src/common/enums/app/links.enum.ts
  frontend/src/navigation/routing/routing.tsx
  package.json
  yarn.lock
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js, yarn lint:frontend:js

Fixed bugs reported during PR review
  backend/src/common/enums/app/env.enum.ts
  backend/src/controllers/auth/auth.controller.ts
  backend/src/middlewares/auth/auth.middleware.ts
  backend/src/services/auth/auth.service.ts
  backend/src/services/mail_verification/send.service.ts
  backend/src/services/mail_verification/token.service.ts
  backend/src/validation-schemas/sign-up/sign-up.validation-schema.ts
  shared/src/common/types/auth/auth.ts
  shared/src/common/types/auth/sign-up-response-dto.type.ts
  shared/src/common/types/types.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:backend:js

Created data fetcher from AutoRIA API
  backend/package.json
  backend/prisma/seed.ts
  backend/prisma/seeds/fetch-cars-cata.ts
  backend/prisma/seeds/fetched-data/cars-data.ts
  backend/src/dtos/cars/brand.dto.ts
  backend/src/dtos/cars/plain-data.dto.ts
  backend/tsconfig.json
  backend/yarn.lock
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Fix store
  frontend/src/main.tsx
  frontend/src/store/auth/slice.ts
  frontend/src/store/root-reducer.ts
  frontend/src/store/store.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Fix User Wishlist model to have optional fields
  backend/prisma/migrations/20220812063354_fix_user_wishlist_optional_data/migration.sql
  backend/prisma/schema.prisma
Due: yarn lint:editorconfig && yarn lint:fs

Add wishlist response DTO
  shared/src/common/types/preferences/preferences.ts
  shared/src/common/types/preferences/wishlist-response-dto.type.ts
  shared/src/common/types/types.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js

Add wishlist input type
  backend/src/common/types/prisma/prisma.ts
  backend/src/common/types/types.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Add wishlist routes
  backend/src/routes/preferences/wishlist.router.ts
  backend/src/routes/routes.ts
  backend/src/server.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Add wishlist controller for Model and Complectation
  backend/src/controllers/preferences/wishlist.controller.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Add wishlist service
  backend/src/services/preferences/wishlist.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Added header
  frontend/src/assets/images/header/arrow-drop-down.svg
  frontend/src/assets/images/header/bell.svg
  frontend/src/assets/images/header/comparisons.svg
  frontend/src/assets/images/header/default-avatar.png
  frontend/src/assets/images/header/heart.svg
  frontend/src/components/header/header.module.scss
  frontend/src/components/header/header.tsx
  frontend/src/components/header/logo/logo.module.scss
  frontend/src/components/header/logo/logo.tsx
  frontend/src/components/header/navigate/navigate.module.scss
  frontend/src/components/header/navigate/navigate.tsx
  frontend/src/components/header/private-elements/private-elements.module.scss
  frontend/src/components/header/private-elements/private-elements.tsx
  frontend/src/components/header/public-elements/public-elements.module.scss
  frontend/src/components/header/public-elements/public-elements.tsx
  frontend/src/components/header/reminders/reminders.module.scss
  frontend/src/components/header/reminders/reminders.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

mailtrap for verification email
  backend/src/common/enums/app/env.enum.ts
  backend/src/controllers/mail_varification/send_mail_again.ts
  backend/src/controllers/mail_varification/verification.ts
  backend/src/helpers/mailtrap/interfaces/INodemailerPayload.ts
  backend/src/helpers/mailtrap/mailtrap.ts
  backend/src/helpers/mailtrap/templates/resetPasswordConfirmation.ts
  backend/src/helpers/mailtrap/templates/resetPasswordRequest.ts
  backend/src/routes/mailActivate/activate.router.ts
  backend/src/server.ts
  backend/src/services/mail_verification/send.service.ts
  backend/src/services/mail_verification/send_mail/sendAgainEmail.ts
  backend/src/services/mail_verification/send_mail/templates/send_verification_link.ts
  backend/src/services/mail_verification/token.service.ts
  backend/src/services/mail_verification/user_security.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Fix user relation for User wishlist model
  backend/prisma/migrations/20220812143929_fix_user_wishlist_user_relation/migration.sql
  backend/prisma/schema.prisma
Due: yarn lint:editorconfig && yarn lint:fs

refactored some code, corrected schema prisma
  .env.example/backend.env
  .env.example/frontend.env
  README.md
  backend/prisma/schema.prisma
  backend/src/common/enums/app/env.enum.ts
  backend/src/controllers/mail_varification/send_mail_again.ts
  backend/src/controllers/mail_varification/verification.ts
  backend/src/routes/mailActivate/activate.router.ts
  backend/src/routes/routes.ts
  backend/src/server.ts
  backend/src/services/mail_verification/send.service.ts
  backend/src/services/mail_verification/send_mail/constants.ts
  backend/src/services/mail_verification/send_mail/sendLink.ts
  backend/src/services/mail_verification/send_mail/templates/send_verification_link.ts
  frontend/src/common/enums/app/app-route.enum.ts
  frontend/src/navigation/routing/routing.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js, yarn lint:frontend:js

create component TopCarCard
  frontend/src/assets/images/fuel.svg
  frontend/src/assets/images/map-pin.svg
  frontend/src/assets/images/speedometr.svg
  frontend/src/assets/images/transmission.svg
  frontend/src/components/top-car-card/styles.module.scss
  frontend/src/components/top-car-card/top-car-card.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js
