Repository BinaryStudioAcademy/bsa-2022-autoline: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:tests:js, yarn lint:backend:js, yarn lint:frontend:css, yarn lint:frontend:js

Added button in the advanced form
  frontend/src/components/advanced-auto-filter/advanced-auto-filter.tsx
  frontend/src/components/advanced-auto-filter/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

added UAH price
  backend/src/controllers/complectations/complectations.controller.ts
  backend/src/services/complectations/complectations.service.ts
  frontend/src/common/types/details-panel/details.panel.ts
  frontend/src/components/details-car-panel/details-car-panel.tsx
  frontend/src/helpers/utils/convertPrice.ts
  frontend/src/store/exchange-rates/slice.ts
  frontend/src/store/queries/details-panel.ts
  frontend/src/store/root-reducer.ts
  frontend/src/store/store.ts
  shared/src/common/types/complectations/complectations.ts
  shared/src/common/types/types.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:backend:js, yarn lint:frontend:js

Add missing properties
  backend/src/services/cars/cars.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

correction due link warning
  frontend/src/common/types/mail-verification/email-verification.ts
  frontend/src/components/landing-page/landing-page.tsx
  frontend/src/components/mail-verification/verification-failed/mail-verification-failed.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Make filtersToQuery helper more general
  frontend/src/components/simple-auto-filter/simple-auto-filter.tsx
  frontend/src/helpers/object-to-query.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Pass filter results to parent component
  frontend/src/common/types/advanced-auto-filter/advanced-auto-filter.ts
  frontend/src/components/advanced-auto-filter/advanced-auto-filter.tsx
  frontend/src/components/search-page/search-page.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

fix tabs in drawer, new car card's styles
  frontend/src/components/landing-page/components/drawer/drawer.tsx
  frontend/src/components/new-car-card/new-car-card.tsx
  frontend/src/components/new-car-card/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

Display props in Complete Set Table
  frontend/src/common/enums/car/options.enum.ts
  frontend/src/common/types/complete-set/complete-set.ts
  frontend/src/common/types/types.ts
  frontend/src/components/complete-set-table/complete-set-table-collapsed.tsx
  frontend/src/components/complete-set-table/complete-set-table.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Add missing props to Complectation Details type
  shared/src/common/types/cars/complectation.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js

Remove hardcoded data from Car list item
  frontend/src/common/types/car-list-item/car-list-item.ts
  frontend/src/components/car-list-item/car-list-item.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Add RTK Query for Car list item
  frontend/src/store/queries/cars/index.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

fix mui-alert's font-size, reset password's alert
  frontend/src/assets/css/form.scss
  frontend/src/components/reset-password/reset-password.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

Add notice if no cars found
  frontend/src/components/search-page/search-page.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

deleted fetched-data.ts
  backend/api-autoria/cars/fetched-data/fetched-data.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Added backend functionality
  backend/src/controllers/update-user/update-user.controller.ts
  backend/src/routes/update-user/update-user.router.ts
  backend/src/services/update-user/update-user.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Fixed validation schema
  shared/src/common/validation-schemas/update-user.validation-schema.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js

Added query for user information
  frontend/src/store/queries/user/update-user.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Fixed naming
  frontend/src/components/edit-profile/select-year-range/select-year-range.tsx
  frontend/src/components/edit-profile/select-year-range/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

Connecting headers into one
  frontend/src/components/header/default-elements/default-elements.tsx
  frontend/src/components/header/header.module.scss
  frontend/src/components/header/header.tsx
  frontend/src/components/header/logo/logo.module.scss
  frontend/src/components/header/logo/logo.tsx
  frontend/src/components/header/navigate/navigate.module.scss
  frontend/src/components/header/navigate/navigate.tsx
  frontend/src/components/header/private-elements/private-elements.module.scss
  frontend/src/components/header/public-elements/public-elements.module.scss
  frontend/src/components/header/public-elements/public-elements.tsx
  frontend/src/components/header/styles.module.scss
  frontend/src/components/landing-page/components/components.ts
  frontend/src/components/landing-page/components/header/header.tsx
  frontend/src/components/landing-page/landing-page.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

Added birth_year in type of user
  shared/src/common/types/user/user.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js

Added fetch information about user
  frontend/src/components/edit-profile/edit-profile.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Connecting headers into one
  package.json
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs

Connecting headers into one
  yarn.lock
Due: yarn lint:editorconfig && yarn lint:fs

Add cerificate to ec2
  .docker/autoline/docker-compose.stage.yml
  .docker/autoline/nginx/nginx.conf
Due: yarn lint:editorconfig && yarn lint:fs

Add deleting docker-compose images after deploy
  .github/workflows/deploy-stage.yml
Due: yarn lint:editorconfig && yarn lint:fs

Moved callbacks in the end
  frontend/src/components/edit-profile/select-field-form/select-field-form.type.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Remove 'reset' from type of ButtonPropsType
  frontend/src/common/types/button/button.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Replaced empty `ProfileFieldsResponseData` infs w/ type
  shared/src/common/types/user/update-user.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js

Fix certififcate
  .docker/autoline/docker-compose.stage.yml
Due: yarn lint:editorconfig && yarn lint:fs

where to buy element close to be done
  frontend/src/assets/images/logo-autoria.png
  frontend/src/components/where-buy/styles.module.scss
  frontend/src/components/where-buy/where-buy-component/styles.module.scss
  frontend/src/components/where-buy/where-buy-component/where-buy-component.tsx
  frontend/src/components/where-buy/where-buy.tsx
  frontend/src/navigation/routing/routing.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

added search by name for user management
  backend/prisma/migrations/20220809093013_user_security_table/migration.sql
  backend/prisma/schema.prisma
  backend/src/controllers/update-user/update-user.controller.ts
  backend/src/controllers/users/users.controller.ts
  backend/src/dtos/user/update-user.dto.ts
  backend/src/services/users/users.service.ts
  frontend/src/common/types/mail-verification/email-verification.ts
  frontend/src/components/administration/administration.tsx
  frontend/src/components/administration/users/dialog-edit-user.tsx
  frontend/src/components/administration/users/users-list-container.tsx
  frontend/src/components/administration/users/users-list.tsx
  frontend/src/components/mail-verification/verification-failed/mail-verification-failed.tsx
  frontend/src/store/queries/users/index.ts
  package.json
  yarn.lock
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js, yarn lint:frontend:js

fix (ci) linter
  .github/workflows/ci.yml
Due: yarn lint:editorconfig && yarn lint:fs

Changed mounting behaviour
  frontend/src/components/advanced-auto-filter/advanced-auto-filter.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

fixed sending email after signup
  backend/src/services/auth/auth.service.ts
  backend/src/services/mail-verification/send.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Add prisma migrations
  .docker/autoline/backend.Dockerfile
Due: yarn lint:editorconfig && yarn lint:fs

Added `CharacteristicsOption` explanation
  frontend/src/common/types/characteristics-list/characteristics-list.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Renamed `Autoline build test` -> `Autoline lint`
  .github/workflows/ci.yml
Due: yarn lint:editorconfig && yarn lint:fs

Path conditions:
  prettier --write: any of: *.{ts,tsx,html,json,md}
  yarn lint:editorconfig && yarn lint:fs: any of: *
  yarn lint:shared:js: any of: shared/**/*.ts
  yarn lint:tests:js: any of: tests/**/*.ts
  yarn lint:backend:js: any of: backend/**/*.ts
  yarn lint:frontend:css: any of: frontend/**/*.scss
  yarn lint:frontend:js: any of: frontend/**/*.{ts,tsx}
