Repository BinaryStudioAcademy/bsa-2022-autoline: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:tests:js, yarn lint:backend:js, yarn lint:frontend:css, yarn lint:frontend:js

.lintstagedrc.yml:

'*.{ts,tsx,html,json,md}': prettier --write
'*': yarn lint:editorconfig && yarn lint:fs
'shared/**/*.ts': yarn lint:shared:js
'tests/**/*.ts': yarn lint:tests:js
'backend/**/*.ts': yarn lint:backend:js
'frontend/**/*.scss': yarn lint:frontend:css
'frontend/**/*.{ts,tsx}': yarn lint:frontend:js

deleted some comment
  backend/src/services/cars/cars-search.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

added props, deleted route
  frontend/src/components/where-to-buy/where-to-buy.tsx
  frontend/src/navigation/routing/routing.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Fixed email domain validation
  shared/src/common/validation-schemas/update-user.validation-schema.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js

Added aws credentials to env example
  .env.example/backend.env
Due: yarn lint:editorconfig && yarn lint:fs

Added functionality on backend for deleting and resizing on upload user photo
  backend/package.json
  backend/src/common/enums/aws/aws.ts
  backend/src/common/enums/aws/s3-folders.ts
  backend/src/common/enums/image/image.ts
  backend/src/common/enums/image/profile-image-size.ts
  backend/src/controllers/update-user/update-user.controller.ts
  backend/src/helpers/helpers.ts
  backend/src/helpers/users/delete-user-photo/delete-user-photo.ts
  backend/src/helpers/users/users.ts
  backend/src/routes/update-user/update-user.router.ts
  backend/src/services/aws/aws.service.ts
  backend/src/services/user/user.service.ts
  backend/yarn.lock
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Changed 2D Array to Array of objects
  frontend/src/common/types/cars/applied-filter.type.ts
  frontend/src/components/applied-filters-bar/applied-filters-bar.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

fix reset password validation message
  shared/src/common/enums/validation/user-validation-message.enum.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js

Added functionality on frontend for deleting user photo
  frontend/src/components/edit-profile/edit-profile.tsx
  frontend/src/components/edit-profile/styles.module.scss
  frontend/src/store/queries/user/update-user.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

Fixed creepy loading user photo
  frontend/src/components/edit-profile/edit-profile.tsx
  frontend/src/components/header/private-elements/private-elements.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

add comparisons-top-table-bar functionality
  backend/src/controllers/comparisons/comparisons.controller.ts
  backend/src/routes/comparisons/comparisons.router.ts
  backend/src/services/comparisons/comparisons.service.ts
  frontend/package.json
  frontend/src/common/enums/app/app-route.enum.ts
  frontend/src/components/common/icons/trash-can/trash-can.tsx
  frontend/src/components/comp-top-table-bar/comp-top-table-bar.tsx
  frontend/src/components/comp-top-table-bar/components/complectation.tsx
  frontend/src/components/comp-top-table-bar/components/complectations-column.tsx
  frontend/src/components/comp-top-table-bar/components/drag-and-drop.tsx
  frontend/src/components/comp-top-table-bar/components/styles.module.scss
  frontend/src/store/queries/comparisons/index.ts
  frontend/yarn.lock
  shared/src/common/types/comparisons/comp-preview-info.ts
  shared/src/common/types/types.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:backend:js, yarn lint:frontend:css, yarn lint:frontend:js

Add applied-filters-bar in search-page
  frontend/src/components/applied-filters-bar/applied-filters-bar.tsx
  frontend/src/components/search-page/search-page.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Fixed some styles
  frontend/src/components/applied-filters-bar/applied-filters-bar.tsx
  frontend/src/components/applied-filters-bar/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

Fixed requested changes
  backend/src/controllers/update-user/update-user.controller.ts
  backend/src/helpers/helpers.ts
  backend/src/middlewares/update-user/update-user.middleware.ts
  backend/src/services/aws/aws.service.ts
  backend/src/services/photo/photo.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Fixed edit page height
  frontend/src/components/edit-profile/styles.module.scss
Due: yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css

added trash icon
  frontend/src/assets/images/trash.svg
Due: yarn lint:editorconfig && yarn lint:fs

creted car card view for comparison popup
  frontend/src/components/comparison-popup/car-card/car-card.tsx
  frontend/src/components/comparison-popup/car-card/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

created comparison popup view
  frontend/src/components/comparison-popup/comparison-popup.tsx
  frontend/src/components/comparison-popup/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

add endpoint to get all options
  backend/src/controllers/comparisons/comparisons.controller.ts
  backend/src/routes/comparisons/comparisons.router.ts
  backend/src/services/comparisons/comparisons.service.ts
  frontend/src/store/queries/comparisons/index.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js, yarn lint:frontend:js

add generic options subtable component
  frontend/src/components/comparison-options-table/options-subtable.tsx
  frontend/src/components/comparison-options-table/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

Fixed validation messages
  shared/src/common/validation-schemas/update-user.validation-schema.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js

remove comparison item in user-info-panel
  frontend/src/components/user-info-panel/user-info-panel.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

added id for wishlist title
  frontend/src/assets/images/arrow-right-left.svg
  frontend/src/components/wishlist/wishlist.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

added hashlink to the favirite icon in header
  frontend/src/components/header/reminders/reminders.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

remove AuthRequest type
  backend/src/common/types/controller/controller.ts
  backend/src/common/types/types.ts
  backend/src/controllers/comparisons/comparisons.controller.ts
  backend/src/controllers/complectations/complectations.controller.ts
  backend/src/controllers/new-cars/new-cars.ts
  backend/src/controllers/preferences/wishlist.controller.ts
  backend/src/controllers/update-user/update-user.controller.ts
  backend/src/controllers/users/users.controller.ts
  backend/src/controllers/viewed-cars/viewed-cars.controller.ts
  backend/src/middlewares/update-user/update-user.middleware.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

remove console log when user click to submit button
  frontend/src/components/comparison-popup/comparison-popup.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Changed argument for resizePhoto
  backend/src/controllers/update-user/update-user.controller.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Added user photo deletion from AWS S3 when deleting a user
  backend/src/controllers/update-user/update-user.controller.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

fixed as recommended in PR review
  backend/src/common/enums/app/app.ts
  backend/src/common/enums/app/links-to-resources.enum.ts
  backend/src/helpers/cars/api-autoria.helper.ts
  backend/src/services/cars/cars-update.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

deleted comment
  backend/src/helpers/cars/api-autoria.helper.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

connect-the-characteristics-menu-with-the-backend
  backend/src/services/complectations/complectations.service.ts
  frontend/src/components/characteristics-list/characteristics-group/characteristics-group.tsx
  frontend/src/components/characteristics-list/characteristics-group/styles.module.scss
  frontend/src/components/characteristics-list/characteristics-list.tsx
  frontend/src/components/characteristics-list/helpers/helpers.ts
  frontend/src/components/characteristics-list/styles.module.scss
  shared/src/common/types/complectations/complectations.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:backend:js, yarn lint:frontend:css, yarn lint:frontend:js

lint's fix
  frontend/src/components/characteristics-list/styles.module.scss
Due: yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css

lint's fix#2
  frontend/src/components/characteristics-list/characteristics-list.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Changed brand details to separate inputs
  frontend/src/assets/css/form.scss
  frontend/src/components/advanced-auto-filter/brand-details/brand-details.tsx
  frontend/src/components/common/multiselect-input/styles.module.scss
  frontend/src/components/simple-auto-filter/simple-auto-filter.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

setting-carousel-to-detailed-page-layout
  frontend/src/components/common/carousel/carousel.tsx
  frontend/src/components/common/carousel/styles.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

added recent search route
  backend/src/controllers/recent-search-cars/recent-search-cars.controller.ts
  backend/src/routes/recent-search-cars/recent-search-cars.router.ts
  backend/src/routes/routes.ts
  backend/src/server.ts
  backend/src/services/recent-search-cars/resent-search-cars.service.ts
  frontend/src/components/search-page/search-page.tsx
  shared/src/common/types/recent-search-cars/recent-searh-cars.ts
  shared/src/common/types/types.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:backend:js, yarn lint:frontend:js

fixed bug with editing user by admin
  backend/src/services/users/users.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

add-to-complete-set-like-icons-for-detailed-page
  frontend/src/common/types/complete-set/complete-set.ts
  frontend/src/components/complete-set-table/complete-set-table.tsx
  frontend/src/components/complete-set-table/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

change options endpoint url
  backend/src/routes/comparisons/comparisons.router.ts
  frontend/src/store/queries/comparisons/index.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js, yarn lint:frontend:js

update options table data flow
  frontend/src/components/comparison-options-table/options-subtable.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

setting-detailed-car-panel-to-detailed-page-layout
  backend/src/services/complectations/complectations.service.ts
  frontend/src/components/details-car-panel/details-car-panel.tsx
  frontend/src/components/details-car-panel/styles.module.scss
  shared/src/common/types/complectations/complectations.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:backend:js, yarn lint:frontend:css, yarn lint:frontend:js
