Repository BinaryStudioAcademy/bsa-2022-autoline: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:tests:js, yarn lint:backend:js, yarn lint:frontend:css, yarn lint:frontend:js

refactor!: remove redundant `env-cmd` in favor of the docker-compose env
  backend/package.json
  backend/src/server.ts
  backend/yarn.lock
  frontend/package.json
  frontend/yarn.lock
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

feat: add basic health controller
  backend/package.json
  backend/src/server.ts
  backend/yarn.lock
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

feat: add app enums
  backend/src/common/enums/app/app-environment.enum.ts
  backend/src/common/enums/app/app.ts
  backend/src/common/enums/app/env.enum.ts
  backend/src/common/enums/app/log-level.enum.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

feat: replace hardcoded values with ENV
  backend/src/server.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

feat: extracted health controller into separate files
  backend/src/controllers/health/health.controller.ts
  backend/src/routes/health/health.router.ts
  backend/src/server.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

feat: add `Prisma` to the project
  .idea/dataSources.xml
  backend/package.json
  backend/prisma/schema.prisma
  backend/yarn.lock
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs

feat: add `User` table migration
  .idea/sqldialects.xml
  backend/prisma/migrations/20220709125304_user_table/migration.sql
  backend/prisma/migrations/migration_lock.toml
Due: yarn lint:editorconfig && yarn lint:fs

feat: add more dev prisma commands
  backend/package.json
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs

refactor: update env vars format
  backend/src/common/enums/app/env.enum.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

build: dockerized database
  .docker/autoline/docker-compose.dev.yml
  .idea/dataSources.xml
  backend/package.json
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs

chore: add `mariadb.env` to examples
  .env.example/mariadb.env
Due: yarn lint:editorconfig && yarn lint:fs

feat: add generic errors handler middleware
  .eslintrc.yml
  backend/src/middlewares/errors-handler.middleware.ts
  backend/src/middlewares/middlewares.ts
  backend/src/server.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

feat: add v1 prefix to the routes
  backend/src/server.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

feat: add global `prisma` instance
  backend/src/data/prisma-client.ts
  backend/tsconfig.json
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

feat: add local passport strategy
  backend/package.json
  backend/src/middlewares/auth/auth.middleware.ts
  backend/src/middlewares/auth/strategies/local.strategy.ts
  backend/src/middlewares/auth/strategies/strageties.ts
  backend/src/middlewares/exceptions/exceptions.middleware.ts
  backend/src/middlewares/middlewares.ts
  backend/yarn.lock
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

feat: add types for the express requests
  backend/src/common/types/controller/controller.ts
  backend/src/common/types/types.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

feat: add enum for the exception messages
  backend/src/common/enums/exception/exception-message.enum.ts
  backend/src/common/enums/exception/exception.ts
  backend/src/middlewares/auth/strategies/local.strategy.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

refactor: add usage of a single backend.env file
  .docker/autoline/docker-compose.dev.yml
  .env.example/backend.env
  .env.example/mariadb.env
Due: yarn lint:editorconfig && yarn lint:fs

build: add separate compose for the db
  .docker/autoline/docker-compose.services.yml
Due: yarn lint:editorconfig && yarn lint:fs

feat: add custom `MariaDB` img with permissions granting
  database/Dockerfile.dev
  database/user_privileges.sql
Due: yarn lint:editorconfig && yarn lint:fs

build: add usage of the custom mariadb
  .docker/autoline/docker-compose.dev.yml
  .docker/autoline/docker-compose.services.yml
  .idea/dataSources.xml
  .idea/sqldialects.xml
Due: yarn lint:editorconfig && yarn lint:fs

fix: add correct alias for the `@services`
  backend/src/routes/health/health.router.ts
  backend/tsconfig.json
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

fix: make `user`'s `phone` & `location` optional
  backend/prisma/migrations/20220710184522_user_table/migration.sql
  backend/prisma/schema.prisma
Due: yarn lint:editorconfig && yarn lint:fs

feat: add shared auth types
  shared/src/common/types/auth/auth-response-dto.type.ts
  shared/src/common/types/auth/auth.ts
  shared/src/common/types/auth/token-payload.type.ts
  shared/src/common/types/types.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js

refactor: add usage of `link` instead of the `file`
  backend/package.json
  backend/yarn.lock
  frontend/package.json
  frontend/yarn.lock
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs

feat: add starter for the auth route
  backend/src/controllers/auth/auth.controller.ts
  backend/src/routes/auth/auth.router.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

fix!: remove `Converting circular structure to JSON` exceptions
  backend/src/middlewares/exceptions/exceptions.middleware.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

feat: add basic signup endpoint
  .env.example/backend.env
  backend/src/controllers/auth/auth.controller.ts
  backend/src/routes/auth/auth.router.ts
  backend/src/routes/routes.ts
  backend/src/server.ts
  backend/src/services/auth/auth.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

fix: prevent overriding of container's `node_modules` w/ not-existing host `node_modules`
  .docker/autoline/docker-compose.dev.yml
  backend/Dockerfile.dev
Due: yarn lint:editorconfig && yarn lint:fs

Project Preparations
  .docker/autoline/docker-compose.dev.yml
  .docker/autoline/docker-compose.prod.yml
  .docker/autoline/docker-compose.services.yml
  .docker/autoline/server.conf
  .env.example/backend.env
  .env.example/frontend.env
  .gitignore
  .idea/.gitignore
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  .idea/dataSources.xml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/jsLinters/eslint.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/prettier.xml
  .idea/sqldialects.xml
  .idea/stylesheetLinters/stylelint.xml
  .idea/vcs.xml
  .vscode/settings.json
  backend/Dockerfile.dev
  backend/Dockerfile.prod
  database/Dockerfile.dev
  database/user_privileges.sql
  frontend/Dockerfile.dev
  frontend/Dockerfile.prod
  nginx/nginx.prod.conf
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs

Added env example
  .env.example/backend.env
  .env.example/frontend.env
Due: yarn lint:editorconfig && yarn lint:fs

Added missing `yarn install:backend` to the `install:all`
  package.json
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs

Added `Dockerfile` for the database
  database/Dockerfile
  database/user_priviligies.sql
Due: yarn lint:editorconfig && yarn lint:fs

Added docker-compose file for the DB service
  .docker/autoline/docker-compose.services.yml
  database/user_privileges.sql
Due: yarn lint:editorconfig && yarn lint:fs

Added `MYSQL_HOST` & `MYSQL_PORT` to db connection definition
  .env.example/backend.env
Due: yarn lint:editorconfig && yarn lint:fs

Bumped `prisma`
  backend/package.json
  backend/yarn.lock
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs

Added dev compose for dev
  .docker/autoline/docker-compose.dev.yml
  backend/.dockerignore
  backend/Dockerfile.dev
Due: yarn lint:editorconfig && yarn lint:fs

Bumped `concurrently`
  shared/package.json
  shared/yarn.lock
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs

Fixed default `MYSQL_PORT`
  .docker/autoline/docker-compose.dev.yml
  .env.example/backend.env
Due: yarn lint:editorconfig && yarn lint:fs

Revert "Bumped `prisma`"
  backend/package.json
  backend/yarn.lock
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs

Path conditions:
  prettier --write: any of: *.{ts,tsx,html,json,md}
  yarn lint:editorconfig && yarn lint:fs: any of: *
  yarn lint:shared:js: any of: shared/**/*.ts
  yarn lint:tests:js: any of: tests/**/*.ts
  yarn lint:backend:js: any of: backend/**/*.ts
  yarn lint:frontend:css: any of: frontend/**/*.scss
  yarn lint:frontend:js: any of: frontend/**/*.{ts,tsx}
