Repository BinaryStudioAcademy/bsa-2022-autoline: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:tests:js, yarn lint:backend:js, yarn lint:frontend:css, yarn lint:frontend:js

.lintstagedrc.yml:

'*.{ts,tsx,html,json,md}': prettier --write
'*': yarn lint:editorconfig && yarn lint:fs
'shared/**/*.ts': yarn lint:shared:js
'tests/**/*.ts': yarn lint:tests:js
'backend/**/*.ts': yarn lint:backend:js
'frontend/**/*.scss': yarn lint:frontend:css
'frontend/**/*.{ts,tsx}': yarn lint:frontend:js

connect reset-password frontend with backend
  backend/src/controllers/auth/auth.controller.ts
  frontend/package.json
  frontend/src/common/enums/enums.ts
  frontend/src/common/enums/http/http-header.enum.ts
  frontend/src/common/enums/http/http.ts
  frontend/src/components/forgot-password/forgot-password.tsx
  frontend/src/components/forgot-password/styles.module.scss
  frontend/src/components/reset-password/reset-password.tsx
  frontend/src/components/reset-password/styles.module.scss
  frontend/src/navigation/routing/routing.tsx
  frontend/src/services/auth/auth.service.ts
  frontend/src/services/http/http.service.ts
  frontend/src/services/services.ts
  frontend/src/services/storage/storage.service.ts
  frontend/src/store/auth/slice.ts
  frontend/yarn.lock
  shared/src/common/enums/api/api-path.enum.ts
  shared/src/common/enums/api/api.ts
  shared/src/common/enums/api/auth-api-path.enum.ts
  shared/src/common/enums/enums.ts
  shared/src/common/enums/validation/user-validation-message.enum.ts
  shared/src/common/enums/validation/user-validation-rule.enum.ts
  shared/src/common/enums/validation/validation.ts
  shared/src/validation-schemas/forgot-password/forgot-password.validation-schema.ts
  shared/src/validation-schemas/validation-schemas.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:backend:js, yarn lint:frontend:css, yarn lint:frontend:js

add some fixes due to PR
  frontend/src/components/reset-password/reset-password.tsx
  frontend/src/helpers/validation/get-form-validation-resolver.ts
  frontend/src/store/queries/forgot-password.ts
  shared/tsconfig.json
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

add auth-wrapper
  frontend/src/components/common/auth-wrapper/auth-wrapper.tsx
  frontend/src/components/common/auth-wrapper/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

deleted unnecessary styles from auth-wrapper and fix due to PR
  frontend/package.json
  frontend/src/components/common/auth-wrapper/auth-wrapper.tsx
  frontend/src/components/common/auth-wrapper/styles.module.scss
  frontend/src/components/forgot-password/styles.module.scss
  frontend/src/components/reset-password/styles.module.scss
  frontend/yarn.lock
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

integrate one-root-createApi rule, fix due to requests in PR
  frontend/package.json
  frontend/src/common/enums/enums.ts
  frontend/src/common/types/input-field/input-field.tsx
  frontend/src/components/common/input-field/input-field.tsx
  frontend/src/components/common/input-field/styles.module.scss
  frontend/src/components/forgot-password/common.ts
  frontend/src/components/forgot-password/forgot-password.tsx
  frontend/src/components/reset-password/common.ts
  frontend/src/components/reset-password/reset-password.tsx
  frontend/src/exceptions/exceptions.ts
  frontend/src/helpers/http/get-stringified-query/get-stringified-query.helper.ts
  frontend/src/helpers/http/http.ts
  frontend/src/store/queries/auth.ts
  frontend/yarn.lock
  shared/src/common/enums/api/auth-api-path.enum.ts
  shared/src/common/types/auth/auth.ts
  shared/src/common/types/auth/forgot-password-data.ts
  shared/src/common/types/auth/reset-password-data.ts
  shared/src/common/types/types.ts
  shared/src/validation-schemas/validation-schemas.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:frontend:css, yarn lint:frontend:js

delete commented lines
  frontend/src/components/forgot-password/forgot-password.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

fix bug with @autoline/shared thing
  frontend/src/components/forgot-password/forgot-password.tsx
  frontend/src/components/reset-password/reset-password.tsx
  frontend/src/store/queries/auth.ts
  frontend/src/store/queries/forgot-password.ts
  frontend/src/store/queries/index.ts
  frontend/src/store/store.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

add fetched files from autoria to .gitignore file
  backend/.gitignore
Due: yarn lint:editorconfig && yarn lint:fs

fixed Fidan's remarks
  frontend/src/components/sign/components/sign-up-form/sign-up-form.tsx
  frontend/src/components/sign/components/sign-up-form/styles.module.scss
  shared/src/validation-schemas/sign-up/sign-up.validation-schema.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:frontend:css, yarn lint:frontend:js

Created logic to receive cars data
  backend/src/controllers/cars/cars.controller.ts
  backend/src/routes/cars/cars.router.ts
  backend/src/services/cars/cars.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Add wishlist routes to store
  frontend/src/store/queries/api_routes.ts
  frontend/src/store/queries/index.ts
  frontend/src/store/queries/preferences/wishlist/index.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

Fix to make deletion by wishlist id
  backend/src/controllers/preferences/wishlist.controller.ts
  backend/src/services/preferences/wishlist.service.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Fix heart icon to have hover
  frontend/src/components/common/icons/heart/heart.tsx
  frontend/src/components/common/icons/icons.tsx
  frontend/src/components/new-car-card/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

Replace hardcoded Car card data with props
  frontend/src/common/types/card/card.ts
  frontend/src/common/types/types.ts
  frontend/src/components/new-car-card/new-car-card.tsx
  frontend/src/components/personal-page/personal-page.tsx
  shared/src/common/types/preferences/preferences.ts
  shared/src/common/types/preferences/wishlist-response-dto.type.ts
  shared/src/common/types/types.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:frontend:js

Connect Wishlist component to the store
  frontend/src/components/wishlist/wishlist.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:js

collapse component work
  frontend/src/components/collapse_component/collapse.tsx
  frontend/src/components/collapse_component/mainCollapse.tsx
  frontend/src/components/collapse_component/precollapse.tsx
  frontend/src/components/collapse_component/styles.module.scss
  frontend/src/navigation/routing/routing.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

collapse component done
  frontend/src/components/collapse-component/collapse-element/collapse-element.tsx
  frontend/src/components/collapse-component/collapse-element/styles.module.scss
  frontend/src/components/collapse-component/collapse.tsx
  frontend/src/components/collapse_component/mainCollapse.tsx
  frontend/src/components/collapse_component/precollapse.tsx
  frontend/src/components/mail-verification/verification-success/success.tsx
  frontend/src/navigation/routing/routing.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

conflict resolving
  frontend/src/common/enums/app/app-route.enum.ts
  frontend/src/components/mail-verification/verification-failed/failed.tsx
  frontend/src/components/mail-verification/verification-failed/styles.module.scss
  frontend/src/components/mail-verification/verification-failed/validation-schema.ts
  frontend/src/components/mail-verification/verification-success/styles.module.scss
  frontend/src/components/mail-verification/verification-success/success.tsx
  frontend/src/navigation/routing/routing.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

conflict resolving
  backend/src/routes/activate-mail/activate.router.ts
  backend/src/routes/activation-link/activation-link.router.ts
  backend/src/services/auth/auth.service.ts
  backend/src/services/mail-verification/user-security.service.ts
  frontend/src/navigation/routing/routing.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js, yarn lint:frontend:js

finish header
  frontend/src/components/landing-page/components/header/header.tsx
  frontend/src/components/landing-page/components/header/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

create almost finished header
  frontend/src/components/landing-page/components/components.ts
  frontend/src/components/landing-page/components/drawer/drawer.tsx
  frontend/src/components/landing-page/components/header/header.tsx
  frontend/src/components/landing-page/components/header/styles.module.scss
  frontend/src/components/landing-page/landing-page.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

create landing page without media support
  frontend/src/assets/css/mixins.scss
  frontend/src/assets/css/styles.scss
  frontend/src/assets/css/variables.scss
  frontend/src/assets/images/landing-page/audi.png
  frontend/src/assets/images/landing-page/bmw.png
  frontend/src/assets/images/landing-page/chery.png
  frontend/src/assets/images/landing-page/kia.png
  frontend/src/assets/images/landing-page/mazda.png
  frontend/src/assets/images/landing-page/picture.png
  frontend/src/assets/images/landing-page/porsche.png
  frontend/src/assets/images/landing-page/subaru.png
  frontend/src/assets/images/landing-page/volkswagen.png
  frontend/src/components/landing-page/components/drawer/drawer.tsx
  frontend/src/components/landing-page/components/header/header.tsx
  frontend/src/components/landing-page/components/header/styles.module.scss
  frontend/src/components/landing-page/components/header/styles.scss
  frontend/src/components/landing-page/landing-page.tsx
  frontend/src/components/landing-page/styles.scss
  frontend/src/components/new-car-card/new-car-card.tsx
  frontend/src/components/new-car-card/styles.module.scss
  frontend/src/components/top-car-card/styles.module.scss
  frontend/src/navigation/routing/routing.tsx
  frontend/src/store/queries/forgot-password.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

predemo commit
  frontend/src/components/cars-categories/cars-categories.tsx
  frontend/src/components/landing-page/landing-page.tsx
  frontend/src/components/new-car-card/styles.module.scss
  frontend/src/components/top-car-card/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

finish landing page, mobile version seems nice
  frontend/src/components/cars-categories/cars-categories.tsx
  frontend/src/components/cars-categories/styles.module.scss
  frontend/src/components/cars-categories/swiper-params.ts
  frontend/src/components/landing-page/components/header/header.tsx
  frontend/src/components/landing-page/styles.scss
  frontend/src/navigation/routing/routing.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

delete unnecessary pictures
  frontend/src/assets/images/landing-page/audi.png
  frontend/src/assets/images/landing-page/bmw.png
  frontend/src/assets/images/landing-page/chery.png
  frontend/src/assets/images/landing-page/kia.png
  frontend/src/assets/images/landing-page/mazda.png
  frontend/src/assets/images/landing-page/porsche.png
  frontend/src/assets/images/landing-page/subaru.png
  frontend/src/assets/images/landing-page/volkswagen.png
Due: yarn lint:editorconfig && yarn lint:fs

change stylelintrc file so that it would be possible to use mixins
  .stylelintrc.yml
Due: yarn lint:editorconfig && yarn lint:fs

Created custom checkbox & checkbox-list
  frontend/src/assets/images/checkbox/checked.svg
  frontend/src/assets/images/checkbox/rectangle.svg
  frontend/src/common/types/select-field/select-field.ts
  frontend/src/components/common/checkbox-list/checkbox-list.tsx
  frontend/src/components/common/checkbox-list/styles.module.scss
  frontend/src/components/common/icons/arrow-down/arrow-down.tsx
  frontend/src/components/common/icons/checkbox/custom-checkbox.tsx
  frontend/src/components/common/icons/icons.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

fix/duplicated lines in seed.ts
  backend/prisma/seed.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

Deleted unnecessary where's in DB queries
  backend/package.json
  backend/src/services/cars/cars.service.ts
  frontend/src/store/queries/cars/index.ts
  shared/src/common/types/cars/brand.ts
  shared/src/common/types/cars/model.ts
  shared/src/common/types/cars/options.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:backend:js, yarn lint:frontend:js

Fixed wrong path in cars-categories.tsx, added some range lists and types
  frontend/src/common/enums/cars/ranges.ts
  frontend/src/common/types/cars/brand-details.type.ts
  frontend/src/common/types/cars/checkbox-list-data.type.ts
  frontend/src/common/types/cars/filters.type.ts
  frontend/src/components/cars-categories/cars-categories.tsx
  shared/src/common/types/types.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:shared:js, yarn lint:frontend:js

Added Simple,Advanced filter comps. + some common components & helper
  frontend/src/components/advanced-auto-filter/advanced-auto-filter.tsx
  frontend/src/components/advanced-auto-filter/brand-details/brand-details.tsx
  frontend/src/components/advanced-auto-filter/styles.module.scss
  frontend/src/components/common/autocomplete-text-field/autocomplete-text-field.tsx
  frontend/src/components/common/autocomplete-text-field/styles.module.scss
  frontend/src/components/common/range-selector/range-selector.tsx
  frontend/src/components/common/range-selector/styles.module.scss
  frontend/src/components/simple-auto-filter/simple-auto-filter.tsx
  frontend/src/components/simple-auto-filter/styles.module.scss
  frontend/src/helpers/strings.ts
  frontend/src/store/queries/api_routes.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

conflict solving
  backend/src/helpers/token/create-token/create-token.helper.ts
  backend/src/middlewares/auth/auth.middleware.ts
  backend/src/middlewares/roles-based-protection/role.middleware.ts
  backend/src/routes/activate-mail/activate.router.ts
  backend/src/routes/activation-link/activation-link.router.ts
  backend/src/services/auth/auth.service.ts
  backend/src/services/mail-verification/user-security.service.ts
  frontend/src/common/enums/api/verification-api-path.enum.ts
  frontend/src/components/mail-verification/verification-failed/failed.tsx
  frontend/src/components/mail-verification/verification-failed/styles.module.scss
  frontend/src/components/mail-verification/verification-failed/validation-schema.ts
  frontend/src/components/mail-verification/verification-success/styles.module.scss
  frontend/src/components/mail-verification/verification-success/success.tsx
  frontend/src/navigation/routing/routing.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js, yarn lint:frontend:css, yarn lint:frontend:js

conflict solving
  backend/src/services/mail-verification/user-security.service.ts
  frontend/src/navigation/routing/routing.tsx
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js, yarn lint:frontend:js

conflict solving
  frontend/src/assets/css/wrapper.scss
  frontend/src/store/queries/verification-link.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

conflict solving
  backend/src/controllers/mail-verification/send-link.ts
  backend/src/controllers/mail-verification/verification.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

conflict solving
  backend/src/controllers/mail-varification/send-link.ts
  backend/src/controllers/mail-varification/verification.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:backend:js

corrected template for verification mail message
  backend/src/services/mail-verification/send-activation-link/templates/email.hbs
  backend/src/services/mail-verification/send-activation-link/templates/logo.svg
Due: yarn lint:editorconfig && yarn lint:fs

fix due to PR
  frontend/src/assets/css/form.scss
  frontend/src/components/cars-categories/swiper-params.ts
  frontend/src/components/landing-page/components/drawer/drawer.tsx
  frontend/src/components/landing-page/components/header/header.tsx
  frontend/src/components/landing-page/components/header/styles.module.scss
  frontend/src/components/landing-page/landing-page.tsx
  frontend/src/components/landing-page/styles.module.scss
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js

Finished main logic & styles
  frontend/src/assets/css/form.scss
  frontend/src/common/enums/cars/ranges.ts
  frontend/src/common/types/cars/filters.type.ts
  frontend/src/components/advanced-auto-filter/advanced-auto-filter.tsx
  frontend/src/components/advanced-auto-filter/styles.module.scss
  frontend/src/components/common/autocomplete-input/autocomplete-input.tsx
  frontend/src/components/common/checkbox-list/checkbox-list.tsx
  frontend/src/components/common/checkbox-list/styles.module.scss
  frontend/src/components/common/select-field/select-field.tsx
  frontend/src/components/simple-auto-filter/simple-auto-filter.tsx
  frontend/src/components/simple-auto-filter/styles.module.scss
  frontend/src/helpers/strings.ts
  frontend/src/types/autocomplete.type.ts
Due: prettier --write, yarn lint:editorconfig && yarn lint:fs, yarn lint:frontend:css, yarn lint:frontend:js
